<%
    type = "content"
    page = "augmentation"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-motiva">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">보다 빠르게 시작했고,<br> 보다 많이 수술해서 자신 있는</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">모티바 가슴성형</span>
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-motiva">
            <div class="content-wrap">
                <div class="content__area">
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            모티바 가슴성형 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 30분 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">전신마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원/하루입원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">필요없음</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">약 2~3회 내원</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">약 3~4일 후 일상생활</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            모티바 가슴성형,<br>
                            바노바기가 <span class="color-point1">보다 빠르게</span> 시작했습니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            2016년 모티바가 국내에 처음 선보였을 때 가슴성형의 트렌드를 이끄는 바노바기에서 보다 빠르게 모티바를 이용한 가슴성형수술을 시작했습니다.
                            모티바의 가치와 모티바의 장점, 이것이 환자분들께 어떠한 결과로 이어질지 진지하게 연구하고 고민한 후 내린 과감한 결정이었습니다.<br>
                            <strong>보다 빠르게 시작했기에 더 많이 수술해 본 바노바기야말로 모티바 보형물을 잘 다루는 성형외과입니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="content__img">
                                <img src="../../images/augmentation/motiva/motiva_img_1.jpg" alt="" class="img-w100">
                            </div>
                        </div><!-- //content__wrap-->
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            모티바 가슴성형,<br>
                            <span class="color-point1">많이 해본</span> 바노바기가 잘 압니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            <sapn class="color-point1">수술 케이스가 많다는 것은 그만큼 다양한 경험을 해봤다는 것이고, 이 수술에 숙련되었다는 뜻이고, 그래서 좋은 결과를 자신한다는 뜻이기도 합니다.</sapn><br>
                            같은 보형물을 사용하더라도 누가 수술하느냐에 따라 결과는 달라질 수 밖에 없습니다. <br class="hidden-tm">
                            의사 입장에서는 미세할 지 몰라도 환자분들이 느끼는 차이는 클 것이라는 생각으로, 더 정성스럽고 더 좋은 수술방법을 계속 고민합니다.
                        </p>

                        <div class="content__wrap">
                            <div class="pattern">
                                <ul class="pattern__list">
                                    <li class="pattern__item type-big">
                                        <div class="pattern__img">
                                            <img src="../../images/augmentation/motiva/motiva_pattern_1.jpg" alt="" class="img-responsive">
                                        </div>
                                    </li>
                                    <li class="pattern__item">
                                        <div class="pattern__img">
                                            <img src="../../images/augmentation/motiva/motiva_pattern_2.jpg" alt="" class="img-responsive">
                                        </div>
                                    </li>
                                    <li class="pattern__item">
                                        <div class="pattern__img">
                                            <img src="../../images/augmentation/motiva/motiva_pattern_3.jpg" alt="" class="img-responsive">
                                        </div>
                                    </li>
                                </ul>
                                <ul class="pattern__list">
                                    <li class="pattern__item">
                                        <div class="pattern__img">
                                            <img src="../../images/augmentation/motiva/motiva_pattern_4.jpg" alt="" class="img-responsive">
                                        </div>
                                    </li>
                                    <li class="pattern__item">
                                        <div class="pattern__img">
                                            <img src="../../images/augmentation/motiva/motiva_pattern_5.jpg" alt="" class="img-responsive">
                                        </div>
                                    </li>
                                    <li class="pattern__item type-big">
                                        <div class="pattern__img">
                                            <img src="../../images/augmentation/motiva/motiva_pattern_6.jpg" alt="" class="img-responsive">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- //content__wrap-->
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            바노바기 모티바 가슴성형은<br>
                            더 <span class="color-point1">특별하게 관리</span>해드립니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="arrow-box">
                                <div class="arrow-box__header">
                                    <h4 class="arrow-box__tit tit-v6">바노바기 모티바 가슴성형 시 <span class="inline-block">제공하는 특별 관리프로그램</span></h4>
                                </div>
                                <div class="content-slider">
                                    <div class="content-slider__box">
                                        <ul class="content-slider__list js-content-slider">
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">만족도 높은 수술을 위한 시작,</p>
                                                <h4 class="content-slider__tit tit-v4">유방검진 프로그램</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    유방외과 세부전문의가 직접 수술 전 유방정밀검진을 진행합니다.<br class="hidden-tm">
                                                    유방검진의 기본이 되는 <strong>유방촬영 검사</strong>와 좀 더 정밀하게 유방 조직을 들여다보는 <strong>초음파 검사</strong>를 진행하며<br class="hidden-tm">
                                                    필요에 따라 <strong>맘모톰 시술</strong>을 할 수 있습니다.
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_1.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_2.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_3.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 1 -->
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">가슴모양을 더 예쁘게 잡아주는,</p>
                                                <h4 class="content-slider__tit tit-v4">보정브라 제공</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    모티바 보형물은 특유의 실키 텍스쳐 표면이 인체 조직과 안정적으로 결합하기 위해 일정 기간 <br class="hidden-tm">
                                                    보정브라를 착용하셔야 합니다. <br>
                                                    <strong>바노바기에서는 보정브라를 제공하여 더 좋은 결과를 유도합니다.</strong>
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_4.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_5.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_6.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 2 -->
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">수술 흔적을 지우는</p>
                                                <h4 class="content-slider__tit tit-v4">흉터레이저 치료</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    바노바기에서는 기본적으로 흉터가 거의 남지 않도록 정교하게 절개하고 더마본드를 이용하여
                                                    흉터를 축소합니다. 하지만 환자마다 예후가 다를 수 있기에 <strong>붉은 흉터 자국, 파인 흉터, 튀어나온 흉터 등
                                                        여러 흉터 케이스에 대한 치료를 제공</strong>해드립니다.
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_7.jpg" class="img-w100" alt=""/>
                                                        <h5 class="content-slider__tit2 txt-v3 f-noto">붉거나 갈색인 흉터</h5>
                                                        <p class="content-slider__txt2 txt-v2">브이빔, 레이저토닝 등으로치료합니다.</p>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_8.jpg" class="img-w100" alt=""/>
                                                        <h5 class="content-slider__tit2 txt-v3 f-noto">파인 흉터</h5>
                                                        <p class="content-slider__txt2 txt-v2">
                                                            프락셔널 레이저로 치료하고,
                                                            상피재생인자와 재생테이프사용을
                                                            병행합니다.
                                                        </p>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_9.jpg" class="img-w100" alt=""/>
                                                        <h5 class="content-slider__tit2 txt-v3 f-noto">튀어나온 흉터</h5>
                                                        <p class="content-slider__txt2 txt-v2">보톡스와 트리암시노론을 섞은 주사로 치료합니다.</p>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 3 -->
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">혈액 순환과 빠른 회복을 위한</p>
                                                <h4 class="content-slider__tit tit-v4">순환회복 마사지</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    최근에 주로 사용하는 보형물은 마사지가 필요하지 않지만 바노바기에서는 아로마 오일을 이용하여
                                                    <strong>비교적 가볍게 혈액 순환을 유도하여 회복을 촉진하는 가슴 전문 마사지 프로그램을 제공</strong>하고 있습니다.
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_10.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_11.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_12.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 4 -->
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">부기제거 재생 촉진을 위한</p>
                                                <h4 class="content-slider__tit tit-v4">스마트룩스 or 바이오라이트 광선 치료</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    스마트룩스는 의료용 특수 광선을 수술 부위에 투과하여 진피층 및 피하층까지 에너지를 전달하는
                                                    광역동 치료법입니다. <strong>피부 속 세포를 활성화시켜 미세혈류 순환이 증가하고 수술 부위 재생을 도와
                                                        비교적 빠른 부기와 회복 관리</strong>에 좋습니다.
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_13.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_14.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_15.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 5 -->
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">혈액 순환과 비교적 빠른 회복을 위한</p>
                                                <h4 class="content-slider__tit tit-v4">바이오포톤 치료</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP를 사용하여 만든 회복 관리용
                                                    전신 온열 기기입니다. PDP가 발산하는 4~14 미크론의 빛 에너지는 <strong>체온을 높이고
                                                        혈액순환을 개선해 비교적 빠른 회복을 유도</strong>합니다.
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_16.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_17.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_18.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 6 -->
                                            <li class="content-slider__item">
                                                <p class="content-slider__subtit txt-v3">가슴 평생 주치의, 바노바기</p>
                                                <h4 class="content-slider__tit tit-v4">10년 케어 개런티 프로그램</h4>
                                                <p class="content-slider__txt txt-v2">
                                                    바노바기에서 가슴 확대수술을 하신 모든 분들께 제공하는 프로그램입니다.
                                                    <strong>철저한 사후 관리를 위해 6개월~1년 단위로 유방 검진을 받으실 수 있도록 안내</strong>해드립니다.
                                                </p>
                                                <ul class="content-slider__list2">
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_19.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_20.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                    <li class="content-slider__item2">
                                                        <img src="../../images/augmentation/motiva/motiva_slider_21.jpg" class="img-w100" alt=""/>
                                                    </li>
                                                </ul>
                                            </li><!-- //내용 7 -->
                                        </ul>
                                        <a href="" class="content-slider__btn type-prev js-mouse-hover js-slider-prev">이전</a>
                                        <a href="" class="content-slider__btn type-next js-mouse-hover js-slider-next">다음</a>
                                    </div>
                                </div>
                            </div><!-- //arrow-box-->
                        </div>
                    </div><!--//content__box-->
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            <span class="color-point1">가슴 보형물의 진보</span>,<br>
                            모티바가 프리미엄이라 불리는 이유
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="img-style2">
                                <ul class="img-style2__list">
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/augmentation/motiva/motiva_advantage_1.jpg" alt="어떤 자세에서도 자연스러운 모양" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">어떤 자세에서도 자연스러운 모양</h4>
                                                        <p class="img-style2__txt">
                                                            기존 보형물의 형태는 라운드 혹은 물방울로 나뉘었습니다. 하지만 모티바는 라운드와 물방울의
                                                            장단점을 보완하여 만든 보형물로, 자세에 따라 보형물의 움직임이 변화합니다. 누웠을 때도
                                                            자연스럽게 퍼지고, 서 있을 때도 자연스럽게 물방울 모양으로 변화합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/augmentation/motiva/motiva_advantage_2.jpg" alt="실제 가슴과 유사한 느낌의 촉감" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">실제 가슴과 유사한 느낌의 촉감</h4>
                                                        <p class="img-style2__txt">
                                                            모티바는 그 촉감 역시 실제 가슴과 아주 유사하여 부드럽고 탄력적입니다. 기존 보형물 중 스무스
                                                            타입의 보형물은 결과가 아주 좋은 경우에만 자연스러운 촉감을 선사하지만 모티바는 대부분의
                                                            수술 결과가 균일하게, 부드럽고 자연스런 촉감을 만들 수 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/augmentation/motiva/motiva_advantage_3.jpg" alt="구형구축과 흉터로부터의 해방, 실키 표면" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">구형구축과 흉터로부터의 해방, 실키 표면</h4>
                                                        <p class="img-style2__txt">
                                                            기존 보형물의 표면은 스무스, 아니면 텍스쳐였습니다. 표면 역시 장단점이 있어서 보형물을 선택하는
                                                            데 더 어려움이 컸습니다. 하지만 모티바는 미세하고 고른 입자의 새로운 표면, 실키 텍스쳐는 기존
                                                            보형물의 장단점을 보완하여 수술 완성도를 높였습니다. 모티바만의 특별한 표면 처리는 가슴성형의
                                                            가장 큰 부작용 중 하나인 구형구축의 위험을 줄여 안심하고 수술할 수 있도록 합니다. 또한 부드러운
                                                            표면 덕분에 비교적 적은 절개로도 보형물을 삽입할 수 있어 흉터를 보다 적게 남깁니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/augmentation/motiva/motiva_advantage_4.jpg" alt="파손의 위험을 줄이는 강한 내구성" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">파손의 위험을 줄이는 강한 내구성</h4>
                                                        <p class="img-style2__txt">
                                                            모티바는 강한 내구성으로 파손 위험이 비교적 적고, 블루실이라는 특허 기술로 한번 더 보호받을 수 있습니다.
                                                            블루실은 제품의 안전상태를 확인할 수 있도록 만들어진 모티바만의 기술로, 실리콘겔이 파손되어
                                                            인체의 다른 부위로 확산되는 것을 막고, 구형구축의 위험도 보다 낮춰줍니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="content__video"><iframe src="https://player.vimeo.com/video/344927304?title=0&byline=0&portrait=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                                    </li>
                                </ul><!-- //img-style2__list -->
                            </div>
                        </div>
                    </div><!--//content__box-->
                    <div class="content__box">
                        <div class="content-video">
                            <h3 class="content__floor1 tit-v4">
                                모티바 가슴성형 <span class="color-point1">전후사진</span>
                            </h3>
                            <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                            <div class="content-wrap">
                                <div class="content-video__wrap">
                                    <div class="content-video__area">
                                        <iframe src="https://www.youtube.com/embed/you_vAeX6s0" class="content-video__iframe"></iframe>
                                    </div>
                                    <div class="content-video__box">
                                        <ul class="content-video__list">
                                            <li class="content-video__item is-active">
                                                <a href="" class="content-video__link" data-ytb-id="you_vAeX6s0"><span>BANOBAGI x Motiva</span></a>
                                            </li>
                                            <li class="content-video__item">
                                                <a href="" class="content-video__link" data-ytb-id="irjcTc-lyKQ"><span>BANOBAGI x Motiva 재수술</span></a>
                                            </li>
                                            <li class="content-video__item">
                                                <a href="" class="content-video__link" data-ytb-id="OetkLXZJbd8"><span>추가영상1</span></a>
                                            </li>
                                            <li class="content-video__item">
                                                <a href="" class="content-video__link" data-ytb-id="-X2lpkmuw5A"><span>추가영상2</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--//content__box-->
                    <div class="content__box">
                        <div class="img-style5">
                            <ul class="img-style5__list">
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_before_1.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_after_1.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_before_2.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_after_2.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_before_3.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_after_3.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_before_4.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_after_4.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_before_5.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_after_5.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_before_6.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/augmentation/motiva/motiva_after_6.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="img-style5__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                        </div>
                    </div><!--//content__box-->
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
