<%
    type = "content"
    page = "augmentation"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-prosthesis">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">20년 축적된 데이터를 기반으로<br> 더 디테일하게 수술하는</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">보형물 가슴 확대술</span></p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-prosthesis">
            <div class="content-wrap">
                <div class="content__area">

                    <!-- 가숨 축소/거상술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            보형물 가슴 확대술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 30분 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">전신마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원/하루입원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">필요없음</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">약 2~3회 내원</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">약 3~4일 후 일상생활</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            <span class="color-point1">20년 경력</span>의 노하우,<br>
                            결과가 다른 이유
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            바노바기성형외과  반재상 대표 원장은 1998년 성형외과전문의 취득 이후, 가슴성형에 대한 남다른 연구와 실력으로
                            우리나라 가슴성형 분야의 명의로 손꼽힙니다. 오랜 세월 축적한 다양한 데이터를 기반으로 여러 환자들의 체형과 피부타입 등을 고려하여
                            더욱 만족도 높은 결과를 위해 수술하고 있으며 이 모든 가슴성형 노하우는 평준화된 시스템을 구축했습니다. <br>
                            <strong>수술 전 유방 검진부터 적절한 보형물과 크기의 추천을 위한 3D 촬영 장비, 가슴 보형물 확대술 수술 시에 발생할 수 있는 여러 위험 요소에 대한 대비,
                            수술 후 케어 시스템과 수술 후 보형물 특수 검진까지 보형물 가슴 확대술에 대한 다양한 노하우, 바노바기성형외과의 결과가 다른 이유</strong>입니다.
                        </p>
                        <div class="content__wrap">
                            <div class="arrow-box">
                                <div class="arrow-box__header">
                                    <h4 class="arrow-box__tit tit-v6">수술 전후와 케어, 결과까지 어느 것 하나 부족함이 거의 없도록 진료합니다.</h4>
                                </div>
                                <div class="circle-style2 type-prosthesis type-five type-cling">
                                    <p class="img-common__subtit type-color1">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit type-black tit-v5">한눈에 보는 유방암</h4>
                                    <ul class="circle-style2__list">
                                        <li class="circle-style2__item nth-1">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">모양</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-2">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">볼륨</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-3">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">촉감</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-4">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">탄력</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-5">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">움직임</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- //circle-style2-->
                                <div class="circle-style2 type-prosthesis type-five">
                                    <p class="img-common__subtit type-color1">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit type-black tit-v5">수술 전후 케어</h4>
                                    <ul class="circle-style2__list">
                                        <li class="circle-style2__item nth-6">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">건강</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-7">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">안전</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-8">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">회복</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-9">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">흉터</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-10">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">10년<br>정기검진</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- //circle-style2-->
                            </div><!-- //arrow-box -->
                        </div><!-- //content__wrap-->
                    </div>

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            아직 수술을 결심하지 못하셨다면<br>
                            <span class="color-point1">디테일한 상담</span>부터 받아보세요
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="system type-prosthesis">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <h4 class="system__tit tit-v5">
                                                            <span class="content-highlight2">모티바? 벨라젤?</span>
                                                            <span class="content-highlight2">어떤 보형물이 더 좋은가요?</span>
                                                        </h4>
                                                        <p class="system__txt txt-v2">
                                                            가슴 보형물은 놀라운 의료 기술의 발전으로 점점 더 진화하고
                                                            점점 더 안전한 결과를 낳고 있습니다. 하지만 어느 것이 더
                                                            좋다 단정할 수는 없습니다. 최고의 보형물보다는 내게 맞는
                                                            보형물을 찾는 것이 중요합니다.<br>
                                                            <strong class="color-point1">각 제조사별 보형물의 특징을 간단하게 확인하시고, 바노바기
                                                                유방클리닉에 내원하시어 직접 만져보고 시착해 보시면서
                                                                전문의와 전문 상담사와 함께 상의하여 결정</strong>하시는 것이
                                                            좋겠습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                        <h4 class="img-common__tit tit-v5">바노바기에서 선택하실 수 있는 가슴 확대 보형물</h4>
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/augmentation/prosthesis/prosthesis_img_1.jpg" alt="모티바 보형물" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">모티바 보형물</h4>
                                                                <p class="img-style2__txt">
                                                                    프리미엄 가슴 보형물. 인체공학적인 방법으로 첨단 실리콘 겔을 사용하여 강한 내구성과 부드러운 외피,
                                                                    실제 가슴 조직과 유사한 촉감과 움직임이 강점. 까다로운 유럽 CE 인증을 받아 안전하고, 엄격한
                                                                    품질관리 하에 제조하는 것으로 유명하다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/augmentation/prosthesis/prosthesis_img_2.jpg" alt="벨라젤M" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">벨라젤M</h4>
                                                                <p class="img-style2__txt">
                                                                    국내 기술력으로 개발된 요즘 대세 보형물. 기존 텍스쳐 타입 보형물에 비해 더욱 부드러운 마이크로
                                                                    텍스쳐 표면으로 인체 조직과의 유착이 자연스러우며 구형구축 발생 확률이 적은 편. 자연스러운
                                                                    실루엣과 촉감도 빼놓을 수 없는 장점이다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/augmentation/prosthesis/prosthesis_img_3.jpg" alt="엘러간 보형물" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">엘러간 보형물</h4>
                                                                <p class="img-style2__txt">
                                                                    세계 시장 점유율이 가장 높은, 즉 가장 유명한 보형물. 물방울 보형물을 최초 개발하기도 했습니다. 특히
                                                                    6세대 보형물 내트럴 510은 유방하수(처진가슴)이나 유두, 유방 밑선 길이가 짧은 경우, 가슴 윗부위
                                                                    조직이 많은 경우 등에 결과가 좋습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/augmentation/prosthesis/prosthesis_img_4.jpg" alt="멘토 보형물" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">멘토 보형물</h4>
                                                                <p class="img-style2__txt">
                                                                    세계적 제약회사 존슨앤드존슨을 모기업으로 두고 있으며 가슴보형물을 가장 오래 제조한 업체.
                                                                    FDA 기준에 부합하는 10년 추적 환자 데이터를 보유하여 안전성을 입증. 오래된 제조사인 만큼
                                                                    사이즈와 질감, 모양 등에 따른 선택의 폭이 크다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div>
                        </div><!-- //content__wrap-->
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <div class="system type-prosthesis">
                            <div class="system__item nth-2">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <h4 class="system__tit tit-v5">
                                                        <span class="content-highlight2">가슴성형 시 결정해야 하는</span><br>
                                                        <span class="content-highlight2">수술 방법</span>
                                                    </h4>
                                                    <p class="system__txt txt-v2">
                                                        가슴확대술은 환자가 추구하는 결과에 따라, 그리고 환자의
                                                        신체구조에 따라 그 수술법이 달라질 수 있습니다. 수술 방법이
                                                        다르면 보형물의 삽입 위치나 흉터의 위치 등의 차이도 생기게
                                                        되죠. <br>
                                                        <strong class="color-point1">
                                                            따라서 환자분들은 수술 전, 본인이 어떤 보형물로 수술을
                                                            받는지 만큼이나 어떤 방법으로 수술이 진행될지 알아야 할
                                                            필요가 있습니다.
                                                        </strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>

                                <div class="img-style2">
                                    <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit tit-v5">보형물의 위치</h4>
                                    <ul class="img-style2__list">
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_5.jpg" alt="근육 아래 위치" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">근육 아래 위치</h4>
                                                            <p class="img-style2__txt">
                                                                원래의 가슴 구조를 유지하는 방법이기 때문에 유방의 기능에 지장을 주지 않으며 회복이 비교적 빠릅니다.
                                                                또한 수술 시 유방 밑 선의 위치를 안전하게 맞출 수 있어 모양이 예쁘게 잡힌다는 장점이 있습니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_6.jpg" alt="근육 위 위치" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">근육 위 위치</h4>
                                                            <p class="img-style2__txt">
                                                                가슴 근육이 발달한 경우나 생리 식염수 보형물을 사용하는 경우에는 보형물을 유방 조직과 가슴 근육
                                                                사이에 위치시킬 수 있습니다. 비교적 간편한 수술이 장점이며 처진 유방에 효과적이지만 구형구축의
                                                                가능성이 있어 관리가 필요합니다
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- //img-style2__list -->
                                </div><!-- //img-style2 -->
                                <div class="img-style2">
                                    <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit tit-v5">절개법</h4>
                                    <ul class="img-style2__list">
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_7.jpg" alt="겨드랑이 절개법" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">겨드랑이 절개법</h4>
                                                            <p class="img-style2__txt">
                                                                흉터가 비교적 잘 보이지 않는다는 장점이 있고 수술 시 혈관과 신경의 손상을 줄일 수 있으며, 감염의 위험이나
                                                                유두의 감각 손실이 거의 없습니다. 수술시간이 길지 않기 때문에 회복 또한 비교적 빠른 편입니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_8.jpg" alt="가슴 밑선 절개법" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">가슴 밑선 절개법</h4>
                                                            <p class="img-style2__txt">
                                                                통증이 적고 회복이 비교적 빠르면서 예쁜 모양을 만드는 데 특히 유리합니다. 흉터 때문에 기피했던
                                                                절개법이지만, 최근에는 흉터에 대한 집중적인 케어가 가능해졌고 흉이 유방 밑선에 가려지기 때문에
                                                                많은 분들이 선택하는 추세입니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_9.jpg" alt="유륜 주위 절개법" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">유륜 주위 절개법</h4>
                                                            <p class="img-style2__txt">
                                                                보형물이 위치해야 할 포켓의 정 중앙에 절개가 이루어지기 때문에 시야 확보가 쉽고 경로가 짧아서
                                                                비교적 간편한 수술이 가능합니다. 수유나 임신에 끼치는 영향은 거의 없는 것으로 판명 났으며 처진
                                                                가슴을 동시에 개선할 수 있다는 점, 비대칭 가능성이 거의 없다는 점 등 장점이 많은 방법입니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- //img-style2__list -->
                                </div><!-- //img-style2 -->

                            </div><!-- //system__item-->
                        </div>
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            수술 방향과 보형물 선택을 마쳤다면<br>
                            <span class="color-point1">유방정밀검진</span>이 필수입니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="arrow-box">
                                <div class="arrow-box__header">
                                    <h4 class="arrow-box__tit tit-v6">수술 전</h4>
                                </div>
                                <div class="img-style7">
                                    <ul class="img-style7__list">
                                        <li class="img-style7__item">
                                            <img src="../../images/augmentation/prosthesis/prosthesis_check_1.jpg" class="img-w100" alt="혈액 검사"/>
                                            <h4 class="img-style7__tit txt-v3">혈액 검사</h4>
                                            <p class="img-style7__txt txt-v2">
                                                혈액을 채취하여 혈색소, 혈소판, 혈당,
                                                간기능, 신장기능, 간염 등을 확인할 수
                                                있고 원내 임상병리사가 비교적 빠르게 검사
                                                결과를 판독합니다.
                                            </p>
                                        </li>
                                        <li class="img-style7__item">
                                            <img src="../../images/augmentation/prosthesis/prosthesis_check_2.jpg" class="img-w100" alt="심전도 검사"/>
                                            <h4 class="img-style7__tit txt-v3">심전도 검사</h4>
                                            <p class="img-style7__txt txt-v2">
                                                심전도 검사를 통해 심장 질환 여부를
                                                체크하고 수술 시 문제가 없는지
                                                확인합니다.
                                            </p>
                                        </li>
                                        <li class="img-style7__item">
                                            <img src="../../images/augmentation/prosthesis/prosthesis_check_3.jpg" class="img-w100" alt="유방 촬영 검사"/>
                                            <h4 class="img-style7__tit txt-v3">유방 촬영 검사</h4>
                                            <p class="img-style7__txt txt-v2">
                                                맘모그라피 유방 촬영을 진행하여
                                                유방 내 조직을 살펴 보고 데이터를
                                                확보합니다
                                            </p>
                                        </li>
                                        <li class="img-style7__item">
                                            <img src="../../images/augmentation/prosthesis/prosthesis_check_4.jpg" class="img-w100" alt="유방 초음파 검사"/>
                                            <div class="img-style7__box">
                                                <h4 class="img-style7__tit txt-v3">유방 초음파 검사</h4>
                                                <p class="img-style7__txt txt-v2">
                                                    유방외과 세부전문의가 직접 초음파
                                                    검사를 하여 종양이 있는지 등을
                                                    확인하고, 만약 발견시에는 먼저
                                                    제거 시술을 하게 됩니다.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!--//img-style7 -->
                                <div class="img-style2">
                                    <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit tit-v5">수술 과정에서 정교한 기술력의 차이를 경험하세요</h4>
                                    <ul class="img-style2__list">
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_10.jpg" alt="약 30분 가슴 성형" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">약 30분 가슴 성형</h4>
                                                            <p class="img-style2__txt">
                                                                수술 시간이 짧을수록 보형물의 오염, 감염을 피할 수 있으며, 수술로 인한 염증과 구형구축의 가능성이
                                                                낮아집니다. 그래서 바노바기는 약 30분 정도의 수술 시간을 지향합니다.
                                                                피주머니가 필요 없고 당일 퇴원이 가능할 정도로 안전한 가슴 성형. 오랜 경험과 감각, 기술력을 겸비한
                                                                바노바기 가슴 성형 전담팀이 만들어갑니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_11.jpg" alt="Full HD 내시경 듀얼 비전" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">Full HD 내시경 듀얼 비전</h4>
                                                            <p class="img-style2__txt">
                                                                바노바기에서는 고화질 Full HD 내시경 장비를 이용하여 수술을 합니다.
                                                                정밀한 시야 확보가 가능하여 주변 조직 및 신경 손상이 거의 없게 박리 하고 출혈과 통증을 줄여 보다 빠른
                                                                회복을 유도할 수 있습니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_12.jpg" alt="마취통증의학과 전문의 상주" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">마취통증의학과 전문의 상주</h4>
                                                            <p class="img-style2__txt">
                                                                바노바기에는 오랫동안 호흡을 맞춰온 마취통증의학과 전문의 4인이 상주하고 있습니다. 수준 높은 마취통증의학과 전문의 팀의
                                                                철저한 마취 시스템과 모니터링은 바노바기가 지향하는 안전 수술의 핵심입니다.
                                                                응급 상황에 대한 대비 시스템, 항시 수혈이 가능한 혈액 보유 등 바노바기 안전 시스템은 항상
                                                                최우선으로 보완하고 있습니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_13.jpg" alt="늑간 마취" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">늑간 마취</h4>
                                                            <p class="img-style2__txt">
                                                                늑간 마취란, 가슴 확대술 수술 시 갈비뼈 아랫부분에 위치한 늑간 신경에 마취제를 주입하는
                                                                마취방식입니다.
                                                                전신마취 후 늑간마취를 진행하여 통증을 현저히 줄이며, 수술 후에도 통증을 저하시킵니다.
                                                                또한 출혈 감소를 유도하여 적은 부기와 비교적 빠른 회복까지 돕습니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- //img-style2__list -->
                                </div><!-- //img-style2 -->
                                <div class="img-style2">
                                    <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit tit-v5">수술 후 케어, 무엇이 필요한지 알고 있습니다</h4>
                                    <ul class="img-style2__list">
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_14.jpg" alt="흉터 치료" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">흉터 치료</h4>
                                                            <p class="img-style2__txt">
                                                                가슴성형 시에 가장 우려하시는 부분 중 하나는 흉터입니다. 바노바기에서는 기본적으로 흉터가
                                                                거의 남지 않도록 정교하게 절개하고 더마본드로 흉터를 축소합니다.
                                                                하지만 환자마다 예후가 다를 수 있기에 붉은 흉터 자국, 파인 흉터, 튀어나온 흉터 등 여러 흉터
                                                                케이스에 대한 치료를 제공해드립니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_15.jpg" alt="자가통증조절기" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">자가통증조절기</h4>
                                                            <p class="img-style2__txt">
                                                                통증이 있을 때마다 환자 스스로 소량의 진통제를 자동으로 투여할 수 있는 자가통증조절기를
                                                                사용하여 수술 후 발생하는 통증을 줄여주고 비교적 빠른 컨디션 회복을 돕습니다.
                                                                입원을 하시거나 하지 않으시는 경우 모두 사용하실 수 있도록 안내해드립니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_16.jpg" alt="순환 회복 마사지" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">순환 회복 마사지</h4>
                                                            <p class="img-style2__txt">
                                                                최근에 주로 사용하는 보형물은 마사지가 필요하지 않습니다. 바노바기에서는 아로마 오일을
                                                                이용하여 비교적 가볍게 혈액 순환을 유도하여 회복을 촉진하는 가슴 전문 마사지 프로그램을
                                                                제공하고 있습니다
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_17.jpg" alt="바이오포톤" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">바이오포톤</h4>
                                                            <p class="img-style2__txt">
                                                                바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP를 사용하여 만든 회복
                                                                관리용 전신 온열 기기입니다. PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높이고
                                                                혈액순환을 개선해 비교적 빠른 회복을 유도합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_18.jpg" alt="스마트룩스" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">스마트룩스</h4>
                                                            <p class="img-style2__txt">
                                                                스마트룩스는 의료욕 특수 광선을 수술 부위에 투과하여 진피층 및 피하층까지 에너지를
                                                                전달하는 광역동 치료법입니다. 피부 속 세포를 활성화시켜 미세혈류 순환이 증가하고 수술
                                                                부위 재생을 도와 비교적 빠른 부기와 회복 관리에 좋습니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_19.jpg" alt="캄 레이저" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">캄 레이저</h4>
                                                            <p class="img-style2__txt">
                                                                고강도의 열에너지를 피부 깊은 층까지 전달하여 통증을 완화하고 소염 작용, 부종 흡수 등의 효과를
                                                                유도하는 치료 장비입니다. 세포 신진대사와 혈액순환을 촉진해 손상된 조직의 회복과 재생이
                                                                도움이 됩니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- //img-style2__list -->
                                </div><!-- //img-style2 -->
                                <div class="img-style2">
                                    <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit tit-v5">수술 후 정기적인 검진과 관찰이 더욱 중요합니다</h4>
                                    <ul class="img-style2__list">
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_20.jpg" alt="10년 케어 개런티 프로그램" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">10년 케어 개런티 프로그램</h4>
                                                            <p class="img-style2__txt">
                                                                바노바기에서 가슴 확대수술을 하신 모든 분들께 제공하는 프로그램입니다.
                                                                철저한 사후 관리를 위해 6개월~1년 단위로 유방 검진을 받으실 수 있도록 안내해드립니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_21.jpg" alt="재수술 리워드 프로그램" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">재수술 리워드 프로그램</h4>
                                                            <p class="img-style2__txt">
                                                                수술 시기가 오래되어 보형물을 교체할 필요학 있거나 부득이하게 재수술을 할 경우, 본원에서
                                                                수술을 받으신 분들께는 재수술 보상 프로그램을 제공해드리고 있습니다. 첫수술이든 두번째
                                                                수술이든 한결같이 만족하실 수 있도록 최선을 다합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/augmentation/prosthesis/prosthesis_img_22.jpg" alt="가슴 평생 주치의" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">가슴 평생 주치의</h4>
                                                            <p class="img-style2__txt">
                                                                가슴확대술을 받으신 경우나 유방외과 세부전문의의 진료를 받으신 경우 모두, 내 가슴 건강과
                                                                아름다움을 평생 믿고 함께 할 수 있는 의료기관이 되고자 합니다.
                                                                정직하고 안전한 진료와 수술로 실망시켜드리지 않도록 바노바기성형외과 유방클리닉
                                                                의료진이 약속드립니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- //img-style2__list -->
                                </div><!-- //img-style2 -->
                            </div>
                        </div>
                    </div><!-- //content__box -->
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
