<%
    type = "content"
    page = "augmentation"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-cell">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">지방이식 그 이상의 기술력으로 <br> 채우는 볼륨</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">줄기세포 지방이식</span><br>
                        <span class="content-highlight">가슴 확대술</span>
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-cell">
            <div class="content-wrap">
                <div class="content__area">
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            줄기세포 지방이식 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">
                                            주입되는 양에 따라
                                            약 1시간~2시간 반
                                        </p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">전신마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원/하루입원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">필요없음</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">약 1회 내원</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">약 3~4일 후 일상생활</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            <span class="color-point1">자가 조직</span>만으로 볼륨을 채우고<br>
                            가슴 모양 교정을 합니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            가슴 사이즈나 모양에 불만을 가지고 계신 경우, 보통 가슴 확대술을 고려하지만 보형물을 넣는 수술에 대한 거부감이 있거나
                            수술 후 통증, 회복기간에 대한 부담 등으로 수술 결정을 주저한다면 지방이식을 통한 가슴확대가 좋은 대안이 될 수 있습니다. <br>
                            <strong>바노바기에서는 단순 지방이식이 아니라 줄기세포 지방이식으로 생착률을 높이고  더 건강한 볼륨이 오래 유지되도록 합니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="img-style1 type-four">
                                <ul class="img-style1__list">
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_1.jpg" alt="사이즈 확대" class="img-w100">
                                        <p class="img-style1__subject">사이즈 확대</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_2.jpg" alt="윗가슴 볼륨 교정" class="img-w100">
                                        <p class="img-style1__subject">윗가슴 볼륨 교정</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_3.jpg" alt="아래 볼륨 교정" class="img-w100">
                                        <p class="img-style1__subject">아래 볼륨 교정</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_4.jpg" alt="바깥 볼륨 교정" class="img-w100">
                                        <p class="img-style1__subject">바깥 볼륨 교정</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_5.jpg" alt="비대칭 교정" class="img-w100">
                                        <p class="img-style1__subject">비대칭 교정</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_6.jpg" alt="가슴골 모양 교정" class="img-w100">
                                        <p class="img-style1__subject">가슴골 모양 교정</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_7.jpg" alt="미세 볼륨 보충" class="img-w100">
                                        <p class="img-style1__subject">미세 볼륨 보충</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_advantage_8.jpg" alt="가슴 탄력 개선" class="img-w100">
                                        <p class="img-style1__subject">가슴 탄력 개선</p>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- //content__wrap-->
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            지방이식에 <span class="color-point1">줄기세포</span>가 필요한 이유
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            지방이식 가슴확대술은 장점이 많지만 단점 또한 분명한 방법이었습니다.  <br class="hidden-tm">
                            생착률이 원하는 만큼 나오지 않으면 볼륨 유지 기간이 짧아지고 또 석회화나 낭종이 생기는 등의 부작용 우려도 있었습니다.<br>
                            <strong>이러한 단점을 보완하고 개선하기 위해 바노바기에서는 줄기세포를 더했습니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="arrow-box">
                                <div class="arrow-box__header">
                                    <h4 class="arrow-box__tit tit-v6">줄기세포 지방이식이 더 좋은 점</h4>
                                </div>
                                <div class="arrow-box__body">
                                    <div class="purpose">
                                        <ul class="purpose__list">
                                            <li class="purpose__item txt-v3">생착률 약 70~80% 까지 도달</li>
                                            <li class="purpose__item txt-v3">통증 완화 회복기간 비교적 단축</li>
                                            <li class="purpose__item txt-v3">시술 부위 피부 탄력 개선</li>
                                            <li class="purpose__item txt-v3">석회화나 낭종 유발 부작용 보다 감소</li>
                                            <li class="purpose__item txt-v3">시술 시 멍이나 부종 보다 감소</li>
                                        </ul>
                                    </div>
                                </div><!-- //arrow-box__body-->
                            </div>
                        </div>
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <div class="arrow-box">
                            <div class="arrow-box__header">
                                <h4 class="arrow-box__tit tit-v6">기존 지방이식과 바노바기 줄기세포 지방이식의 차이</h4>
                            </div>
                            <div class="img-style1 type-gray">
                                <p class="img-common__subtit type-color1">BANOBAGI BREAST CLINIC</p>
                                <h4 class="img-common__tit tit-v5 type-black">기존 지방이식</h4>
                                <ul class="img-style1__list">
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_1.jpg" alt="타 부위에서 지방 추출" class="img-w100">
                                        <p class="img-style1__subject">타 부위에서 지방 추출</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_2.jpg" alt="추출된 지방 가슴에 주입" class="img-w100">
                                        <p class="img-style1__subject">추출된 지방 가슴에 주입</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_3.jpg" alt="추출된 지방 중 일부 생착, 생착되지 못한 지방은 녹아 사라짐" class="img-w100">
                                        <p class="img-style1__subject">추출된 지방 중 일부 생착,<br class="hidden-tm"> 생착되지 못한 지방은 녹아 사라짐</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="img-style1 type-four type-gray">
                                <p class="img-common__subtit type-color1">BANOBAGI BREAST CLINIC</p>
                                <h4 class="img-common__tit tit-v5 type-black">바노바기 줄기세포 지방이식</h4>
                                <ul class="img-style1__list">
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_4.jpg" alt="타 부위 지방 추출 후 줄기세포 분리" class="img-w100">
                                        <p class="img-style1__subject">타 부위 지방 추출 후 줄기세포 분리</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_5.jpg" alt="분리된 줄기세포 가슴에 주입" class="img-w100">
                                        <p class="img-style1__subject">분리된 줄기세포 가슴에 주입</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_6.jpg" alt="이식된 줄기세포는 가슴 지방 세포로 성장하여 대부분 생착" class="img-w100">
                                        <p class="img-style1__subject">이식된 줄기세포는 가슴 지방 세포로 성장하여 대부분 생착</p>
                                    </li>
                                    <li class="img-style1__item">
                                        <img src="../../images/augmentation/cell/cell_way_7.jpg" alt="더욱 오래도록 유지되는 볼륨" class="img-w100">
                                        <p class="img-style1__subject">더욱 오래도록 유지되는 볼륨</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            <span class="color-point1">줄기세포 기술력</span>도<br>
                            바노바기가 우수합니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            줄기세포는 혈액이나 골수, 지방 등에서 채취가 가능하지만 그 중 지방유래 줄기세포(SVF 줄기세포)가 가장 보편적이고 안전하며 <br class="hidden-tm">
                            많은 양을 확보할 수 있어서 미용 성형 분야에서 다양하게 사용됩니다. <br class="hidden-tm">
                            바노바기성형외과에서는<strong>명공학 연구원이 상주하여 전문적인 세포 관리를 하며 무균 룸 시스템과 극저온 냉동 보관 시스템 등<br class="hidden-tm">
                            줄기세포 첨단 연구 설비</strong>를 갖추고 있어더 <strong>안전하고 보다 효과적인 시술이 가능</strong>합니다.
                        </p>
                        <div class="content__wrap">
                            <div class="content-slider">
                                <div class="content-slider__box">
                                    <ul class="content-slider__list js-content-slider">
                                        <li class="content-slider__item">
                                            <p class="content-slider__subtit txt-v3">더욱 안전하고 성공적 세포 확보를 위한</p>
                                            <h4 class="content-slider__tit tit-v4">생명공학 연구원 상주</h4>
                                            <p class="content-slider__txt txt-v2">
                                                바노바기성형외과에는 생명공학을 전공한 줄기세포 연구원이 상주하고 있어 같은 양의 지방에서<br class="hidden-tm">
                                                더 많고 더 건강한 양질의 세포를 확보합니다. 기계를 이용하는 것이 아닌 <strong>수작업으로 유효 세포를<br class="hidden-tm">
                                                    고농도로 추출하고 세포수를 계측하기 때문에 퀄리티를 유지</strong>할 수 있습니다.
                                            </p>
                                            <div class="content-slider__img">
                                                <img src="../../images/augmentation/cell/cell_slider_1.jpg" class="img-normal" alt=""/>
                                            </div>
                                        </li>
                                        <li class="content-slider__item">
                                            <p class="content-slider__subtit txt-v3">더욱 안전하고 성공적 세포 확보를 위한</p>
                                            <h4 class="content-slider__tit tit-v4">무균룸 시스템</h4>
                                            <p class="content-slider__txt txt-v2">
                                                사람의 세포는 외부 환경에 매우 민감하게 반응합니다. 따라서 미세한 오염에도 굉장히 취약하죠.<br class="hidden-tm">
                                                때문에 바노바기는 세포 분리에서 세포 처리까지의 전 과정이 하나로 연결된<br class="hidden-tm">
                                                <strong>무균룸 시스템을 도입하여 세포의 변질과 손실이 거의 없는 세포 확보가 가능합니다.</strong>
                                            </p>
                                            <div class="slider-circle">
                                                <ul class="slider-circle__list">
                                                    <li class="slider-circle__item nth-1">
                                                        <div class="slider-circle__box">
                                                            <div class="slider-circle__outer">
                                                                <div class="slider-circle__inner txt-v3">Air Shower</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slider-circle__item nth-2">
                                                        <div class="slider-circle__box">
                                                            <div class="slider-circle__outer">
                                                                <div class="slider-circle__inner txt-v3">무균 수술실</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slider-circle__item nth-3">
                                                        <div class="slider-circle__box">
                                                            <div class="slider-circle__outer">
                                                                <div class="slider-circle__inner txt-v3">무균 연구시설</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slider-circle__item nth-4">
                                                        <div class="slider-circle__box">
                                                            <div class="slider-circle__outer">
                                                                <div class="slider-circle__inner txt-v3">무균 QC실</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="content-slider__item">
                                            <p class="content-slider__subtit txt-v3">약 3~5년 이상까지 보관이 가능한 극저온 냉동 보관 시스템</p>
                                            <h4 class="content-slider__tit tit-v4">셀 뱅킹 시스템</h4>
                                            <p class="content-slider__txt txt-v2">
                                                SVF 세포는 추출 후 시간이 지날수록 손상, 오염의 가능성이 높아집니다. 때문에 기존의 세포 치료는 그 횟수가<br class="hidden-tm">
                                                1회로 제한될 수밖에 없었으나 바노바기는 극저온 냉동 보관 시스템을 도입하여<strong> SVF 세포를 그대로 저장하여<br class="hidden-tm">
                                                    여러 차례 집중적인 반복 시술이 가능하고, 보다 뛰어난 효과를 기대</strong>할 수 있습니다.
                                            </p>
                                            <ul class="content-slider__list2">
                                                <li class="content-slider__item2">
                                                    <img src="../../images/augmentation/cell/cell_slider_2.jpg" class="img-w100" alt=""/>
                                                    <h5 class="content-slider__caption txt-v2">반복적인 집중치료가 가능</h5>
                                                </li>
                                                <li class="content-slider__item2">
                                                    <img src="../../images/augmentation/cell/cell_slider_3.jpg" class="img-w100" alt=""/>
                                                    <h5 class="content-slider__caption txt-v2">세포의 손실 및 오염방지</h5>
                                                </li>
                                                <li class="content-slider__item2">
                                                    <img src="../../images/augmentation/cell/cell_slider_4.jpg" class="img-w100" alt=""/>
                                                    <h5 class="content-slider__caption txt-v2">젊은 양질의 세포를 미리 보관 후<br class="hidden-tm"> 정기적 사용 가능</h5>
                                                </li>
                                            </ul>
                                        </li><!-- //내용 1 -->
                                    </ul>
                                    <a href="" class="content-slider__btn type-prev js-mouse-hover js-slider-prev">이전</a>
                                    <a href="" class="content-slider__btn type-next js-mouse-hover js-slider-next">다음</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            <span class="color-point1">가슴 볼륨</span>과 <span class="color-point1">몸매 교정</span>이<br>
                            동시 가능합니다
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            지방이식을 위해서는 먼저 지방을 흡입해야 합니다. 주로 복부나 옆구리, 허벅지 등의 부위에서 지방을 뽑아 정제하고 <br class="hidden-tm">
                            분리한 후 원하는 부위에 다시 채워넣습니다. <br>
                            생착률이 원하는 만큼 나오지 않으면 볼륨 유지 기간이 짧아지고 또 석회화나 낭종이 생기는 등의 부작용 우려도 있었습니다. <br>
                            바노바기성형외과는 지방흡입 수술 역시 18년 경력의 노하우를 자랑합니다. 때문에 더<strong> 정교하게 흡입하고 <br class="hidden-tm">
                                자연스럽고 아름다움 바디라인으로 교정도 가능</strong>합니다.
                        </p>
                        <div class="content__wrap">
                            <div class="content__img">
                                <img src="../../images/augmentation/cell/cell_img_1.jpg" class="img-w100 hidden-m" alt=""/>
                                <img src="../../images/augmentation/cell/cell_img_1_m.jpg" class="img-w100 hidden-pt" alt=""/>
                            </div>
                            <div class="content__caption txt-v2">
                                줄기세포 지방이식을 위해 지방을 채취할 때는 열을 가해서는 안됩니다.<br>
                                바노바기는 지방흡입 전담팀의 노하우로, <strong>레이저 가열 없이도 지방을 효과적으로 추출하고, 추출 후 표면에 요철이 생기지 않도록 매끄러운 실루엣을 구현</strong>합니다.
                            </div>
                        </div>
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            줄기세포 지방이식 가슴확대술 전<br>
                            <span class="color-point1">필수 검사</span>
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            지방이식 가슴확대술을 한 후에는 지방의 석회화가 진행되기도 하는데,초기 석회화의 경우 유방암의 신호인 미세석회화와 구분하기 어렵습니다.<br>
                            <strong>때문에 수술 전 미리 검사를 통해 자료를 확보하여 이후 만에 하나 석회화 발견 시, 유방암과 감별하는 데 도움이 됩니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="img-style6 type-m100">
                                <ul class="img-style6__list">
                                    <li class="img-style6__item">
                                        <img src="../../images/augmentation/cell/cell_check_1.jpg" alt="" class="img-w100">
                                    </li>
                                    <li class="img-style6__item">
                                        <img src="../../images/augmentation/cell/cell_check_2.jpg" alt="" class="img-w100">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- //content__box -->

                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            줄기세포 지방이식 가슴확대술<br>
                            <span class="color-point1">전후사진</span>
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="img-style5">
                                <ul class="img-style5__list">
                                    <li class="img-style5__item">
                                        <div class="img-style5__box">
                                            <div class="img-style5__area">
                                                <img src="../../images/augmentation/cell/cell_before_1.jpg" alt="수술 전" class="img-w100">
                                                <p class="img-style5__subject">
                                                    <span class="vertical">수술 전</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="img-style5__box">
                                            <div class="img-style5__area">
                                                <img src="../../images/augmentation/cell/cell_after_1.jpg" alt="수술 후 6개월" class="img-w100">
                                                <p class="img-style5__subject type-point">
                                                    <span class="vertical">수술 후 6개월</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style5__item">
                                        <div class="img-style5__box">
                                            <div class="img-style5__area">
                                                <img src="../../images/augmentation/cell/cell_before_2.jpg" alt="수술 전" class="img-w100">
                                                <p class="img-style5__subject">
                                                    <span class="vertical">수술 전</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="img-style5__box">
                                            <div class="img-style5__area">
                                                <img src="../../images/augmentation/cell/cell_after_2.jpg" alt="수술 후 6개월" class="img-w100">
                                                <p class="img-style5__subject type-point">
                                                    <span class="vertical">수술 후 6개월</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style5__item">
                                        <div class="img-style5__box">
                                            <div class="img-style5__area">
                                                <img src="../../images/augmentation/cell/cell_before_3.jpg" alt="수술 전" class="img-w100">
                                                <p class="img-style5__subject">
                                                    <span class="vertical">수술 전</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="img-style5__box">
                                            <div class="img-style5__area">
                                                <img src="../../images/augmentation/cell/cell_after_3.jpg" alt="수술 후 6개월" class="img-w100">
                                                <p class="img-style5__subject type-point">
                                                    <span class="vertical">수술 후 6개월</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="img-style5__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
