<%
    type = "content"
    page = "control"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-control">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">수술 후 케어부터 일반케어까지</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">가슴 관리 프로그램</span>
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-control">
            <div class="content-wrap">
                <div class="content__area">

                    <div class="content__box">
                        <p class="content__floor1 subtit-v1">바노바기 가슴 관리 프로그램</p>
                        <h3 class="content__floor2 tit-v4">
                            가슴 수술 후 케어 프로그램
                        </h3>
                        <p class="content__txt txt-v2">
                            수술 후에는 부기나 통증, 흉터 등을 세심하게 케어하고 보다 빠른 회복을<br class="hidden-tm">
                            유도하는 수술 후 관리가 중요합니다. 바노바기성형외과는 <strong class="color-point1">18년 동안의 오랜 경험을 바탕으로<br class="hidden-tm">
                                수술 후 환자분들에게 딱 필요한  케어프로그램을 운영</strong>하고 하고 있습니다.
                        </p>
                        <div class="content__wrap">
                            <div class="img-style2">
                                <ul class="img-style2__list">
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_1.jpg" alt="부기제거 재생 촉진을 위한 스마트룩스 or 바이오라이트 광선 치료" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">부기제거 재생 촉진을 위한 스마트룩스 or 바이오라이트 광선 치료</h4>
                                                        <p class="img-style2__txt">
                                                            스마트룩스는 의료용 특수 광선을 수술 부위에 투과하여 진피층 및 피하층까지 에너지를 전달하는
                                                            광역동 치료법입니다. 피부 속 세포를 활성화시켜 미세혈류 순환이 증가하고 수술 부위 재생을 도와
                                                            비교적 빠른 부기와 회복 관리에 좋습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_2.jpg" alt="혈액순환과 비교적 빠른 회복을 유도하는 바이오포톤 치료" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">혈액순환과 비교적 빠른 회복을 유도하는 바이오포톤 치료</h4>
                                                        <p class="img-style2__txt">
                                                            바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP를 사용하여 만든 회복 관리용
                                                            전신 온열 기기입니다. PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높이고 혈액순환을 개선해
                                                            비교적 빠른 회복을 유도합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_3.jpg" alt="전문 테라피스트의 순환회복 마사지" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">전문 테라피스트의 순환회복 마사지</h4>
                                                        <p class="img-style2__txt">
                                                            전문 테라피스트가 아로마 오일을 이용하여 가볍게 림프를 자극하며 혈액 순환을 유도하여 회복을 촉진하는
                                                            마사지 프로그램입니다. 가슴수술 후 케어에 대한 노하우가 풍부하기 때문에 더 세심하게 환자를 이해하는
                                                            터칭으로 마사지합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_4.jpg" alt="수술 흔적을 지우는 흉터레이저 치료" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">수술 흔적을 지우는 흉터레이저 치료</h4>
                                                        <p class="img-style2__txt">
                                                            바노바기에서는 기본적으로 흉터가 거의 남지 않도록 정교하게 절개하고 더마본드를 이용하여 흉터를 축소합니다.
                                                            하지만 환자마다 예후가 다를 수 있기에 붉은 흉터 자국, 파인 흉터, 튀어나온 흉터 등 여러 흉터 케이스에 대한
                                                            치료를 제공해드립니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_5.jpg" alt="수술 후 영양 공급 비타민 주사" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">수술 후 영양 공급 비타민 주사</h4>
                                                        <p class="img-style2__txt">
                                                            수술 후 회복 과정에서 정맥을 통해 비타민을 빠르게 공급하여 체내 활성산호를 제거하고 근육 긴장 완화,
                                                            스트레스 완화 등을 유도합니다. 안전하고 검증된 비타민을 배합하여 주입하므로 부작용이 거의 없습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_6.jpg" alt="가슴 피부 탄력 마사지" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">가슴 피부 탄력 마사지</h4>
                                                        <p class="img-style2__txt">
                                                            가슴 부위는 주로 지방과 유선 조직으로 구성되어 있습니다. 20대 중반이 지나면 가슴을 지방층이 감소하고
                                                            콜라겐과 같은 탄력 세포가 노화하면서 가슴 피부 조직은 탄성을 잃고 가슴 처짐이 가속화 됩니다.  수술로
                                                            개선하는 것이 가장 적극적인 치료 방법이겠으나 아직 수술결정을 하지 못했다면 가슴 부위 피부에 수분과 영양을
                                                            공급하고 적당한 자극으로 피부 탄력을 개선하는 마사지를 받으시는 것도 도움이 됩니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/control/control/control_program_7.jpg" alt="가슴 림프 순환 마사지" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">가슴 림프 순환 마사지</h4>
                                                        <p class="img-style2__txt">
                                                            대부분의 여성분들은 평소 브래지어를 착용해야 하다 보니 가슴 부위를 압박하여 혈액 및 림프액 순환을
                                                            방해하게 됩니다. 가슴 부위 혈액 순환을 촉진하고 노폐물을 배출해주는 림프액 순환 마사지로
                                                            평소 꾸준히 관리해주면 가슴 탄력과 건강을 유지할 수 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- //img-style2__list -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
