<%
    type = "content"
    page = "polymastia"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-gynecomastia">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">남성적 가슴 윤곽이 살아나는</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">여성형 유방 교정술</span></p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-gynecomastia">
            <div class="content-wrap">
                <div class="content__area">

                    <!-- 가숨 축소/거상술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            여성형 유방 교정술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 30분~1시간 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">전신마취 or 부분마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">약 7~10일 후 제거</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">수술 후 일상생활 가능</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 여성형 유방 교정술</h3>
                        <p class="content__floor2 tit-v4">수술대상</p>
                        <p class="content__txt txt-v2">
                            여성형 유방이란 남성의 가슴이 지방이나 유선조직 발달로 인해 여성의 유방처럼 발달하는 것을 말합니다.<br>
                            일반적으로 호르몬 대사가 불균형한 사춘기 때에 발생하여 남성 호르몬이 우세해지는 성인이 되면 사라지지만,
                            간혹 그 증상이 성인이 되어서도 유지되는 경우 신체의 발달을 따라 그 형태가 더욱 두드러지게 됩니다.<br><br>
                            이러한 여성형 유방은 유두와 그 근처 부위를 기준으로 전반적인 가슴 돌출 형태를 보입니다.
                            <span class="color-point1">때문에 생활의 불편함과 정신적 스트레스의 원인이 되며, 위축된 자세의 습관화로
                        굽은 어깨나 척추 질환 등의 건강 문제 또한 동반하게 됩니다.</span>
                        </p>
                        <div class="content__wrap">
                            <div class="content__img">
                                <img src="../../images/polymastia/gynecomastia/gynecomastia_img_1.jpg" alt="" class="img-w100"/>
                            </div>

                            <div class="dia3">
                                <ul class="dia3__list">
                                    <li class="dia3__item nth-1">
                                        <p class="dia3__txt txt-v3">처지고 돌출된 가슴으로 인한 생활의 불편함 발생</p>
                                    </li>
                                    <li class="dia3__item nth-2">
                                        <p class="dia3__txt txt-v3">자신감 상실 등 정신적 스트레스 유발</p>
                                    </li>
                                    <li class="dia3__item nth-3">
                                        <p class="dia3__txt txt-v3">위축된 자세로 인한<br class="hidden-tm"> 건강 문제 악화</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술목표 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 여성형 유방 교정술</h3>
                        <p class="content__floor2 tit-v4">수술목표</p>
                        <div class="content__wrap type-another">
                            <div class="purpose">
                                <ul class="purpose__list">
                                    <li class="purpose__item txt-v3">미용적인 형태 개선으로 자신감 상승</li>
                                    <li class="purpose__item txt-v3">일상생활의 불편함 개선</li>
                                    <li class="purpose__item txt-v3">자세교정 효과</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 가슴 축소/거상술 수술방법 -->
                    <div class="content__box">
                        <div class="content__wrap">
                            <div class="system type-gynecomastia">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">여성형 유방 교정술 수술방법</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            여성형 유방은 대부분이 지방과 유선조직으로 이루어져 있습
                                                            니다. 때문에 이 두 가지를 효과적으로 제거하는 것이 여성형
                                                            유방 교정의 핵심입니다. 그래서 바노바기는 지방 흡입과 피하
                                                            유방 절제술, 이 두 가지 방법을 통해 여성형 유방을 교정합니다.
                                                            비만으로 인해 가슴에 지방이 축적된 상태인지 유방조직의
                                                            섬유화가 진행된 상태인지 확인 후, 환자의 상태에 따라 적절한
                                                            방법을 선택하여 적용하기 위해서입니다.<br><br>
                                                            <span class="color-point1">또, 두 가지 원인이 복합적으로 나타난 경우에는 두 방법을 병행
                                                            하여 더욱 효과적인 여성형 유방 교정을 추구합니다.</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/gynecomastia/gynecomastia_way_1.jpg" alt="가슴 지방 흡입" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">가슴 지방 흡입</h4>
                                                                <p class="img-style2__txt">
                                                                    가슴에 지방이 집중적으로 축적된 여성형 유방에 적합한 방법입니다. 유방의 아랫부분을 비교적 적게
                                                                    절개한 후 초음파와 레이저를 통해 지방을 녹여 흡입합니다. 지방과 함께 유선조직이 많이 발달한
                                                                    경우라면 피하 유방 절제술을 병행하여 보다 뛰어난 효과를 기대할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/gynecomastia/gynecomastia_way_2.jpg" alt="피하 유방 절제술" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">피하 유방 절제술</h4>
                                                                <p class="img-style2__txt">
                                                                    발달된 유선조직으로 인해 여성형 유방이 된 경우에 적합한 방법입니다. 유두 부위의 비교적 적은 절개를
                                                                    통해 내부 조직들을 적절히 줄여준 후 다시 봉합합니다. 가슴의 외형적인 모양을 고려하여 높이를 조절해
                                                                    주는 것이 핵심이며 유두를 포함한 주변 부위의 돌출 개선에 보다 효과적입니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 장점-->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 여성형 유방 교정술</h3>
                        <p class="content__floor2 tit-v4">장점</p>
                        <div class="content__wrap">
                            <div class="system type-gynecomastia">
                                <div class="system__item nth-2">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            바노바기는 2000년 개원 이후 수많은 가슴 성형 경험과
                                                            그에 맞는 장비 및 기술을 갖추고 있습니다.
                                                            심도 있는 상담으로 개개인의 체형과 상태에 맞는 개선 방향을
                                                            설정하고 적절한 수술 방법을 선택하기 때문에 수술 후
                                                            만족도가 비교적 높고 재발의 가능성이 거의 없습니다.<br><br>
                                                            <span class="color-point1">또, 보다 빠르고 정교한 수술로 조직의 손상을 예방하며
                                                            피부과와의 협진을 통한 흉터 집중 치료가 더해져 흉터가 거의
                                                            남지 않고 수술 후 회복이 비교적 빠릅니다.</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/gynecomastia/gynecomastia_advantage_1.jpg" alt="효과적이면서도 아름답습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">흉터 걱정이 거의 없습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기는 비교적 빠르고 정교한 수술로 조직의 손상을 줄이며, 피부과와의 협진을 통한
                                                                    집중 흉터 관리가 더해져 흉터가 거의 보이지 않습니다. 특히 유륜 근처 부위에 비교적 적은
                                                                    절개로 수술하여 피부의 회복이 비교적 빠르고 그 흔적이 거의 남지 않습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/gynecomastia/gynecomastia_advantage_2.jpg" alt="흉터 걱정이 거의 없습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">재발을 예방합니다</h4>
                                                                <p class="img-style2__txt">
                                                                    여성형 유방은 유선의 발달로 인해 그 증상이 두드러지게 됩니다. 바노바기는 여성형 유방의
                                                                    원인이 되는 유선을 함께 줄여주어 호르몬 이상을 유발하는 특별한 질환이 있는 경우가 아니라면
                                                                    재발의 가능성이 거의 없습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/gynecomastia/gynecomastia_advantage_3.jpg" alt="남성적 가슴 윤곽이 살아납니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">남성적 가슴 윤곽이 살아납니다</h4>
                                                                <p class="img-style2__txt">
                                                                    여성형 유방 교정은 단순히 돌출되고 처진 가슴을 교정하는 것뿐만 아니라 남성의 탄탄한 가슴 윤곽을
                                                                    제대로 잡아주는 것이 중요합니다. 바노바기는 오랜 가슴 성형 경험에 남성 성형 경험을 더하여 보다
                                                                    남성적 매력이 강조되는 여성형 유방 교정을 추구합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 수술결과 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 여성형 유방 교정술</h3>
                        <p class="content__floor2 tit-v4">수술결과</p>
                        <p class="content__txt txt-v2">
                            바노바기 여성형 유방 교정술은 수술적 방법으로 그 결과가 비교적 금방 나타납니다.<br class="hidden-m">
                            수술 후 가슴의 윤곽과 사이즈 감소를 확인할 수 있으며, 개개인의 상태에 따라 일시적으로
                            당겨지는 듯한 느낌이 느껴질 수 있지만 시간이 지나면서 점차 회복됩니다.
                            염증이나 부작용을 예방하기 위해 약 2주 정도의 금주와 금연이 필요합니다.
                        </p>

                        <div class="img-style5">
                            <ul class="img-style5__list">
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/gynecomastia/gynecomastia_before_1.jpg" alt="수술 전" class="img-w100"/>
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/gynecomastia/gynecomastia_after_1.jpg" alt="수술 후 6개월" class="img-w100"/>
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/gynecomastia/gynecomastia_before_2.jpg" alt="수술 전" class="img-w100"/>
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/gynecomastia/gynecomastia_after_2.jpg" alt="수술 후 6개월" class="img-w100"/>
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="img-style5__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
