<%
    type = "content"
    page = "polymastia"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-rectify">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">보다 확실히 교정하여 재발까지 예방하는</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">부유방 교정술</span></p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-rectify">
            <div class="content-wrap">
                <div class="content__area">

                    <!-- 부유방 교정술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            부유방 교정술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 30분 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">정맥마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">수술 후 일상생활 가능</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 부유방 교정술</h3>
                        <p class="content__floor2 tit-v4">수술대상</p>
                        <p class="content__txt txt-v2">
                            부유방이란 해부학적으로 본래 가슴이 아닌 부위에 가슴과 같은 발달이 나타난 것을 말합니다.<br>
                            정상적인 경우 겨드랑이에서 사타구니까지 신체 전반에 분포한 밀크라인 중 가슴을 제외한
                            부위는 퇴화하게 되는데, 퇴화되지 않고 남은 부위가 가슴처럼 발달하게 되는 것입니다.<br><br>
                            특히 부유방은 겨드랑이 부위에 살이 볼록하게 올라온 형태를 하는 경우가 많아,
                            가슴과 겨드랑이의 경계를 모호하게 만들고 심한 경우에는 살이 처지거나 유두와 같은 조직이 발생하여 콤플렉스의 원인이 됩니다.<br>
                            <strong class="color-point1">또, 단순히 미적 불만족뿐 아니라 멍울이 만져지거나, 잦은 통증, 피부 접힘으로 인한 피부 질환 등
                            일생생활의 불편함과 건강 문제가 동반될 수도 있기 때문에 그 정도가 심한 경우라면 부유방 교정이 권장됩니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="img-style6">
                                <p class="img-style6__tit">가슴 외 부위의 밀크라인 발달로 인한 부유방</p>
                                <ul class="img-style6__list">
                                    <li class="img-style6__item">
                                        <img src="../../images/polymastia/rectify/rectify_case_1.jpg" alt="" class="img-w100"/>
                                    </li>
                                    <li class="img-style6__item">
                                        <img src="../../images/polymastia/rectify/rectify_case_2.jpg" alt="" class="img-w100"/>
                                    </li>
                                </ul>
                            </div>

                            <div class="dia2 type-brown type-five">
                                <ul class="dia2__list">
                                    <li class="dia2__item">
                                        <div class="vertical">유독 볼록하게 튀어나온 겨드랑이로 인한 콤플렉스</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">딱딱하게<br> 만져지는 겨드랑이 멍울</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">유두와 비슷한 형태의 조직 발달</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">피부 접힘으로 인한 피부 질환</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">월경 주기나 호르몬 영향에 따른 겨드랑이 통증</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술목표 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 부유방 교정술</h3>
                        <p class="content__floor2 tit-v4">수술목표</p>
                        <div class="content__wrap type-another">
                            <div class="purpose">
                                <ul class="purpose__list">
                                    <li class="purpose__item txt-v3">미용적인 형태 개선으로 자신감 상승</li>
                                    <li class="purpose__item txt-v3">호르몬 영향으로 인한 크기 변화나 통증 방지</li>
                                    <li class="purpose__item txt-v3">피부 접힘으로 인한 피부 질환 예방</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 부유방 교정술 수술방법 -->
                    <div class="content__box">
                        <div class="content__wrap">
                            <div class="system type-rectify">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">부유방 교정술 수술방법</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            밀크라인으로 인해 발달하는 부유방은 말 그대로 또 다른
                                                            유방과 같이 그 내부에 지방조직과 유선조직을 동시에 가지게
                                                            됩니다. 때문에 단순 비만치료처럼 지방량을 줄이는 방법
                                                            만으로는 유선조직들이 제대로 제거되지 않아 그 효과가 크지
                                                            않고, 부유방이 재발할 가능성이 높습니다.<br><br>
                                                            <strong class="color-point1">따라서 부유방 교정은 지방조직과 유선조직을 동시에 제거하는
                                                            것이 핵심입니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/rectify/rectify_way_1.jpg" alt="바노바기 부유방 교정술" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">바노바기 부유방 교정술</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기는 초음파 지방 흡입기와 라이포메틱 진동식 지방 흡입기 같은 전문 기기를 통해 부유방
                                                                    교정을 진행합니다. 이 장비들은 순수 지방 성분뿐만 아니라 유선조직을 함께 잡아낼 수 있기 때문에
                                                                    부유방 개선에 보다 효과적입니다.
                                                                    또, 부드럽고 섬세한 조절이 가능하여 조직의 불필요한 손상을 비교적 줄일 수 있고, 겨드랑이 주름을 통한 수술로
                                                                    흉터 또한 거의 남지 않기 때문에 환자분들의 부담이 줄어들 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 장점-->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 부유방 교정술</h3>
                        <p class="content__floor2 tit-v4">장점</p>
                        <div class="content__wrap">
                            <div class="system type-rectify">
                                <div class="system__item nth-2">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            바노바기는 2000년 개원 이후 수많은 가슴 성형 경험과
                                                            그에 맞는 장비 및 기술을 갖추고 있습니다.
                                                            심도 있는 상담으로 개개인의 체형과 상태에 맞는 개선 방향을
                                                            설정하고 적절한 수술 방법을 선택하기 때문에 수술 후
                                                            만족도가 비교적 높고 재발의 가능성이 거의 없습니다.<br><br>
                                                            <strong class="color-point1">또, 보다 빠르고 정교한 수술로 조직의 손상을 예방하며
                                                            피부과와의 협진을 통한 흉터 집중 치료가 더해져 흉터가 거의
                                                            남지 않고 수술 후 회복이 비교적 빠릅니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/rectify/rectify_advantage_1.jpg" alt="조화를 생각해 더욱 만족스럽습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">조화를 생각해 더욱 만족스럽습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기는 개개인의 체형과 팔과 가슴 형태를 고려하는 심미안을 바탕으로 부유방을 교정합니다.
                                                                    또, 필요한 경우라면 팔 지방 흡입을 더하여 더욱 뛰어난 체형 개선 효과를 기대할 수도 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/rectify/rectify_advantage_2.jpg" alt="흉터 걱정이 거의 없습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">흉터 걱정이 거의 없습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기의 오랜 가슴 성형 경험과 부드럽고 섬세한 조절이 가능한 전문 장비, 그리고 피부과와의
                                                                    협진을 통한 집중 흉터 관리가 더해져 흉터가 거의 보이지 않습니다. 특히 겨드랑이 부유방 교정술은
                                                                    겨드랑이 주름을 통해 진행되어 더욱 흉터 걱정이 줄어듭니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/rectify/rectify_advantage_3.jpg" alt="재발을 예방합니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">재발을 예방합니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기 부유방 교정술은 단순히 지방뿐만 아니라 유선조직들을 함께 줄여줍니다.
                                                                    때문에 시간이 지나 호르몬의 영향으로 부유방이 재발하는 것을 예방할 수 있고 보다 효과적인
                                                                    개선이 가능합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/polymastia/rectify/rectify_advantage_4.jpg" alt="보다 정밀하게 교정합니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">보다 정밀하게 교정합니다</h4>
                                                                <p class="img-style2__txt">
                                                                    부유방 교정은 내부 조직을 제거하되, 적정량을 고르게 제거하는 것이 중요합니다.
                                                                    그렇지 않으면 수술 부위가 움푹 들어가 보이거나 울퉁불퉁해 보이는 결과가 발생할 수 있습니다.
                                                                    바노바기는 오랜 부유방 교정 노하우를 바탕으로 부유방 교정을 진행하여 더욱 매끄럽고 깔끔한
                                                                    결과를 기대할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 수술결과 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 부유방 교정술</h3>
                        <p class="content__floor2 tit-v4">수술결과</p>
                        <p class="content__txt txt-v2">
                            부유방 교정은 비교적 간단한 수술로, 수술 후 통증이나 회복에 대한 부담이 적은 편입니다.<br class="hidden-m">
                            수술 후 일정 기간 동안 팔을 높이 들거나 벌리는 등 겨드랑이가 팽창되는 동작에 주의한다면
                            큰 부작용 거의 없이 매끄러운 겨드랑이 라인이 유지될 수 있습니다.
                        </p>

                        <div class="img-style5">
                            <ul class="img-style5__list">
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/rectify/rectify_before_1.jpg" alt="수술 전" class="img-w100"/>
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/rectify/rectify_after_1.jpg" alt="수술 후 3개월" class="img-w100"/>
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 3개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/rectify/rectify_before_2.jpg" alt="수술 전" class="img-w100"/>
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/polymastia/rectify/rectify_after_2.jpg" alt="수술 후 3개월" class="img-w100"/>
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 3개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="img-style5__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
