@charset "UTF-8";
@import "mixins";
.content-visual{
    &.type-bts{background: url("../images/introduce/bts/bts_visual_1.jpg") center bottom/cover no-repeat;}
    @media only screen and (max-width: $tablet-size) {
        &.type-bts{background: url("../images/introduce/bts/bts_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}
.bts-style2{
    &__wrap{margin-top:160px; padding:0 6.25%; background-color:#eeeeee; box-sizing:border-box;}
    &__box{position:relative; height:0; padding-bottom:44.64%;
        &.nth-1{top:-100px; background:url('../images/introduce/bts/bts_medical_1.png') no-repeat center center / cover;}
        &.nth-2{margin-top:-180px; background:url('../images/introduce/bts/bts_medical_2.png') no-repeat center center / cover;}
    }
}
