@charset "UTF-8";
@import "mixins";
.content-visual{
    &.type-life{background: url("../images/introduce/life/life_visual_1.jpg") center bottom/cover no-repeat;}
    @media only screen and (max-width: $tablet-size) {
        &.type-life{background: url("../images/introduce/life/life_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}
.history{
    $this:&;
    &__list{margin:0; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{position:relative; list-style:none;  box-sizing:border-box;
        &:first-child{
            #{$this}__box:before{top:20px;}
        }
        &.type-left{padding-right:50%; text-align:right;
            #{$this}__box{padding-right:30px;
                &:before{right:0; border-right:1px solid #eee;}
            }
            #{$this}__year{
                &:before{right:-35px;}
                &:after{right:-38px;}
            }
        }
        &.type-right{padding-left:50%; text-align:left;
            #{$this}__box{padding-left:30px;
                &:before{left:-1px; border-left:1px solid #eee;}
            }
            #{$this}__year{
                &:before{left:-35px;}
                &:after{left:-38px;}
            }
        }
        & + &{
            #{$this}__box{padding-top:36px;}
        }
        &.with-img{
            & + #{$this}__item{margin-top:-190px;}
        }
    }
    &__year{position:relative; margin:0; font-weight:$bold;
        &:before,&:after{position:absolute; top:0; bottom:0; display:block; margin:auto 0; border-radius:50%; content:'';}
        &:before{width:10px; height:10px; background:$point1; }
        &:after{width:16px; height:16px; background:rgba(241,91,64,0.2);}
    }
    &__list2{margin:10px 0 0; padding:0;}
    &__item2{list-style:none;
        &.type-img{margin-top:20px;}
    }
    &__box{position:relative;
        &:before{position:absolute; top:0; bottom:0; width:0; display:block; content:'';}
    }
    @media only screen and (max-width: $tablet-size) {
        &__item{
            &.with-img{
                & + #{$this}__item{margin-top:-160px;}
            }
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &__list2{margin-top:5px;}
        &__item2{
            &.type-img{margin-top:10px;}
        }
        &__item{
            &:first-child{
                #{$this}__box:before{top:10px;}
            }
            &.type-left{
                #{$this}__box{padding-right:10px;}
                #{$this}__year{
                    &:before{right:-12px;}
                    &:after{right:-13px;}
                }
            }
            &.type-right{
                #{$this}__box{padding-left:10px;}
                #{$this}__year{
                    &:before{left:-12px;}
                    &:after{left:-13px;}
                }
            }
            & + &{
                #{$this}__box{padding-top:18px;}
            }
            &.with-img{
                & + #{$this}__item{margin-top:-80px;}
            }
        }
        &__year{
            &:before{width:6px; height:6px;}
            &:after{width:8px; height:8px}
        }
    }
}

.system{
    $this:&;
    &.type-life{
        #{$this}__item{
            &.nth-1{
                #{$this}__wrap{background:url('../images/introduce/life/life_bg_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__wrap{background:url('../images/introduce/life/life_bg_1.jpg') no-repeat center center / cover;}
            }
        }
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-life{
            #{$this}__item{
                &.nth-1{
                    #{$this}__wrap{padding-top:125%;
                        &:before{padding-bottom:125%; background:url('../images/introduce/life/life_bg_1_m.jpg') no-repeat center center / cover;}
                    }
                    #{$this}__box{margin-top:-100px; padding-top:80px;}
                }
            }
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &.type-life{
            #{$this}__item{
                &.nth-1{
                    #{$this}__box{margin-top:-50px; padding-top:40px;}
                }
            }
        }
    }
}

.process{
    $this:&;
    &__list{margin:0 0 0 -36px; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; width:16.66%; padding-left:46px; box-sizing:border-box; list-style:none; vertical-align:top;
        &:before{position:absolute; top:36px;  left:15px; display:block; width:16px; height:26px; background:url('../images/introduce/life/process_arrow_1.png') no-repeat center center / contain; content:'';}
        &:first-child:before{display:none;}
        &:last-child{
            &:before{width:32px; left:7px; background:url('../images/introduce/life/process_arrow_2.png') no-repeat center center / contain;}
        }
        &.type-circle{
            #{$this}__box{background-color:$point2; color:#fff;}
            &.nth-2{
                #{$this}__wrap{background:url('../images/introduce/life/process_circle_2.png') no-repeat center center / cover;}
            }
        }
    }
    &__box{display:table-cell; width:1%; height:100px; border:2px solid $point2; box-sizing:border-box; vertical-align:middle; border-radius:10px;}
    &__circle{position:relative; padding-top:56px;
        &:before,&:after{position:absolute; left:0; right:0; display:block; margin:0 auto; border-radius:50%; content:'';}
        &:before{top:-5px; width:10px; height:10px; background:$point1; }
        &:after{top:-8px; width:16px; height:16px; background:rgba(241,91,64,0.2);}
    }
    &__wrap{position: relative; display:block; width:100%; height:0; padding-bottom:100%; background:url('../images/introduce/life/process_circle_1.png') no-repeat center center / cover;
        &:before{position:absolute; top:-51px; left:0; right:0; width:2px; height:52px;  background:$point2; margin:0 auto; content:''; z-index:1;}
    }
    &__outer{position:absolute; top:0; left:0; display:inline-table; width:100%; height:100%; content:''; z-index:5;}
    &__inner{display:table-cell; height:100%; padding:5px 14px; vertical-align:middle; font-size:18px; color:#fff; box-sizing:border-box; line-height:1.5;}
    @media only screen and (max-width: $tablet-size) {
        &__list{margin-left:0;}
        &__item{position:relative; display:block; width:210px; margin:0px auto; padding-left:0;
            & + &{margin-top:46px;}
            &:before{top:-36px; left:0; right:0; margin:0 auto; width:8px; height:13px; transform:rotate(90deg);}
            &:last-child{
                &:before{left:0; width:16px;}
            }
        }
        &__box{height:82px; border-width:1px; border-radius:5px;}
        &__circle{position:absolute; top:50%; right:-210px; transform: translateY(-50%); padding-top:0;
            &:before,&:after{left:auto; right:auto; top:0; bottom:0; margin:auto 0;}
            &:before{left:-36px;}
            &:after{left:-39px;}
        }
        &__wrap{width:180px;
            &:before{position:absolute; top:0; left:-26px; right:auto; bottom:0; width:26px; height:2px; margin:auto 0;}
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &__item{width:110px;
            & + &{margin-top:28px;}
            &:before{top:-21px;}
        }
        &__box{height:55px;}
        &__circle{right:-105px;
            &:before{width:6px; height:6px; left:-18px;}
            &:after{width:8px; height:8px; left:-19px;}
        }
        &__wrap{width:90px;
            &:before{left:-13px; width:13px; height:1px; }
        }
        &__inner{font-size:1.1rem;}
    }
}
