@charset "UTF-8";
@import "mixins";

.medical{text-align: left;
    &__wrap{}
    &__list{margin: 0 0 0 -20px;padding: 0;list-style: none;
        &:after{content: '';display: block;clear: both;}
    }
    &__item{float: left;position: relative;width: 25%;padding-left: 20px;box-sizing: border-box;
        &:nth-child(4) ~ &{margin-top:60px;}
    }
    &__img{position: relative;width: 100%;height: 0;padding-bottom: 134.42%;}
    &__info{display:table-cell;position: relative;width: 1%;height: 120px;padding-right: 80px;border-bottom: 1px solid $black2;vertical-align: middle;box-sizing: border-box;}
    &__name{}
    &__part{margin-top: 10px;}

    &__btn{position: absolute;top: 0;right: 0;bottom: 0;width: 60px;height: 60px;margin: auto;border: 1px solid $black2;box-sizing: border-box;text-align: center;}
    &__link{display: table-cell;width: 1%;height: inherit;padding: 0 18%;font-size: 14px;color: $black2;text-decoration: none;vertical-align: middle;box-sizing: border-box;word-break: break-all;}

    @media only screen and (max-width: $tablet-size){
        &__item{width: 50%;
            &:nth-child(2) ~ &{margin-top:40px;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        margin-top: 20px;
        &__info{height: 80px;padding-right: 40px;}
        &__part{margin-top: 4px;}
        &__btn{width: 40px;height: 40px;}
        &__link{font-size: 1.2rem;}
    }
}

.medical-view{position:fixed; top:100%; left:0; bottom:0; right:0; height:100vh; background-color:#fff; z-index:150;
	$this:&;
	&.is-active{top:0;}
	&__area{position:relative; width:100%; height:100%;}
	&__list{margin:0; padding:0; height:100%;}
	&__item{display:none; height:inherit; list-style:none;
		&.is-active{display:block;}
		&:after{display:block; clear:both; content:'';}
	}
	&__box{float:left; width:50%; height:100%;}
	&__img{width:100%; height:100%; background-position:center bottom; background-repeat:no-repeat; background-size:contain; background-color:#dadada;}
	&__outer{display:inline-table; width:100%; height:100%; box-sizing:border-box;}
	&__inner{display:table-cell; vertical-align:middle;}
	&__wrap{width:420px; margin:0px auto;}
	&__tit{}
	&__txt{margin:24px 0 0 0; padding-right:10px; font-size:15px; line-height:2; box-sizing:border-box;}
	&__career{display:block; margin-top:8px; color:$point1; font-size:20px;}
	&__dl{margin:0;}
	&__dt{font-size:20px; font-weight:$regular; color:$point1; letter-spacing:-1px;}
	&__dd{margin:5px 0 0 0; font-size:15px; color:$black2; line-height:1.6;
		& + #{$this}__dt{margin-top:30px;}
	}
	&__close{overflow:hidden; position:absolute; top:80px; right:80px; display:block; width:42px; height:42px; opacity:0;
		background:url('../images/introduce/medical/close.png') no-repeat center center / contain; text-indent:-9999px;}
	@media only screen and (max-height:$minH-size) {
		&__close{top:40px; right:40px;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&__img{background-size:cover;}
	}
	@media only screen and (max-width: $tablet-size) {overflow:hidden;
		&__box{float:none; width:100%; height:auto;
			&.type-img{height:41.8%;}
			&.type-txt{overflow:auto; height:calc(58.2% - 56px); box-sizing:border-box;}
		}
		&__img{background-size:76%; background-position:center top;}
		&__outer{position:relative; display:block;}
		&__inner{display:block; height:100%;}
		&__wrap{width:100%; height:100%; padding:0 20%; box-sizing:border-box;}
		&__close{top:30px; right:20px;}
	}
	@media only screen and (max-width: $tablet-size) and (max-height:$minH-size) {
		&__img{background-size:contain !important;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:2.4rem;}
		&__txt{margin-top:10px; font-size:1.2rem;}
		&__career{margin-left:4px; font-size:1.1rem;}
		&__img{background-size:cover;}
		&__wrap{padding:0 40px;}
		&__dt{font-size:1.4rem;}
		&__dd{margin-top:2px; font-size:1.3rem;}
		&__close{top:14px; right:14px; width:21px; height:21px;}
	}
}

.medical-nav{position: absolute; top:0; left:0; right:0;  bottom:0; width: 80px; height:180px; margin:auto; padding:0; z-index:120; font-size:0;
    $this:&;

	&__item{display:inline-block;position: relative;width:inherit; height:90px; list-style:none; text-align: center; background: #fff; border: 1px solid #B7B7B7; color: #B7B7B7; box-sizing:border-box;
		& + &{border-top:none;}
		&.type-prev{}
		&.type-next{
            &:before{transform: rotate(180deg);}
		}
        &:before{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 32px;height: 18px;margin: auto;background: url(../images/introduce/medical/medical_nav.png) 0 0/contain no-repeat;}
	}
	&__link{position: absolute;width: 100%;height: 100%;top: 0;left: 0;text-indent: -9999px;overflow: hidden;text-decoration:none;}
	@media only screen and (max-width: $tablet-size) {top:20%; height:auto; margin-left:0; margin-top:-28px; bottom:auto;
		&__item{position:fixed; width:58px; height:58px; background:rgba(255,255,255,0.3); border:0; transform:rotate(-90deg);
			&.type-prev{left:-1px; border:1px solid #cfcfcf;}
			&.type-next{right:-1px;; border:1px solid #cfcfcf;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:-20px;
		&__item{width:40px; height:40px;
            &:before{width: 30px;height: 18px;}
		}
	}
}
