<%
    type = "content"
    page = "real"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="real-visual">
            <img src="../../images/real/10/real_visual.jpg" alt="" class="real-visual__img hidden-tm"/>
            <img src="../../images/real/10/real_visual_m.jpg" alt="" class="real-visual__img img-responsive hidden-p"/>

            <div class="content-wrap">
                <div class="real-visual__wrap">
                    <div class="real-visual__box">
                        <h3 class="real-visual__tit">
                            <img src="../../images/real/10/real_tit.png" alt="RealStory #10" class="img-w100"/>
                        </h3>
                        <p class="real-visual__subtit tit-v1">다시 새롭게<br> 더욱 이상적으로</p>
                    </div>

                    <ul class="real-visual__list">
                        <li class="real-visual__item txt-v1">
                            <span>#새롭게</span>
                        </li>
                        <li class="real-visual__item txt-v1">
                            <span>#자연스러움</span>
                        </li>
                        <li class="real-visual__item txt-v1">
                            <span>#만족스러움</span>
                        </li>
                    </ul>
                </div>

                <div class="real-thum">
                    <div class="real-thum__scroll">
                        <ul class="real-thum__list">
                            <li class="real-thum__item is-on">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_2_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content type-another">
            <div class="content-wrap">
                <div class="real">
                    <div class="real__section">
                        <span class="real__step">STEP 01</span>
                        <h4 class="real__tit">1:1 맞춤 상담 및 정밀검사</h4>

                        <div class="real__box">
                            <img src="../../images/real/10/real_step1.jpg" alt="1:1 맞춤 삼당 및 정밀검사"/>
                        </div>
                    </div><!-- //realstory__section -->

                    <div class="real__section">
                        <span class="real__step">STEP 02</span>
                        <h4 class="real__tit">수술 후 체계적인 케어 프로그램<br class="hidden-pt"> : 관리 및 체크</h4>

                        <div class="real__box">
                            <img src="../../images/real/10/real_step2.jpg" alt="수술 후 체계적인 케어 프로그램 : 관리 및 체크"/>
                        </div>
                    </div><!-- //realstory__section -->

                    <div class="real__section">
                        <h4 class="real__tit type-bf"></h4>

                        <div class="real__box">
                            <img src="../../images/real/10/real_gallery.jpg" alt="Gallery"/>
                            <img src="../../images/real/10/real_sketch.jpg" alt="촬영스케치"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../_include/_footer %>
