<%
    type = "content"
    page = "real"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="real-visual">
            <img src="../../images/real/1/real_visual.jpg" alt="" class="real-visual__img hidden-tm"/>
            <img src="../../images/real/1/real_visual_m.jpg" alt="" class="real-visual__img img-responsive hidden-p"/>

            <div class="content-wrap">
                <div class="real-visual__wrap">
                    <div class="real-visual__box">
                        <h3 class="real-visual__tit">
                            <img src="../../images/real/1/real_tit.png" alt="RealStory #01" class="img-w100"/>
                        </h3>
                        <p class="real-visual__subtit tit-v1">보는 것을 넘어<br> 만지고 싶은 촉감</p>
                    </div>

                    <ul class="real-visual__list">
                        <li class="real-visual__item txt-v1">
                            <span>#부드러운</span>
                        </li>
                        <li class="real-visual__item txt-v1">
                            <span>#자연스러운</span>
                        </li>
                        <li class="real-visual__item txt-v1">
                            <span>#촉감</span>
                        </li>
                    </ul>
                </div>

                <div class="real-thum">
                    <div class="real-thum__scroll">
                        <ul class="real-thum__list">
                            <li class="real-thum__item is-on">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_2_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                            <li class="real-thum__item">
                                <a href="" class="real-thum__link">
                                    <img src="../../images/real/real_thum_1_off.png" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- realstory navigation-->
                <div class="real-nav">
                    <a href="" class="real-nav__btn type-prev">Prev</a>
                    <a href="" class="real-nav__btn type-next">Next</a>
                </div>
                <!-- //real-nav-->
            </div>
        </div>

        <div class="content type-another">
            <div class="content-wrap">
                <div class="real">
                    <div class="real__section">
                        <span class="real__step">STEP 01</span>
                        <h4 class="real__tit">1:1 맞춤 상담 및 정밀검사</h4>

                        <div class="real__box">
                            <img src="../../images/real/1/real_step1.jpg" alt="1:1 맞춤 삼당 및 정밀검사"/>
                        </div>
                    </div><!-- //realstory__section -->

                    <div class="real__section">
                        <span class="real__step">STEP 02</span>
                        <h4 class="real__tit">수술 후 체계적인 케어 프로그램<br class="hidden-pt"> : 관리 및 체크</h4>

                        <div class="real__box">
                            <img src="../../images/real/1/real_step2.jpg" alt="수술 후 체계적인 케어 프로그램 : 관리 및 체크"/>
                        </div>
                    </div><!-- //realstory__section -->

                    <div class="real__section">
                        <span class="real__step">STEP 03</span>
                        <h4 class="real__tit">바노바기 피부과 진료 연계<br class="hidden-pt"> : 힐링 스카 프로젝트</h4>

                        <div class="real__box">
                            <img src="../../images/real/1/real_step3.jpg" alt="바노바기 피부과 진료 연계 : 힐링 스카 프로젝트"/>
                        </div>
                    </div><!-- //realstory__section -->

                    <div class="real__section">
                        <h4 class="real__tit type-bf">BEFORE &amp; AFTER</h4>

                        <div class="real__box">
                            <img src="../../images/real/1/real_before.jpg" alt="Before"/>
                            <img src="../../images/real/1/real_after.jpg" alt="After 수술 후 6개월"/>
                        </div>
                    </div>
                    <p class="real__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../_include/_footer %>
