@charset "UTF-8";
@import "mixins";

.content-visual{
    &.type-cell{background: url("../images/augmentation/cell/cell_visual_1.jpg") center bottom/cover no-repeat;}

    @media only screen and (max-width: $tablet-size) {
        &.type-cell{background: url("../images/augmentation/cell/cell_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}
$total: 4;
.circle-style2{
    $this:&;
    &.type-cell{
        #{$this}__item{
            @for $i from 1 through $total{
                &.nth-#{$i}{
                    #{$this}__box{background:url('../images/augmentation/cell/cell_circle_'+$i+'.png') no-repeat center center / cover;}
                }
            }

        }
    }
}
