@charset "UTF-8";
@import "mixins";

.content-visual{
    &.type-motiva{background: url("../images/augmentation/motiva/motiva_visual_1.jpg") center bottom/cover no-repeat;}

    @media only screen and (max-width: $tablet-size) {
        &.type-motiva{background: url("../images/augmentation/motiva/motiva_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}
$total: 10;
.circle-style2{
    $this:&;
    &.type-motiva{
        #{$this}__item{
            @for $i from 1 through $total{
                &.nth-#{$i}{
                    #{$this}__box{background:url('../images/augmentation/motiva/motiva_circle_'+$i+'.png') no-repeat center center / cover;}
                }
            }

        }
        #{$this}__inner{color:#fff;}
    }
}

.system{
    $this:&;
    &.type-motiva{
        #{$this}__item{
            &.nth-1{
                #{$this}__wrap{background:url('../images/augmentation/motiva/motiva_bg_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__wrap{background:url('../images/augmentation/motiva/motiva_bg_2.jpg') no-repeat center center / cover;}
            }
            &.nth-3{
                #{$this}__wrap{background:url('../images/augmentation/motiva/motiva_bg_3.jpg') no-repeat center center / cover;}
            }
            &.nth-4{
                #{$this}__wrap{background:url('../images/augmentation/motiva/motiva_bg_4.jpg') no-repeat center center / cover;}
            }
            &.nth-5{
                #{$this}__wrap{background:url('../images/augmentation/motiva/motiva_bg_5.jpg') no-repeat center center / cover;}
            }
            &.nth-6{
                #{$this}__wrap{background:url('../images/augmentation/motiva/motiva_bg_6.jpg') no-repeat center center / cover;}
            }
            & + &{margin-top:120px;}
        }
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-motiva{
            #{$this}__item{
                &.nth-1{
                    #{$this}__wrap:before{background:url('../images/augmentation/motiva/motiva_bg_1.jpg') no-repeat center center / cover;}
                }
                &.nth-2{
                    #{$this}__wrap:before{background:url('../images/augmentation/motiva/motiva_bg_2.jpg') no-repeat center center / cover;}
                }
                &.nth-3{
                    #{$this}__wrap:before{background:url('../images/augmentation/motiva/motiva_bg_3.jpg') no-repeat center center / cover;}
                }
                &.nth-4{
                    #{$this}__wrap:before{background:url('../images/augmentation/motiva/motiva_bg_4.jpg') no-repeat center center / cover;}
                }
                &.nth-5{
                    #{$this}__wrap:before{background:url('../images/augmentation/motiva/motiva_bg_5.jpg') no-repeat center center / cover;}
                }
                &.nth-6{
                    #{$this}__wrap:before{background:url('../images/augmentation/motiva/motiva_bg_6.jpg') no-repeat center center / cover;}
                }
            }
        }
    }
}
