@charset "UTF-8";
@import "mixins";

.content-visual{
    &.type-gynecomastia{background: url("../images/polymastia/gynecomastia/gynecomastia_visual_1.jpg") center bottom/cover no-repeat;}

    @media only screen and (max-width: $tablet-size) {
        &.type-gynecomastia{background: url("../images/polymastia/gynecomastia/gynecomastia_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}

.content{
    $this:&;

    &.type-gynecomastia{
        #{$this}__txt{margin-top: 0;
            &:before{display: none;}
        }
    }
}


.system{
    $this:&;
    &.type-gynecomastia{
        #{$this}__item{
            &.nth-1{
                #{$this}__wrap{background:url('../images/polymastia/gynecomastia/gynecomastia_bg_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__wrap{background:url('../images/polymastia/gynecomastia/gynecomastia_bg_2.jpg') no-repeat center center / cover;}
            }
        }
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-gynecomastia{
            #{$this}__item{
                &.nth-1{
                    #{$this}__wrap:before{background:url('../images/polymastia/gynecomastia/gynecomastia_bg_1.jpg') no-repeat center center / cover;}
                }
                &.nth-2{
                    #{$this}__wrap:before{background:url('../images/polymastia/gynecomastia/gynecomastia_bg_2.jpg') no-repeat center center / cover;}
                }
            }
        }
    }
}
