<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="content-wrap">
				<a href="" class="top-btn">
					<span class="top-btn__vertical">
						<span class="top-btn__wrap">top</span>
					</span>
				</a>
				<div class="footer__wrap">
					<p class="footer__logo">
						<img src="../../images/common/footer_logo.png" alt="바노바기성형외과의원 - petit" class="hidden-m">
						<img src="../../images/common/footer_logo_m.png" alt="바노바기성형외과의원 - petit" class="hidden-pt">
					</p>
					<ul class="footer__list">
						<li class="footer__item">서울특별시 강남구 논현로 519 4층</li>
						<li class="footer__item"><a href="tel:1588-6508" class="footer__link">CS CENTER 1588-6508</a></li>
						<li class="footer__item"><a href="tel:02-562-6001" class="footer__link">TEL 02-562-6001</a></li>
						<li class="footer__item">FAX 02-561-1755</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item">바노바기성형외과의원 박선재</li>
						<li class="footer__item">220-08-87096 </li>
						<li class="footer__item">통신판매업 신고번호 제2015-서울강남-03292호</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item">Copyright © 2014 banobagi beauty all rights reserved.</li>
					</ul>
					<ul class="footer__list2">
						<li class="footer__item2">
							<a href="../sitemap/sitemap.html" class="footer__link2"><span>사이트맵</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% include ../_include/_popup %>
		<div class="counsel">
			<div class="content-wrap">
				<div class="counsel__wrap">
					<h3 class="counsel__tit js-counsel-open">
						<span class="counsel__point">바노바기 유방클리닉</span>
						<sapn class="counsel__icon">빠른상담</sapn>
					</h3>
					<form name="frmCounsel" id="frmCounsel" method="post">
						<div class="counsel__area">
							<ul class="counsel__list">
								<li class="counsel__item"><input type="text" class="input1" placeholder="이름"></li>
								<li class="counsel__item"><input type="text" class="input1" placeholder="연락처"></li>
								<li class="counsel__item type-content"><input type="text" class="input1" placeholder="상담내용"></li>
							</ul>
							<p class="counsel__txt"><input type="checkbox" name="sl" id="test6" class="checkbox01"><label for="test6" class="">마케팅 광고 활용 동의 (선택)</label></p>
							<p class="counsel__txt"><input type="checkbox" name="sl" id="test5" class="checkbox01"><label for="test5" class="">개인정보 수집 및 이용 동의 (필수)</label> <a href="" class="counsel__link js-terms">[ 자세히보기 ]</a></p>
						</div>
						<button type="submit" class="counsel__btn js-mouse-hover">상담신청</button>
					</form>
				</div>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/swiper.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<% if (type == "main") { %>
		<script type="text/javascript" src="../../js/main.js"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>
		<script type="text/javascript" src="../../js/map.js"></script>
	<% }else if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% } %>
	<% if (page == "introduce") {%>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if (page == "real") { %>
		<script type="text/javascript" src="../../js/real.js"></script>
	<% } %>
</body>
</html>
<!--footer끝-->
