<%
	var data = jsonData
%>
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="유방클리닉">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title>유방클리닉</title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<!-- <link rel="stylesheet" href="../../css/libs/jquery.bxslider.min.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="icon" href="../../images/common/favicon.ico">

<% if (type == "content") { %>

<%} else if (type == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
<% }else if (type == "sitemap") { %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "introduce") { %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if (page == "papilla") { %>
	<link rel="stylesheet" href="../../css/papilla.css">
<% }else if (page == "lifting"){ %>
	<link rel="stylesheet" href="../../css/lifting.css">
<% }else if (page == "polymastia"){ %>
	<link rel="stylesheet" href="../../css/polymastia.css">
<% }else if (page == "augmentation"){ %>
	<link rel="stylesheet" href="../../css/augmentation.css">
<% }else if (page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if (page == "control"){ %>
	<link rel="stylesheet" href="../../css/control.css">
<%}else if (page == "real") { %>
	<link rel="stylesheet" href="../../css/real.css">
<% } %>

</head>
<body>
	<h1 class="hidden-tit">바노바기 유방 클리닉</h1>
	<div class="common">
		<% if (type == "main") { %>
			<div class="header type-main">
		<% } else {%>
			<div class="header">
		<% } %>
			<div class="header__wrap">
				<div class="mobile-menu"><!-- 모바일 햄버거 -->
					<a href="#" class="mobile-menu__wrap js-open-m">
						<span class="mobile-menu__line"></span>
					</a>
				</div>
				<a href="../main/main.html" class="header__logo">
					바노바기 유방 클리닉
				</a>
				<div class="header__outer">
					<div class="header__inner">
						<div class="gnb">
							<ul class="gnb__depth1-list">
								<li class="gnb__depth1-item">
									<a href="../introduce/introduce_life.html" class="gnb__depth1-link type-2depth js-depth2-open">바노바기 가슴성형</a>
									<ul class="gnb__depth2-list">
										<li class="gnb__depth2-item">
											<a href="../introduce/introduce_life.html" class="gnb__depth2-link">가슴평생 주치의</a>
										</li>
										<li class="gnb__depth2-item">
											<a href="../introduce/introduce_bts.html" class="gnb__depth2-link">BTS 바노바기</a>
										</li>
										<li class="gnb__depth2-item">
											<a href="../introduce/introduce_program.html" class="gnb__depth2-link">유방 검진 클리닉</a>
										</li>
										<li class="gnb__depth2-item">
											<a href="../introduce/introduce_medical.html" class="gnb__depth2-link">의료진 소개</a>
										</li>
									</ul>
								</li>
								<li class="gnb__depth1-item">
									<a href="../augmentation/augmentation_prosthesis.html" class="gnb__depth1-link type-2depth js-depth2-open">확대술</a>
									<ul class="gnb__depth2-list">
										<li class="gnb__depth2-item">
											<a href="../augmentation/augmentation_prosthesis.html" class="gnb__depth2-link">보형물 확대술</a>
										</li>
										<li class="gnb__depth2-item">
											<a href="../augmentation/augmentation_motiva.html" class="gnb__depth2-link">모티바 가슴성형</a>
										</li>
										<!-- <li class="gnb__depth2-item">
											<a href="" class="gnb__depth2-link">벨라젤 마이크로 가슴성형</a>
										</li> -->
										<li class="gnb__depth2-item">
											<a href="../augmentation/augmentation_cell.html" class="gnb__depth2-link">줄기세포 지방이식</a>
										</li>
									</ul>
								</li>
								<li class="gnb__depth1-item">
									<a href="../reoperation/reoperation.html" class="gnb__depth1-link">재수술</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="../lifting/lifting.html" class="gnb__depth1-link">축소/리프팅</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="../papilla/papilla_reduction.html" class="gnb__depth1-link type-2depth js-depth2-open">유두/유륜 성형</a>
									<ul class="gnb__depth2-list">
										<li class="gnb__depth2-item">
											<a href="../papilla/papilla_reduction.html" class="gnb__depth2-link">유두/유륜 축소술</a>
										</li>
										<li class="gnb__depth2-item">
											<a href="../papilla/papilla_correction.html" class="gnb__depth2-link">함몰유두 교정술</a>
										</li>
									</ul>
								</li>
								<li class="gnb__depth1-item">
									<a href="../polymastia/polymastia_rectify.html" class="gnb__depth1-link type-2depth js-depth2-open">부유방/여유증</a>
									<ul class="gnb__depth2-list">
										<li class="gnb__depth2-item">
											<a href="../polymastia/polymastia_rectify.html" class="gnb__depth2-link">부유방</a>
										</li>
										<li class="gnb__depth2-item">
											<a href="../polymastia/polymastia_gynecomastia.html" class="gnb__depth2-link">여유증</a>
										</li>
									</ul>
								</li>
								<li class="gnb__depth1-item">
									<a href="../control/control.html" class="gnb__depth1-link">가슴 관리</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="../real/real_1.html" class="gnb__depth1-link">리얼스토리</a>
								</li>
							</ul>
							<div class="gnb__bottom">
								<div class="tel">
									<a href="tel:15886508" class="tel__box">
										<span class="tel__middle">대표전화</span>
										<span class="tel__middle type-phone">1588.6508</span>
									</a>
								</div>
								<div class="global">
									<div class="global__box"><a href="" class="global__link js-global-open"><span class="global__wrap">KR</span></a></div>
									<ul class="global__list">
										<li class="global__item"><a href="" class="global__link"><span class="global__wrap">KR</span></a></li>
										<li class="global__item"><a href="" class="global__link"><span class="global__wrap">TH</span></a></li>
										<li class="global__item"><a href="" class="global__link"><span class="global__wrap">US</span></a></li>
										<li class="global__item"><a href="" class="global__link"><span class="global__wrap">CN</span></a></li>
										<li class="global__item"><a href="" class="global__link"><span class="global__wrap">VN</span></a></li>
									</ul>
								</div>
							</div>
						</div><!-- //gnb-->
					</div>
				</div>
				<a href="" class="header__phone"><img src="../../images/common/header_phone.png" alt="전화걸기"></a>
			</div><!-- //header__wrap -->
		</div><!--//header-->
<!-- section시작 -->
