<div class="lnb">
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item type-home">
				<a href="" class="lnb__link">home</a>
			</li>
			<li class="lnb__item type-1depth">
				<a href="" class="lnb__link">바노바기 가슴성형</a>
			</li>
            <li class="lnb__item type-2depth is-active">
                <a href="" class="lnb__link js-lnb">
                    의료진 소개
                    <span class="lnb__caret"></span>
                </a>
                <ul class="lnb__2depth-list">
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">10년 후를 생각하는 가슴</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">가슴 건강검진</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">Breast Total System</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">의료진 소개</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">동영상</a></li>
				</ul><!-- //lnb__2depth-list -->
            </li>
        </ul><!-- //lnb__list -->
    </div>

    <a href="" class="lnb__btn type-prev">
        <span>PREV</span>
    </a>
    <a href="" class="lnb__btn type-next">
        <span>NEXT</span>
    </a>
</div>
