<!--popup시작 -->
<div class="p-login">
    <div class="p-login__wrap">
        <div class="p-login__content">
            <div class="p-login__box">
                <h2 class="p-login__tit">BANOBAGI LOGIN</h2>
                <p class="p-login__txt">
                    기존에 사용하시는 <strong>소셜 네트워크 계정,<br class="hidden-pt"> 가입하신 아이디와 비밀번호</strong>로<br class="hidden-pt">
                    <span class="inline-block">로그인을 하실 수 있습니다.</span>
                </p>
                <!-- 로그인 폼 -->
                <form  name="frmMemberLogin" id="frmMemberLogin" method="post" onSubmit="$.fnLoginChk();return false">
					<input type="hidden" name="epilogueID" id="epilogueID" value="<?php echo $epilogueID; ?>">
					<input type="hidden" name="isLoginPopup" id="isLoginPopup" value="<?php echo $isLoginPopup; ?>">
                    <div class="p-login__area">
                        <input type="text" class="p-login__input" placeholder="ID" name="membershipID" value="" id="membershipID" required>
                        <input type="password" class="p-login__input" placeholder="PW" name="membershipPW" value="" id="membershipPW" required>
                        <button type="submit" class="p-login__btn">로그인</button>
                    </div>
                </form>
                <p class="p-sns__txt">소셜 네트워크 계정으로 로그인</p>
                <ul class="p-sns__list">
                    <li class="p-sns__item">
                        <a href="" class="p-sns__link type-na">네이버 로그인</a>
                    </li>
                    <li class="p-sns__item">
                        <a href="" class="p-sns__link type-fa">페이스북 로그인</a>
                    </li>
                    <li class="p-sns__item">
                        <a href="" class="p-sns__link type-ka">카카오톡 로그인</a>
                    </li>
                </ul>
            </div>
            <!-- 회원가입 -->
            <div class="p-login__outer">
                <div class="p-login__inner">
                    <p class="p-login__txt2">아직 바노바기 회원이 아니신가요?</p>
                    <p class="p-login__txt3">회원가입으로 더 많은 서비스를 접해보세요.</p>
                </div>
                <a href="/membership/membershipJoinStep1.php" class="p-login__join">
                    <span class="p-login__span">회원가입하기</span>
                </a>
            </div>
        </div>
        <a href="" class="p-login__close js-login-close">닫기</a>
    </div>
</div>
<div class="p-login-dim">bg</div>
<!--//popup끝-->
