<!--popup시작 -->
<div class="popup-t">
	<div class="popup-t__wrap">
		<h3 class="popup-t__tit">개인정보 취급방침</h3>
		<div class="popup-t__scroll">
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
		</div>
		<h3 class="popup-t__tit">개인정보 수집 및 이용 동의 (필수)</h3>
		<div class="popup-t__scroll">
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
		</div>
		<h3 class="popup-t__tit">마케팅 광고 활용 동의(선택)</h3>
		<div class="popup-t__scroll">
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
			<h4>1. 개인정보의 수집 및 이용목적</h4><br>
			<p>바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여
				최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는
				고유의 목적 이외에는 사용되지 않습니다.
			</p>
		</div>
		<a href="" class="popup-t__btn popup-t__close">닫기</a>
	</div>
</div>
<!--//popup끝-->
