<%
    type = "content"
    page = "papilla"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-reduction">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">가슴 크기와의 조화를 생각하여 더욱 만족스러운</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">유두/유륜<br class="hidden-p"> 축소술</span></p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content">
            <div class="content-wrap">
                <div class="content__area">
                    <!-- 유두 축소술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            유두 축소술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 30분 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">최소통 국소마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">약 7~10일 후 제거</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">수술 후 일상생활 가능</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 유두 축소술</h3>
                        <p class="content__floor2 tit-v4">수술대상</p>
                        <div class="content__wrap">
                            <div class="system type-reduction">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            유두의 크기는 일반적으로 높이 8mm 전후에 직경 10mm
                                                            정도의 크기를 이상적으로 생각하며, 그보다 유두가 비대한
                                                            경우라면 유두 축소술을 고려해볼 수 있습니다.
                                                            유두 비대는 선천적인 경우도 있지만 출산 후 수유나 반복적인
                                                            자극, 외상 등의 후천적인 요소들이 원인이 되는 경우도 많기
                                                            때문에 대부분의 환자분들은 급격히 자신감을 잃거나
                                                            스트레스를 호소하게 됩니다.<br><br>
                                                            따라서 유두 축소술은 그 목적이 의학적으로 필수적인 수술이라고 할 수는 없지만,
                                                            <strong class="color-point1">콤플렉스의 극복과 자신감 회복이라는
                                                            환자의 심리적인 면에서 봤을 때 중요한 수술</strong>이라고 할 수 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-brown">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">자신감 하락</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">스트레스 <br class="hidden-p">유발</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>

                                    <div class="img-style1 type-four">
                                        <ul class="img-style1__list">
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_1.jpg" alt="유두의 폭이 넓게 발달한 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">유두의 폭이 넓게</span> <span class="inline-block">발달한 경우</span></p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_2.jpg" alt="유두의 길이가 길게 발달한 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">유두의 길이가 길게</span> <span class="inline-block">발달한 경우</span></p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_3.jpg" alt="유두가 전체적으로 비대하게 발달한 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">유두가 전체적으로</span> <span class="inline-block">비대하게 발달한 경우</span></p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_4.jpg" alt="유두의 크기가 비대칭인 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">유두의 크기가</span> <span class="inline-block">비대칭인 경우</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 수술목표 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 유두 축소술</h3>
                        <p class="content__floor2 tit-v4">수술목표</p>
                        <div class="content__wrap type-another">
                            <div class="purpose">
                                <ul class="purpose__list">
                                    <li class="purpose__item txt-v3">미용적인 형태 개선으로 자신감 상승</li>
                                    <li class="purpose__item txt-v3">유관과 감각을 보존하여 유두의 기능 유지</li>
                                    <li class="purpose__item txt-v3">유두의 비대칭 교정</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 유두 축소술 방법 -->
                    <div class="content__box">
                        <div class="system type-reduction">
                            <div class="system__item nth-2">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">유두 축소술 방법</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        유두 축소술은 유두의 폭과 길이, 그리고 기울어진 정도까지
                                                        환자에 따라 다 다른 유두의 형태를 적절히 개선할 수 있어야
                                                        합니다. 또, 유관의 보존이 필요한지, 가슴의 모양과 크기에
                                                        어울리는지 등 고려해야 될 것도 많습니다. <br><br>
                                                        <strong class="color-point1">따라서 유두 축소술은 전문의가 다양한 수술 방법을 구사할 수
                                                        있어야 하고, 그중 환자 개개인의 상태에 맞는 수술법을
                                                        택하는 것이 중요합니다.</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style1 type-five type-cling">
                                    <h4 class="img-style1__tit txt-v3">중간 절개</h4>
                                    <p class="img-style1__txt txt-v1">
                                        유두의 중앙 길이를 기준으로, 낮추고자 하는 만큼의 피부를 절제 후 봉합하는 방법입니다.<br>
                                        유관의 기능을 보존할 수 있다는 장점이 있습니다.
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_1.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_2.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_3.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_4.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_5.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                                <div class="img-style1 type-four type-cling">
                                    <h4 class="img-style1__tit txt-v3">L 절개</h4>
                                    <p class="img-style1__txt txt-v1">
                                        유두의 윗부분을 L자 모양으로 절제하고 남은 부분을 아래로 접어 높이를 낮추는 방법으로,<br>
                                        수술 시간이 비교적 빠르고 유두의 길이 축소에 보다 효과적인 방법입니다.
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_6.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_7.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_8.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_9.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                                <div class="img-style1 type-four type-cling">
                                    <h4 class="img-style1__tit txt-v3">V 절개</h4>
                                    <p class="img-style1__txt txt-v1">
                                        유두의 윗부분을 V자 모양으로 절제하고 남은 부분을 봉합하는 방법입니다.<br>
                                        유두의 전체적 볼륨을 줄이는데 효과적인 방법이지만, 유관이 막힐 수 있다는 단점이 있습니다.
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_10.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_11.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_12.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_13.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div><!--//system -->
                    </div>

                    <!-- 장점 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 유두 축소술</h3>
                        <p class="content__floor2 tit-v4">장점</p>
                        <div class="content__wrap">
                            <div class="system type-reduction">
                                <div class="system__item nth-3">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            바노바기는 2000년 개원 이후 수많은 가슴 성형 경험과
                                                            그에 맞는 장비 및 기술을 갖추고 있습니다.
                                                            심도 있는 상담으로 개개인의 체형과 상태에 맞는 개선 방향을
                                                            설정하고 적절한 수술 방법을 선택하기 때문에 수술 후
                                                            만족도가 높고 재발의 가능성이 거의 없습니다.<br><br>
                                                            <strong class="color-point1">또, 보다 빠르고 정교한 수술로 조직의 손상을 예방하며
                                                            피부과와의 협진을 통한 흉터 집중 치료가 더해져 흉터가 거의
                                                            남지 않고 수술 후 회복이 비교적 빠릅니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_1.jpg" alt="유두의 기능을 유지할 수 있습니다." class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">유두의 기능을 유지할 수 있습니다.</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기 유두 축소술은 유두의 감각과 유관을 보존하는 방법을 선택 가능하여,
                                                                    출산 후 수유가 원활할 수 있고 성감대로서의 기능 또한 수행할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_2.jpg" alt="흉터 걱정이 거의 없습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">흉터 걱정이 거의 없습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    절개 부위의 흉터는 그 조직의 손상이 클수록 심하게 남게 됩니다. 바노바기는 비교적 빠르고
                                                                    정교한 수술로 조직의 손상을 줄이며, 피부과와의 협진을 통한 집중 흉터 관리가 더해져 흉터가
                                                                    거의 보이지 않습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_3.jpg" alt="보다 빠르고 비교적 간편하게 결과가 나타납니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">보다 빠르고 비교적 간편하게 결과가 나타납니다</h4>
                                                                <p class="img-style2__txt">
                                                                    유두 축소술은 그 수술 방법만 제대로 숙련되어 있다면 비교적 간단한 수술입니다.
                                                                    바노바기는 오랜 경험과 노하우를 통해 보다 빠르고 만족도 높은 수술을 추구합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_4.jpg" alt="각 부위와의 조화를 생각해 더욱 만족스럽습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">각 부위와의 조화를 생각해 더욱 만족스럽습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    유두 축소술은 무엇보다 그 축소의 정도를 조절하는 것이 중요합니다.
                                                                    바노바기는 오랜 가슴 성형 경험을 통한 심미안으로 가슴 크기와 모양에 조화롭도록
                                                                    유두를 축소하여 더욱 자연스럽고 만족스럽습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 유륜 축소술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            유륜 축소술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 20~30분 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">최소통 국소마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">수술 후 일상생활 가능</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 유륜 축소술</h3>
                        <p class="content__floor2 tit-v4">수술대상</p>
                        <div class="content__wrap">
                            <div class="system type-reduction">
                                <div class="system__item nth-4">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            유륜은 유두를 중심으로 원형의 피부 착색 부분을 말하며,
                                                            일반적으로 가슴과 유두의 크기와 비례하여 약 3~4cm 정도의
                                                            크기로 발달하게 됩니다. 하지만 만약 그에 맞지 않은 유독 넓은
                                                            범위의 유륜을 가지고 있다면 그 정도에 따라 심한 콤플렉스가
                                                            되어 심리적 위축의 원인이 될 수도 있습니다.<br><br>
                                                            또, 유두가 중심이 되지 않고 모양이 틀어졌거나 양쪽 가슴의
                                                            유륜 크기가 다른 경우에도 스트레스가 될 수 있기 때문에
                                                            이런 경우라면 <strong class="color-point1">유륜 축소술을 통해 자신감을 회복하는 것이 좋습니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-brown">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">자신감 하락</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">스트레스 <br class="hidden-p">유발</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>

                                    <div class="img-style1">
                                        <ul class="img-style1__list">
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_5.jpg" alt="유륜의 너비가 넓게 발달한 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">유륜의 너비가 넓게</span> <span class="inline-block">발달한 경우</span></p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_6.jpg" alt="유륜의 모양이 불만족스러운 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">유륜의 모양이</span> <span class="inline-block">불만족스러운 경우</span></p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/papilla/reduction/reduction_target_7.jpg" alt="양쪽 가슴의 유륜의 크기가 비대칭인 경우" class="img-w100">
                                                <p class="img-style1__subject"><span class="inline-block">양쪽 가슴의 유륜의</span> <span class="inline-block">크기가 비대칭인 경우</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 수술목표 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 유륜 축소술</h3>
                        <p class="content__floor2 tit-v4">수술목표</p>
                        <div class="content__wrap type-another">
                            <div class="purpose">
                                <ul class="purpose__list">
                                    <li class="purpose__item txt-v3">미용적인 형태 개선으로 자신감 상승</li>
                                    <li class="purpose__item txt-v3">유륜의 기능과 감각 유지</li>
                                    <li class="purpose__item txt-v3">유륜의 비대칭 교정</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 유륜 축소술 방법 -->
                    <div class="content__box">
                        <div class="system type-reduction">
                            <div class="system__item nth-5">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">유륜 축소술 방법</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        유륜을 단순히 피부가 착색된 부위라고 볼 수도 있지만,
                                                        그 주변과 내부는 복잡한 구조로 이루어져 유두를 서게 만들거나
                                                        젖분비, 유두 보호 등의 역할을 수행합니다.<br><br>
                                                        <strong class="color-point1">따라서 유륜 축소술은 가슴에 대한 전문적이고 해부학적인
                                                        지식을 토대로 진행해야 합니다. </strong>
                                                        유륜 축소술의 가장 기본은 유륜
                                                        중 원하는 크기 외의 유륜을 잘라낸 후 남은 피부와 유륜을 다시
                                                        봉합해주는 것으로, 필요한 경우에는 약간의 내부 유선 조직도
                                                        함께 줄여주어야 합니다
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style1 type-four type-cling">
                                    <h4 class="img-style1__tit txt-v3">유륜 축소술</h4>
                                    <p class="img-style1__txt txt-v1">
                                        원하는 크기의 유륜을 제외한 나머지 부분의 유륜을 잘라낸 후 남은 피부와 유륜을 다시 봉합하는 방법입니다.<br class="hidden-m">
                                        대게 유륜의 팽창은 가슴의 비대가 원인이 되는 경우가 많기 때문에 유방 축소술과 동시에 이루어질 수 있는 방법이며,<br class="hidden-m">
                                        유방 축소술이 아니더라도 필요한 경우 약간의 하부 유선 조직들을 줄여주는 것으로 유륜 비대를 예방할 수 있습니다.<br class="hidden-m">
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_14.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_15.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_16.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/reduction/reduction_way_17.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div><!--//system -->
                    </div>

                    <!-- 장점 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 유륜 축소술</h3>
                        <p class="content__floor2 tit-v4">장점</p>
                        <div class="content__wrap">
                            <div class="system type-reduction">
                                <div class="system__item nth-6">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            바노바기는 2000년 개원 이후 수많은 가슴 성형 경험과
                                                            그에 맞는 장비 및 기술을 갖추고 있습니다. 심도 있는 상담으로
                                                            개개인의 체형과 상태에 맞는 개선 방향을 설정하고 적절한 수술
                                                            방법을 선택하기 때문에 수술 후 만족도가 비교적 높고 재발의 가능성이
                                                            거의 없습니다.<br><br>
                                                            또, 보다 빠르고 정교한 수술로 조직의 손상을 예방하며
                                                            <strong class="color-point1">피부과와의 협진을 통한 흉터 집중 치료가 더해져 흉터가 거의
                                                            남지 않고 수술 후 회복이 비교적 빠릅니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_5.jpg" alt="유륜의 기능을 유지할 수 있습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">유륜의 기능을 유지할 수 있습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기 유륜 축소술은 전문적이고 해부학적인 지식을 기반으로 진행되어, 유두를 발기시키거나
                                                                    젖분비를 돕는 등의 원래 유륜 기능을 보존하면서 진행됩니다. 따라서 유두 축소술로 인한 부작용은
                                                                    거의 없습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_6.jpg" alt="흉터 걱정이 거의 없습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">흉터 걱정이 거의 없습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기는 비교적 빠르고 정교한 수술로 조직의 손상을 줄이며, 피부과와의 협진을 통한 집중
                                                                    흉터 관리가 더해져 흉터가 거의 보이지 않습니다. 특히 유륜 부위는 피부의 회복이 비교적 빠르고
                                                                    그 흔적이 거의 남지 않아 결과가 더욱 자연스럽습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_7.jpg" alt="보다 빠르고 비교적 간편하게 결과가 나타납니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">보다 빠르고 비교적 간편하게 결과가 나타납니다</h4>
                                                                <p class="img-style2__txt">
                                                                    유륜 축소술은 그 수술 방법만 제대로 숙련되어 있다면 비교적 간단한 수술입니다.
                                                                    바노바기는 오랜 경험과 노하우를 통해 보다 빠르고 만족도 높은 수술을 추구합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/reduction/reduction_advantage_8.jpg" alt="각 부위와의 조화를 생각해 더욱 만족스럽습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">각 부위와의 조화를 생각해 더욱 만족스럽습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    유륜 축소술은 무엇보다 그 축소의 정도를 조절하는 것이 중요합니다.
                                                                    바노바기는 오랜 가슴 성형 경험을 통한 심미안으로 가슴 및 유두의 크기와 모양에 조화롭도록
                                                                    유륜을 축소하여 더욱 자연스럽고 만족스럽습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../_include/_footer %>
