<%
    type = "content"
    page = "papilla"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-correction">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">미용적, 기능적 부분을 동시에 고려하는</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">함몰유두 교정술</span></p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content">
            <div class="content-wrap">
                <div class="content__area">
                    <!-- 함몰유두 교정술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            함몰유두 교정술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 15~30분 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">최소통 국소마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">약 7~10일 후 제거</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">수술 후 일상생활 가능</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 함몰유두 교정술</h3>
                        <p class="content__floor2 tit-v4">수술대상</p>
                        <div class="content__wrap">
                            <div class="system type-correction">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            함몰유두란 유두가 유륜 및 가슴 라인에 비해 충분히 돌출되지
                                                            않았거나 오히려 가슴 안쪽으로 들어가 있는 상태를 말합니다.
                                                            함몰된 유두는 미용적인 불만족으로 인한 스트레스를 유발할
                                                            뿐만 아니라, 본래 유두의 기능인 성감이나 수유 기관으로서의
                                                            역할을 정상적으로 수행할 수 없게 만듭니다.<br><br>
                                                            <strong class="color-point1">특히 오랜 피부 접힘으로 인해 제대로 된 위생관리가 힘들고
                                                            그로 인해 염증이나 유방암 등 질병 발생의 위험도 증가하기
                                                            때문에 함몰유두는 전문적인 진단 후 조기에 교정하는 것이
                                                            좋습니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style3">
                                        <div class="img-style3__wrap">
                                            <div class="img-style3__inner">
                                                <div class="img-style3__box">
                                                    <img src="../../images/papilla/correction/correction_target_1.jpg" class="img-responsive" alt="함몰유두 3형 : 유두를 당기거나 자극을 주어도 유륜 및 가슴 라인에 비해 충분히 돌출되지 않는 경우"/>
                                                </div>
                                            </div>
                                            <div class="img-style3__area">
                                                <p class="img-style3__subject">
                                                    <strong class="img-style3__point">함몰유두 3형</strong> : 유두를 당기거나 자극을 주어도<br>
                                                    유륜 및 가슴 라인에 비해 충분히 돌출되지 않는 경우
                                                </p>
                                            </div>

                                            <ul class="img-style3__list">
                                                <li class="img-style3__item">
                                                    <div class="img-style3__img">
                                                        <img src="../../images/papilla/correction/correction_target_2.jpg" alt="미용적 불만족으로 인한 스트레스 유발" class="img-responsive" />
                                                    </div>
                                                    <p class="img-style3__subject"><span class="inline-block">미용적 불만족으로 인한</span> <span class="inline-block">스트레스 유발</span></p>
                                                </li>
                                                <li class="img-style3__item">
                                                    <div class="img-style3__img">
                                                        <img src="../../images/papilla/correction/correction_target_3.jpg" alt="성감 및 수유 등 유두의 본래 역할 불가" class="img-responsive" />
                                                    </div>
                                                    <p class="img-style3__subject"><span class="inline-block">성감 및 수유 등 유두의</span> <span class="inline-block">본래 역할 불가</span></p>
                                                </li>
                                                <li class="img-style3__item">
                                                    <div class="img-style3__img">
                                                        <img src="../../images/papilla/correction/correction_target_4.jpg" alt="위생 관리가 어려워 피지나 각질 등이 쌓임" class="img-responsive" />
                                                    </div>
                                                    <p class="img-style3__subject"><span class="inline-block">위생 관리가 어려워</span> <span class="inline-block">피지나 각질 등이 쌓임</span></p>
                                                </li>
                                                <li class="img-style3__item">
                                                    <div class="img-style3__img">
                                                        <img src="../../images/papilla/correction/correction_target_5.jpg" alt="위생 관리 실패로 인해 각종 질병 발생" class="img-responsive" />
                                                    </div>
                                                    <p class="img-style3__subject"><span class="inline-block">위생 관리 실패로 인해</span> <span class="inline-block">각종 질병 발생</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 수술목표 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 함몰유두 교정술</h3>
                        <p class="content__floor2 tit-v4">수술목표</p>
                        <div class="content__wrap type-another">
                            <div class="purpose">
                                <ul class="purpose__list">
                                    <li class="purpose__item txt-v3">미용적인 형태 개선으로 자신감 상승</li>
                                    <li class="purpose__item txt-v3">보다 원활한 수유를 위한 유두의 돌출 및 크기 확보</li>
                                    <li class="purpose__item txt-v3">이물질 또는 분비물 축적을 방지하여 관련 질병 예방</li>
                                    <li class="purpose__item txt-v3">성감 개선</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 함몰유두 교정술 방법 -->
                    <div class="content__box">
                        <div class="system type-correction">
                            <div class="system__item nth-2">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">함몰유두 교정술 방법</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        함몰유두의 원인으로는 유방암이나 유선염 등 후천적인 요인도
                                                        있지만 유두 안쪽을 지지하는 조직이 부족하거나 유관이 짧은
                                                        경우, 유관 주변의 단단한 조직들이 유두를 잡고 있는 경우 등
                                                        선천적 요인이 원인인 경우가 대부분입니다.<br><br>
                                                        <strong class="color-point1">따라서 함몰유두 교정술은 체계적인 진단을 통해 개개인의
                                                        함몰유두 원인을 제대로 파악하는 것이 중요하며, 다양한 수술
                                                        방법들의 장단점과 유관의 보존 여부를 전문의와 충분히
                                                        상담 후 결정해야 합니다. </strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style1 type-cling">
                                    <h4 class="img-style1__tit txt-v3">유관을 보존하는 방법</h4>
                                    <p class="img-style1__txt txt-v1">
                                        유두가 정상적으로 돌출되도록 당겨준 상태에서 유두 함몰 원인에 따른 절개와 봉합법을 통해<br>
                                        유두 아래 부위를 고정합니다. 유관을 보존하여 수유에 지장이 없도록 하는 방법으로,<br>
                                        아직 미혼이거나 임신을 계획 중인 환자분들에게 적절한 방법입니다.
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/correction/correction_way_1.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/correction/correction_way_2.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/correction/correction_way_3.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                                <div class="img-style1 type-cling">
                                    <h4 class="img-style1__tit txt-v3">유관 절제 후 봉합하는 방법</h4>
                                    <p class="img-style1__txt txt-v1">
                                        유두 주변에 작은 절개를 만들고 유관과 섬유 조직을 당겨 유두를 돌출시킨 후, 피판을 이용해<br>
                                        유두를 받쳐 고정합니다. 유관의 상태에 따라 수유에 영향을 줄 수도 있지만 심한 함몰유두<br>
                                        증상을 가진 경우에도 개선이 가능하며 재발의 가능성이 거의 없다는 장점이 있습니다.
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/correction/correction_way_4.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/correction/correction_way_5.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/papilla/correction/correction_way_6.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div><!--//system -->
                    </div>

                    <!-- 장점 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 함몰유두 교정술</h3>
                        <p class="content__floor2 tit-v4">장점</p>
                        <div class="content__wrap">
                            <div class="system type-correction">
                                <div class="system__item nth-3">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            바노바기는 2000년 개원 이후 수많은 가슴 성형 경험과
                                                            그에 맞는 장비 및 기술을 갖추고 있습니다.
                                                            심도 있는 상담으로 개개인의 체형과 상태에 맞는 개선 방향을
                                                            설정하고 적절한 수술 방법을 선택하기 때문에 수술 후
                                                            만족도가 높고 재발의 가능성이 거의 없습니다.<br><br>
                                                            <strong class="color-point1">또, 보다 빠르고 정교한 수술로 조직의 손상을 예방하며
                                                            피부과와의 협진을 통한 흉터 집중 치료가 더해져 흉터가 거의
                                                            남지 않고 수술 후 회복이 비교적 빠릅니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/correction/correction_advantage_1.jpg" alt="유두의 기능을 유지할 수 있습니다." class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">유두의 기능을 유지할 수 있습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기 함몰유두 교정술은 유두의 감각과 유관을 보존하는 방법을 선택 가능하여,
                                                                    출산 후 수유가 원활할 수 있도록 하며 성감대로서의 기능 또한 수행할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div></div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/correction/correction_advantage_2.jpg" alt="흉터 걱정이 거의 없습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">흉터 걱정이 거의 없습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    절개 부위의 흉터는 그 조직의 손상이 클수록 심하게 남게 됩니다. 바노바기는 비교적 빠르고
                                                                    정교한 수술로 조직의 손상을 줄이며, 피부과와의 협진을 통한 집중 흉터 관리가 더해져 흉터가
                                                                    거의 보이지 않습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/correction/correction_advantage_3.jpg" alt="재발을 예방합니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">재발을 예방합니다</h4>
                                                                <p class="img-style2__txt">
                                                                    함몰유두는 그 원인을 제대로 파악하지 못하여 필요한 만큼의 교정을 해주지 않으면 재발하기 쉽습니다.
                                                                    바노바기는 수많은 경험과 노하우를 바탕으로 개개인에 맞는 적절한 수술 방법을 선택하여 재발의
                                                                    가능성이 거의 없습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/papilla/correction/correction_advantage_4.jpg" alt="비교적 자연스러워 더욱 만족스럽습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">비교적 자연스러워 더욱 만족스럽습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    함몰유두는 제대로 교정되지 않으면 재수술로 이어지기 쉽고, 반대로 과교정하게 되면
                                                                    미용적으로 불만족스러울 수 있습니다. 바노바기는 오랜 가슴 성형 경험을 통한 심미안으로
                                                                    가슴 크기와 모양에 조화롭도록 함몰유두를 교정하여 더욱 자연스럽고 만족스럽습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
