<%
	type = "sitemap"
	page = "sitemap"
%>

<% include ../_include/_header %>

<div class="container">
    <div class="container__top type-another">
		<h2 class="container__tit">사이트맵</h2>
	</div>

    <div class="content-wrap">
        <div class="sitemap">
			<ul class="sitemap__list">
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">바노바기 가슴성형</dt>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">가슴평생 주치의</a></dd>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">BTS 바노바기</a></dd>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">유방 검진 클리닉</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">의료진 소개</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">확대술</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">보형물 확대술</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">모티바 가슴성형</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">벨라젤 마이크로 가슴성형</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">줄기세포 지방이식</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">재수술</dt>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">재수술</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">축소/리프팅</dt>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">축소/리프팅</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">유두/유륜 성형</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">유듀/유륜 축소술</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">함몰유두 교정술</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">부유방/여유증</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">부유방</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">여유증</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">가슴관리</dt>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">가슴관리</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">리얼스토리</dt>
                        <dd class="sitemap__dd"><a href="" class="sitemap__link">리얼스토리</a></dd>
					</dl>
				</li>
			</ul>
    </div>
</div>

<% include ../_include/_footer %>
