<%
    type = "content"
    page = "introduce"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 tit-v1">의료진의 기본 마음가짐은 <span class="content-highlight">환자의 건강을 생각하는</span> 마음입니다.</h3>
                    <p class="content-visual__floor2 txt-v1">바노바기의 의료진은 단순히 미용만을 위한 한 번의 수술로 끝나지 않습니다. </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content">
            <div class="content-wrap">
                <div class="medical">
                    <div class="medical__wrap">
                        <ul class="medical__list">
                            <li class="medical__item">
                                <div class="medical__box">
                                    <div class="medical__img">
                                        <img src="../../images/introduce/medical/medical_thum_1.jpg" alt="대표원장 반재상" class="img-responsive">
                                    </div>
                                    <div class="medical__info">
                                        <h4 class="medical__name tit-v2">대표원장 반재상</h4>
                                        <p class="medical__part txt-v1">일반외과 / 유방외과 세부전문의</p>
                                        <div class="medical__btn">
                                            <a href="" class="medical__link" id="doctor01">상세보기</a>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- //medical__item -->
                            <li class="medical__item">
                                <div class="medical__box">
                                    <div class="medical__img">
                                        <img src="../../images/introduce/medical/medical_thum_2.jpg" alt="원장 한규남" class="img-responsive">
                                    </div>
                                    <div class="medical__info">
                                        <h4 class="medical__name tit-v2">원장 서재범</h4>
                                        <p class="medical__part txt-v1">일반외과 / 유방외과 세부전문의</p>
                                        <div class="medical__btn">
                                            <a href="" class="medical__link" id="doctor01">상세보기</a>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- //medical__item -->
                            <li class="medical__item">
                                <div class="medical__box">
                                    <div class="medical__img">
                                        <img src="../../images/introduce/medical/medical_thum_3.jpg" alt="원장 노용준" class="img-responsive">
                                    </div>
                                    <div class="medical__info">
                                        <h4 class="medical__name tit-v2">원장 서재범</h4>
                                        <p class="medical__part txt-v1">일반외과 / 유방외과 세부전문의</p>
                                        <div class="medical__btn">
                                            <a href="" class="medical__link" id="doctor01">상세보기</a>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- //medical__item -->
                            <li class="medical__item">
                                <div class="medical__box">
                                    <div class="medical__img">
                                        <img src="../../images/introduce/medical/medical_thum_4.jpg" alt="원장 조정목" class="img-responsive">
                                    </div>
                                    <div class="medical__info">
                                        <h4 class="medical__name tit-v2">원장 서재범</h4>
                                        <p class="medical__part txt-v1">일반외과 / 유방외과 세부전문의</p>
                                        <div class="medical__btn">
                                            <a href="" class="medical__link" id="doctor01">상세보기</a>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- //medical__item -->
                            <li class="medical__item">
                                <div class="medical__box">
                                    <div class="medical__img">
                                        <img src="../../images/introduce/medical/medical_thum_5.jpg" alt="원장 서재범" class="img-responsive">
                                    </div>
                                    <div class="medical__info">
                                        <h4 class="medical__name tit-v2">원장 서재범</h4>
                                        <p class="medical__part txt-v1">일반외과 / 유방외과 세부전문의</p>
                                        <div class="medical__btn">
                                            <a href="" class="medical__link" id="doctor01">상세보기</a>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- //medical__item -->
                        </ul><!-- //medical__list -->
                    </div><!-- //medical__wrap -->

                    <div class="medical-view">
        				<ul class="medical-view__list">
        					<li class="medical-view__item" id="doctor01_view">
        						<div class="medical-view__box type-img">
        							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');"></div>
        						</div>
        						<div class="medical-view__box type-txt">
        							<div class="medical-view__outer">
        								<div class="medical-view__inner">
        									<div class="medical-view__wrap">
        										<ul class="tab-v1">
        											<li class="tab-v1__item is-active" data-tab="profile">
        												<a href="" class="tab-v1__link js-tab-link2">약력</a>
        											</li>
        											<li class="tab-v1__item" data-tab="thesis">
        												<a href="" class="tab-v1__link js-tab-link2">논문 &middot; 저서</a>
        											</li>
        										</ul>
        										<div class="tab-v1__content js-scroll profile  is-active">
        											<h3 class="medical-view__tit tit-v3">반재용1<span class="medical-view__career">피부과 전문의</span></h3>
        											<p class="medical-view__txt">
        												바노바기피부과 진료 대표원장<br>
        												피부과전문의 (2001)<br>
        												한양대학교 의과대학 졸업<br>
        												한양대병원 피부과 외래교수<br>
        												대한 피부과 학회 정회원<br>
        												대한 피부과 의사회 의무 이사<br>
        												대한 피부과 의사회 제8, 9기 학술위원<br>
        												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
        												(前) 코스모피부과 대표원장<br>
        												닥터자르트 자문위원<br>
        												Best stem cell 연구회 부회장<br>
        												저서 - 낭만적인 한 수를 꿈꾼다.

        												대한 피부과 의사회 제8, 9기 학술위원<br>
        												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
        												(前) 코스모피부과 대표원장<br>
        												닥터자르트 자문위원<br>
        												Best stem cell 연구회 부회장<br>
        												저서 - 낭만적인 한 수를 꿈꾼다.
        											</p>
        										</div>
        										<div class="tab-v1__content js-scroll thesis">
        											<dl class="medical-view__dl">
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        											</dl>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</li>
        					<!--//medical-view__item-->
        					<li class="medical-view__item" id="doctor02_view">
        						<div class="medical-view__box type-img">
        							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');"></div>
        						</div>
        						<div class="medical-view__box type-txt">
        							<div class="medical-view__outer">
        								<div class="medical-view__inner">
        									<div class="medical-view__wrap">
        										<ul class="tab-v1">
                                                    <li class="tab-v1__item is-active" data-tab="profile">
        												<a href="" class="tab-v1__link js-tab-link2">약력</a>
        											</li>
        											<li class="tab-v1__item" data-tab="thesis">
        												<a href="" class="tab-v1__link js-tab-link2">논문 &middot; 저서</a>
        											</li>
        										</ul>
        										<div class="tab-v1__content js-scroll profile is-active">
        											<h3 class="medical-view__tit tit-v3">반재용2<span class="medical-view__career">피부과 전문의</span></h3>
        											<p class="medical-view__txt f-noto">
        												바노바기피부과 진료 대표원장<br>
        												피부과전문의 (2001)<br>
        												한양대학교 의과대학 졸업<br>
        												한양대병원 피부과 외래교수<br>
        												대한 피부과 학회 정회원<br>
        												대한 피부과 의사회 의무 이사<br>
        												대한 피부과 의사회 제8, 9기 학술위원<br>
        												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
        												(前) 코스모피부과 대표원장<br>
        												닥터자르트 자문위원<br>
        												Best stem cell 연구회 부회장<br>
        												저서 - 낭만적인 한 수를 꿈꾼다.
        											</p>
        										</div>
        										<div class="tab-v1__content js-scroll thesis">
        											<dl class="medical-view__dl">
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd f-noto">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd f-noto">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        											</dl>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</li>
        					<!--//medical-view__item-->
        					<li class="medical-view__item" id="doctor03_view">
        						<div class="medical-view__box type-img">
        							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');"></div>
        						</div>
        						<div class="medical-view__box type-txt">
        							<div class="medical-view__outer">
        								<div class="medical-view__inner">
        									<div class="medical-view__wrap">
        										<ul class="tab-v1">
                                                    <li class="tab-v1__item is-active" data-tab="profile">
        												<a href="" class="tab-v1__link js-tab-link2">약력</a>
        											</li>
        											<li class="tab-v1__item" data-tab="thesis">
        												<a href="" class="tab-v1__link js-tab-link2">논문 &middot; 저서</a>
        											</li>
        										</ul>
        										<div class="tab-v1__content js-scroll profile  is-active">
        											<h3 class="medical-view__tit tit-v3">반재용3<span class="medical-view__career">피부과 전문의</span></h3>
        											<p class="medical-view__txt">
        												바노바기피부과 진료 대표원장<br>
        												피부과전문의 (2001)<br>
        												한양대학교 의과대학 졸업<br>
        												한양대병원 피부과 외래교수<br>
        												대한 피부과 학회 정회원<br>
        												대한 피부과 의사회 의무 이사<br>
        												대한 피부과 의사회 제8, 9기 학술위원<br>
        												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
        												(前) 코스모피부과 대표원장<br>
        												닥터자르트 자문위원<br>
        												Best stem cell 연구회 부회장<br>
        												저서 - 낭만적인 한 수를 꿈꾼다.
        											</p>
        										</div>
        										<div class="tab-v1__content js-scroll thesis">
        											<dl class="medical-view__dl">
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        											</dl>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</li>
        					<!--//medical-view__item-->
        					<li class="medical-view__item" id="doctor04_view">
        						<div class="medical-view__box type-img">
        							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');"></div>
        						</div>
        						<div class="medical-view__box type-txt">
        							<div class="medical-view__outer">
        								<div class="medical-view__inner">
        									<div class="medical-view__wrap">
        										<ul class="tab-v1">
                                                    <li class="tab-v1__item is-active" data-tab="profile">
        												<a href="" class="tab-v1__link js-tab-link2">약력</a>
        											</li>
        											<li class="tab-v1__item" data-tab="thesis">
        												<a href="" class="tab-v1__link js-tab-link2">논문 &middot; 저서</a>
        											</li>
        										</ul>
        										<div class="tab-v1__content js-scroll profile is-active">
        											<h3 class="medical-view__tit tit-v3">반재용4<span class="medical-view__career">피부과 전문의</span></h3>
        											<p class="medical-view__txt">
        												바노바기피부과 진료 대표원장<br>
        												피부과전문의 (2001)<br>
        												한양대학교 의과대학 졸업<br>
        												한양대병원 피부과 외래교수<br>
        												대한 피부과 학회 정회원<br>
        												대한 피부과 의사회 의무 이사<br>
        												대한 피부과 의사회 제8, 9기 학술위원<br>
        												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
        												(前) 코스모피부과 대표원장<br>
        												닥터자르트 자문위원<br>
        												Best stem cell 연구회 부회장<br>
        												저서 - 낭만적인 한 수를 꿈꾼다.
        											</p>
        										</div>
        										<div class="tab-v1__content js-scroll thesis">
        											<dl class="medical-view__dl">
        												<dt class="medical-view__dt">/ 01</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        												<dt class="medical-view__dt">/ 02</dt>
        												<dd class="medical-view__dd">
        													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
        													coverage of lateral forehead and lateral orbital defect. J
        													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
        												</dd>
        											</dl>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</li>
        					<!--//medical-view__item-->
        				</ul>
                        <!-- //medical-view__list-->
        				<ul class="medical-nav">
        					<li class="medical-nav__item type-prev js-doctor-prev">
        						<a href="" class="medical-nav__link">prev</a>
        					</li>
        					<li class="medical-nav__item type-next js-doctor-next">
        						<a href="" class="medical-nav__link">next</a>
        					</li>
        				</ul>
                        <!-- //medical-nav -->
        				<a href="" class="medical-view__close">닫기</a>
        			</div>
                    <!-- //medical-view-->
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../_include/_footer %>
