<%
    type = "content"
    page = "introduce"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-life">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 tit-v1">바노바기성형외과<br>
                        <span class="content-highlight type-medical">가슴 평생주치의</span>
                    </h3>
                    <p class="content-visual__floor2 txt-v1">
                        앞으로 10년, 또 20년<br>
                        바노바기는 평생 여러분의 가슴 주치의가 되고자 합니다.
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->
        <div class="content">
            <div class="content-wrap">
                <div class="content__area">
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            바노바기성형외과 유방클리닉<br>
                            <span class="color-point1">가슴 평생 주치의</span>
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            지금까지 쌓아온 시간의 힘, 앞으로도 지속 가능한 능력의 힘, 가슴 평생 주치의로 바노바기가 마땅한 이유입니다.
                        </p>
                        <div class="content__wrap">
                            <div class="history">
                                <ul class="history__list">
                                    <li class="history__item type-right with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">1998년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">성형외과 전문의 취득(반재상 원장)</li>
                                                <li class="history__item2 txt-v2">가슴성형 수술 시작</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_1.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-left">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2000년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">예성형외과 개원</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-left">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2002년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">예성형외과 예 확장</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-left with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2007년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">바노바기성형외과 명칭 변경</li>
                                                <li class="history__item2 txt-v2">바노바기 가슴성형 전담팀 구성</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_2.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-right with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2012년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">렛미인2 공식 지정 의료기관</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_3.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-left with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2013년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">렛미인3 공식 지정 의료기관</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_4.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-right with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2014년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">렛미인4 공식 지정 의료기관</li>
                                                <li class="history__item2 txt-v2">한국모델협회 공식지정 성형외과</li>
                                                <li class="history__item2 txt-v2">바노바기 줄기세포연구소 설립</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_5.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-left with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2016년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">㈜ 모티바 코리아 공식지정 의료기관 선정</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_6.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-right with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2017년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">모티바보형물 최다 시술 의료기관 선정</li>
                                                <li class="history__item2 txt-v2">한국산업기술진흥협회 '연구개발전담부서' 인정</li>
                                                <li class="history__item2 txt-v2">유방성형술 부문 나이스 기술평가 우수기업 인증</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_7.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="history__item type-left with-img">
                                        <div class="history__box">
                                            <h4 class="history__year tit-v5">2018년</h4>
                                            <ul class="history__list2">
                                                <li class="history__item2 txt-v2">국제미용성형학회<br>조정목 원장 가슴 재수술 임상결과 발표</li>
                                                <li class="history__item2 type-img">
                                                    <img src="../../images/introduce/life/life_history_8.jpg" class="img-normal" alt=""/>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="pattern">
                            <ul class="pattern__list">
                                <li class="pattern__item type-big">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_1.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_2.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_3.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                            </ul>
                            <ul class="pattern__list">
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_4.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_5.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_6.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_7.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_8.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                                <li class="pattern__item">
                                    <div class="pattern__img">
                                        <img src="../../images/introduce/life/life_pattern_9.jpg" alt="" class="img-responsive">
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //pattern-->
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="system type-life">
                            <div class="system__item nth-1">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__header">
                                                        <img src="../../images/introduce/life/life_since.jpg" alt="" class="img-normal system__since"/>
                                                        <p class="system__txt txt-v2">
                                                            지금까지 19년,
                                                            바노바기를 거쳐간 환자분들은 지금도 바노바기에서 정기
                                                            검진을 받으며 건강하고 아름다운 가슴으로 관리하고
                                                            계십니다.
                                                        </p>
                                                    </div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">앞으로 10년, 또 20년</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        <strong class="system__point color-point1">바노바기는 평생 여러분의 가슴 주치의가 되고자 합니다.</strong>
                                                        가슴 성형은 물론 유방 질환은 정기적이고 장기적인 추적
                                                        관찰이 중요합니다.
                                                        한번 수술을 했다고 해서 끝나는 것이 아님을 너무나도 잘
                                                        알기에 바노바기는 지속 가능한 의료 서비스와 책임감 있는
                                                        자세로 환자 한 분 한 분, 평생을 함께한다는 마음으로
                                                        진료합니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- //content__box"-->
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            10년 후를 생각하는<span class="color-point1">가슴 성형</span>
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            가슴성형은 보형물을 이용한 확대술이나 자기 지방을 이용한 확대술, 가슴축소술과 늘어진 가슴을 리프팅하는 거상술 등 다양합니다.
                            거의 모든 가슴 성형은 수술을 하기 전부터 정밀 검사를 진행하여 현재 가슴 상태의 이상 유무를 확인해야 하고, 수술을 마친 후에도
                            초음파 등을 이용해 겉모습 뿐만 아니라 가슴 조직 상태를 정기적으로 체크해야 합니다.
                            특히 보형물 삽입 확대술의 경우, 정기적인 검진을 통해 보형물 위치나 보형물 파손 여부, 구형구축 유무 등을 확인하는 지속적
                            과정이 무척 중요합니다.<br>
                            <strong class="content__point">바노바기성형외과는 수술 전 과정은 물론 수술 후 1년, 2년, 10년이 지나도록 수술 후 경과를 계속해서 책임지고 확인합니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="process">
                                <ul class="process__list">
                                    <li class="process__item">
                                        <div class="process__box txt-v3">
                                            상담전<br class="hidden-tm">검사
                                        </div>
                                    </li>
                                    <li class="process__item">
                                        <div class="process__box txt-v3">
                                            수술전<br class="hidden-tm">검진
                                        </div>
                                    </li>
                                    <li class="process__item type-circle nth-1">
                                        <div class="process__box txt-v3">
                                            수술
                                        </div>
                                        <div class="process__circle">
                                            <div class="process__wrap">
                                                <div class="process__outer">
                                                    <div class="process__inner">
                                                        10년 검진 보장
                                                        개런티 카드 발급
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="process__item">
                                        <div class="process__box txt-v3">
                                            수술후<br class="hidden-tm">관리
                                        </div>
                                    </li>
                                    <li class="process__item">
                                        <div class="process__box txt-v3">
                                            수술후<br class="hidden-tm">검진
                                        </div>
                                    </li>
                                    <li class="process__item type-circle nth-2">
                                        <div class="process__box txt-v3">
                                            수술후<br class="hidden-tm"> 10년 이내
                                        </div>
                                        <div class="process__circle">
                                            <div class="process__wrap">
                                                <div class="process__outer">
                                                    <div class="process__inner">
                                                        VIP 유방 정밀 검진
                                                        보형물 교체
                                                        reward 혜택
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//process-->
                        </div><!--//content__wrap-->
                        <div class="content__wrap type-process">
                            <div class="img-style2 type-cling">
                                <ul class="img-style2__list">
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/introduce/life/life_advantage_1.jpg" alt="10년 검진 보장 개런티 카드 발급" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">10년 검진 보장 개런티 카드 발급</h4>
                                                        <p class="img-style2__txt">
                                                            바노바기에서 가슴수술을 하신 분들께는 지속적으로 유방 검진을 받으실 수 있게끔 10년 검진
                                                            보장 개런티 카드를 발급해드립니다. 수술 후에도 끝까지 책임지고 함께 고민하고 나아가고자
                                                            하는 바노바기의 약속입니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style2__item">
                                        <div class="img-style2__wrap">
                                            <div class="img-style2__img">
                                                <img src="../../images/introduce/life/life_advantage_2.jpg" alt="VIP 유방 정밀 검진 보형물 교체 reward 혜택" class="img-transform">
                                            </div>
                                            <div class="img-style2__outer">
                                                <div class="img-style2__inner">
                                                    <div class="img-style2__box">
                                                        <h4 class="img-style2__tit">VIP 유방 정밀 검진 보형물 교체 reward 혜택</h4>
                                                        <p class="img-style2__txt">
                                                            보형물 가슴 확대술은 수술한지 10년 정도 지나면 보형물을 교체하는 것이 좋습니다.
                                                            거의 모든 케이스가 해당되는 것은 아니고 정밀 검진을 통해 이상이 발견되거나 유방외과 세부전문의
                                                            소견 상 보형물 교체를 권유할 경우, 바노바기의 보형물 reward 프로그램을 통해 혜택을 받으실
                                                            수 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- //img-style2__list -->
                            </div><!-- //img-style2 -->
                        </div><!--//content__wrap-->
                    </div><!-- //content__box"-->
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4 type-ribbon">
                            평생 지켜야 하는 <span class="color-point1">유방 건강</span>
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            거의 20년 동안 가슴성형을 연구하고 수술한 바노바기성형외과는 자연스럽게 유방 건강 전반에 대해서도 고민을 하게 되었습니다.
                            <strong class="content__point">단순히 아름답게 만드는 것에 그치지 않고, 더 건강하게 기능할 수 있도록 유방 건강 전반에 대해서도 꼼꼼하게 진료</strong>합니다.
                            가슴성형을 고려하지 않는 분들의 유방 건강까지 지켜드릴 수 있도록 정밀검사와 정기검진을 두루 이용하실 수 있습니다.
                        </p>
                        <div class="content__wrap">
                            <div class="arrow-box">
                                <div class="arrow-box__header">
                                    <h4 class="arrow-box__tit tit-v6">지속적이고 정기적인 유방검진, 아무리 강조해도 지나치지 않습니다.</h4>
                                </div>
                                <div class="arrow-box__body">
                                    <p class="arrow-box__floor1 subtit-v1">BANOBAGI BREAST CLINIC</p>
                                    <p class="arrow-box__floor2 tit-v5">한국유방암학회 연령별 조기검진 권고안</p>
                                    <div class="circle-style1">
                                        <ul class="circle-style1__list">
                                            <li class="circle-style1__item nth-1">
                                                <div class="circle-style1__box">
                                                    <div class="circle-style1__outer">
                                                        <div class="circle-style1__inner">
                                                            <p class="circle-style1__tit tit-v6"><span class="color-point3">30세</span> 이상</p>
                                                            <p class="circle-style1__txt txt-v3">매월 유방 자기 검진<br><br class="hidden-tm"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="circle-style1__item nth-2">
                                                <div class="circle-style1__box">
                                                    <div class="circle-style1__outer">
                                                        <div class="circle-style1__inner">
                                                            <p class="circle-style1__tit tit-v6"><span class="color-point3">35세</span> 이상</p>
                                                            <p class="circle-style1__txt txt-v3">
                                                                2년 간격으로 의사에<br>
                                                                의한 임상검진
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="circle-style1__item nth-3">
                                                <div class="circle-style1__box">
                                                    <div class="circle-style1__outer">
                                                        <div class="circle-style1__inner">
                                                            <p class="circle-style1__tit tit-v6"><span class="color-point3">40세</span> 이상</p>
                                                            <p class="circle-style1__txt txt-v3">
                                                                1~2년 간격의<br>
                                                                임상검진과 유방촬영술
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="circle-style1__item nth-4">
                                                <div class="circle-style1__box">
                                                    <div class="circle-style1__outer">
                                                        <div class="circle-style1__inner">
                                                            <p class="circle-style1__tit tit-v6"><span class="color-point3">고위험군</span></p>
                                                            <p class="circle-style1__txt txt-v3">유방 전문의와 상담<br><br class="hidden-tm"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="arrow-box__txt txt-v2">
                                        여성의 마음과 정서를 누구보다 잘 이해하는 바노바기에서 섬세하게 유방 검진을 도와드립니다.<br>
                                        이상 소견 시, 정기적인 내원을 하실 수 있도록 안내해드립니다.
                                    </div>
                                </div><!-- //arrow-box__body-->
                            </div><!-- //arrow-box -->
                        </div>
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="arrow-box">
                            <div class="arrow-box__header">
                                <h4 class="arrow-box__tit tit-v6">지속적이고 정기적인 유방검진, 아무리 강조해도 지나치지 않습니다.</h4>
                            </div>
                            <div class="arrow-box__body">
                                <p class="arrow-box__floor1 subtit-v1">BANOBAGI BREAST CLINIC</p>
                                <p class="arrow-box__floor2 tit-v5">
                                    바노바기성형외과 유방클리닉<br>
                                    “평생 검진 프로그램” 장점
                                </p>
                                <ul class="arrow-box__list">
                                    <li class="arrow-box__item">
                                        <img src="../../images/introduce/life/life_program_1.jpg" alt="유방외과 세부전문의 진료" class="img-w100">
                                        <p class="arrow-box__subject">유방외과 세부전문의 진료</p>
                                    </li>
                                    <li class="arrow-box__item">
                                        <img src="../../images/introduce/life/life_program_2.jpg" alt="유방 질환 검사부터 치료까지 원스탑" class="img-w100">
                                        <p class="arrow-box__subject">유방 질환 검사부터 치료까지 원스탑</p>
                                    </li>
                                    <li class="arrow-box__item">
                                        <img src="../../images/introduce/life/life_program_3.jpg" alt="유방암 검진 및 협력 의료기관 연계 가능" class="img-w100">
                                        <p class="arrow-box__subject">유방암 검진 및 협력 의료기관 연계 가능</p>
                                    </li>
                                    <li class="arrow-box__item">
                                        <img src="../../images/introduce/life/life_program_4.jpg" alt="맘모톰 검사 및 시술 가능" class="img-w100">
                                        <p class="arrow-box__subject">맘모톰 검사 및 시술 가능</p>
                                    </li>
                                    <li class="arrow-box__item">
                                        <img src="../../images/introduce/life/life_program_5.jpg" alt="당일 검진 및 시술, 수술 가능" class="img-w100">
                                        <p class="arrow-box__subject">당일 검진 및 시술, 수술 가능</p>
                                    </li>
                                    <li class="arrow-box__item">
                                        <img src="../../images/introduce/life/life_program_6.jpg" alt="성형외과전문의 유방외과 세부전문의 협진 건강과 미용 모두 만족" class="img-w100">
                                        <p class="arrow-box__subject">성형외과전문의 유방외과 세부전문의 협진 건강과 미용 모두 만족</p>
                                    </li>
                                </ul>
                            </div><!-- //arrow-box__body-->
                        </div><!-- //arrow-box -->
                    </div><!-- //content__box -->
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../_include/_footer %>
