<%
    type = "content"
    page = "introduce"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-bts">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 tit-v1">바노바기성형외과<br>
                        <span class="content-highlight type-medical">Breast Total care System</span>
                    </h3>
                    <p class="content-visual__floor2 txt-v1">
                        바노바기는 아름다운 가슴뿐만 아니라
                        체계적인 정기검진 등으로<br class="hidden-tm"> 10년 후를 생각합니다.
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->
        <div class="content">
            <div class="content-wrap">
                <div class="content__area">
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            바노바기성형외과<br>
                            <span class="color-point1">B</span>reast <span class="color-point1">T</span>otal care <span class="color-point1">S</span>ystem
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            가슴의 건강을 지키는 정밀 검진부터 가슴의 모양을 아름답게 하는 성형수술, 수술 후 관리와 정기검진까지
                             가슴 건강에 대한 거의 모든 것,<br class="hidden-tm"> 바노바기에서는 처음부터 끝까지 책임지고 진료합니다.<br>
                            <strong>18년 동안 이어온 바노바기 가슴성형의 명성, 이제 유방 토탈 케어 시스템으로 거듭납니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="bts-style1">
                                <div class="bts-style1__img">
                                    <img src="../../images/introduce/bts/bts_table_1.jpg" class="img-normal hidden-tm" alt="bts 진행시스템"/>
                                    <img src="../../images/introduce/bts/bts_table_1_t.jpg" class="img-normal hidden-p" alt="bts 진행시스템"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            바노바기성형외과<br>
                            <span class="color-point1">유방클리닉</span> 의료진
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="bts-style2">
                                <div class="bts-style2__img">
                                    <img src="../../images/introduce/bts/bts_medical_1.jpg" class="img-normal hidden-tm" alt="bts 의료진 - 반재상, 서재범, 노용준, 한규남, 조정목"/>
                                    <img src="../../images/introduce/bts/bts_medical_1_t.jpg" class="img-normal hidden-p" alt="bts 의료진 - 반재상, 서재범, 노용준, 한규남, 조정목"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            <span class="color-point1">BTS</span> 바노바기
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <div class="content__wrap">
                            <div class="system">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <div class="system__num">#01</div>
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">유방검진</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            가슴성형을 고려하는 분이나 그렇지 않은 분 모두 바노바기의
                                                            유방검진 프로그램을 이용하실 수 있습니다.
                                                            바노바기성형외과 외과 전문의(유방외과 세부전문의)가 <strong class="color-point1">유방
                                                                초음파검사, 맘모그라피 영상 촬영 검사 등을 통해 유방 조직의
                                                                상태를 정밀하게 진단</strong>합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="system__area type-dia">
                                        </div>
                                    </div>
                                    <div class="img-style1">
                                        <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                        <h4 class="img-common__tit tit-v5">바노바기성형외과 <span class="inline-block">유방검진 의료장비</span></h4>
                                        <ul class="img-style1__list">
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_1.jpg" alt="유방 정밀 촬영" class="img-w100">
                                                <p class="img-style1__subject">유방 정밀 촬영</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_2.jpg" alt="유방 초음파" class="img-w100">
                                                <p class="img-style1__subject">유방 초음파</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_3.jpg" alt="유방 조직검사" class="img-w100">
                                                <p class="img-style1__subject">유방 조직검사</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="system__item nth-2">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <div class="system__num">#02</div>
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">유방치료</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            유방 검진 결과 종양이 발견된다면, 양성 종양의 경우 <strong class="color-point1">맘모톰을
                                                            이용하여 흉터가 거의 없이 제거할 수 있고 필요에 따라 조직
                                                            검사를 실시하여 유방암 여부를 진단</strong>합니다.
                                                            또한 유방에 통증을 느끼거나 유두 분비물이 지속될 경우 또
                                                            유선염과 같은 염증 질환이 의심되는 경우, 정밀 진단 후
                                                            약물이나 수술적 방법으로 치료를 진행할 수 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-blue">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">유방멍울</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">유방통</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">유두분비</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">유방멍울</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>
                                </div><!-- //system__item-->
                                <div class="system__item nth-3">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <div class="system__num">#03</div>
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">가슴성형</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            일반적인 가슴에 비해 너무 작거나 큰 경우, 혹은 출산 후 가슴이
                                                            처진 경우에는 성형수술을 통해 아름다운 모양으로 교정할 수
                                                            있습니다.<br>
                                                            바노바기성형외과는 19년 동안의 가슴성형 노하우를 바탕으로
                                                            <strong class="color-point1">가슴 확대술은 물론이고 수술전 상담부터 수술 후 케어까지
                                                                체계적인 시스템을 구축하여 환자분들께 제공</strong>하고 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-green">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">가슴확대술</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">가슴축소술</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">가슴거상술</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">가슴재수술</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>
                                    <div class="img-style1 type-four">
                                        <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                        <h4 class="img-common__tit tit-v5">바노바기성형외과 유방검진 의료장비</h4>
                                        <ul class="img-style1__list">
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_4.jpg" alt="디비나 3D스캐너" class="img-w100">
                                                <p class="img-style1__subject">디비나 3D스캐너</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_5.jpg" alt="Full HD 내시경" class="img-w100">
                                                <p class="img-style1__subject">Full HD 내시경</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_6.jpg" alt="마취시스템" class="img-w100">
                                                <p class="img-style1__subject">마취시스템</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_7.jpg" alt="지방흡입 장비" class="img-w100">
                                                <p class="img-style1__subject">지방흡입 장비</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- //system__item-->
                                <div class="system__item nth-4">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <div class="system__num">#04</div>
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">유두성형</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            유두는 건강하고 아름다운 가슴의 지표가 되는 신체
                                                            기관이기도 합니다. 유두 아래 종양이나 병변이 있어 여러가지
                                                            유방 증상이 나타날 수 있어 진단을 통해 이상 유무를 확인하고
                                                            필요에 따라 조치가 필요합니다.
                                                            바노바기에서는 미용적 목적 뿐만 아니라 <strong class="color-point1">가슴건강을 위한
                                                                함몰유두 교정술, 또 보다 아름다운 가슴 모양을 위한 유륜, 유두
                                                                축소수술 등을 시행</strong>합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-brown">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">함몰유두<br>교정술</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">유두축소술</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">유륜축소술</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>
                                </div><!-- //system__item-->
                                <div class="system__item nth-5">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <div class="system__num">#05</div>
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">유방교정</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            여성형 유방이나 부유방과 같이 비정상적으로 발달한 조직이
                                                            있는 경우 이를 제거하고 교정합니다.
                                                            <strong class="color-point1">유방외과 전문의가 원인부터 정확하게 진단하고, 성형외과
                                                                전문의와 협진</strong>하여 지방을 흡입하거나 유선을 제거하는 등의
                                                            수술로 치료하여 만족도가 높은 편입니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-blue">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">부유방제거술</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">여성형유방<br>제거술</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>
                                </div><!-- //system__item-->
                                <div class="system__item nth-6">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <div class="system__num">#06</div>
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">유방관리</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            가슴 성형을 한 후에 보통 흉터와 부기, 순환을 위한 체계적인
                                                            관리가 필요합니다. <strong class="color-point1">바노바기에서는 이러한 거의 모든 사후 관리는
                                                                물론이고, 가슴 성형을 하지 않은 분들을 위한 가슴 마사지
                                                                관리와 정기적인 가슴 검진 프로그램도 운영</strong>하고 있습니다.
                                                            가슴 건강과 아름다움을 위한 다양한 시도, 바노바기에서
                                                            경험하세요.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                        <div class="system__area type-dia">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="dia type-brown">
                                                        <ul class="dia__list">
                                                            <li class="dia__item">
                                                                <div class="vertical">수술후관리</div>
                                                            </li>
                                                            <li class="dia__item">
                                                                <div class="vertical">예쁜<br>가슴관리</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-area -->
                                    </div>
                                    <div class="img-style1 type-four">
                                        <p class="img-common__subtit">BANOBAGI BREAST CLINIC</p>
                                        <h4 class="img-common__tit tit-v5">바노바기성형외과 유방클리닉 보유 가슴 관리 장비</h4>
                                        <ul class="img-style1__list">
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_8.jpg" alt="스마트룩스" class="img-w100">
                                                <p class="img-style1__subject">스마트룩스</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_9.jpg" alt="바이오포톤" class="img-w100">
                                                <p class="img-style1__subject">바이오포톤</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_10.jpg" alt="프락셔널레이저" class="img-w100">
                                                <p class="img-style1__subject">프락셔널레이저</p>
                                            </li>
                                            <li class="img-style1__item">
                                                <img src="../../images/introduce/bts/bts_eq_11.jpg" alt="캄레이저" class="img-w100">
                                                <p class="img-style1__subject">캄레이저</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div><!-- //content__box-->
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../_include/_footer %>
