<%
    type = "content"
    page = "introduce"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-program">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 tit-v1">바노바기성형외과<br>
                        <span class="content-highlight">유방 검진<br> 프로그램</span>
                    </h3>
                    <p class="content-visual__floor2 txt-v1">
                        건강하고 아름다운 가슴성형,<br>
                        유방검진이 그 시작입니다.
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->
        <div class="content">
            <div class="content-wrap">
                <div class="content__area">
                    <div class="content__box">
                        <h3 class="content__floor1 tit-v4">
                            아름다운 유방을 위한 첫걸음,<br>
                            <span class="color-point1">유방 검진</span>
                        </h3>
                        <p class="content__floor2 subtit-v1">BANOBAGI BREAST CLINIC</p>
                        <p class="content__txt txt-v2">
                            <strong class="content__point">바노바기성형외과 유방클리닉에서는 유방외과 세부 전문의의 섬세하고 노련한 진료로 가슴성형 전후 검진과 일반 유방검진이 가능합니다. </strong>
                            바노바기의 수준 높은 유방검진 프로그램 바노바기성형외과 환자분들과 일반 환자분들 모두 이용하실 수 있습니다.
                            바노바기는 보다 정확한 진단을 위해 고해상도 초음파와 유방촬영장비 맘모그라피, 유방조직 검사 장비 맘모톰 등을 보유하고 있어 기본적인
                            검진과 치료가 둘다 가능합니다. 만약 악성 종양 발견 시 신속하게 치료 받으실 수 있도록 협진 병원을 안내해드립니다.
                        </p>
                        <div class="content__wrap">
                            <div class="arrow-box">
                                <div class="arrow-box__header">
                                    <h4 class="arrow-box__tit tit-v6">바노바기성형외과 유방클리닉 검진 프로그램</h4>
                                </div>
                                <div class="arrow-box__body">
                                    <ul class="arrow-box__list">
                                        <li class="arrow-box__item">
                                            <img src="../../images/introduce/program/program_program_1.jpg" alt="가슴성형 전후 검진" class="img-w100">
                                            <p class="arrow-box__subject">가슴성형 전후 검진</p>
                                        </li>
                                        <li class="arrow-box__item">
                                            <img src="../../images/introduce/program/program_program_2.jpg" alt="보형물 특수 검진" class="img-w100">
                                            <p class="arrow-box__subject">보형물 특수 검진</p>
                                        </li>
                                        <li class="arrow-box__item">
                                            <img src="../../images/introduce/program/program_program_3.jpg" alt="유방 촬영술 검사" class="img-w100">
                                            <p class="arrow-box__subject">유방 촬영술 검사</p>
                                        </li>
                                        <li class="arrow-box__item">
                                            <img src="../../images/introduce/program/program_program_4.jpg" alt="유방 초음파 검사" class="img-w100">
                                            <p class="arrow-box__subject">유방 초음파 검사</p>
                                        </li>
                                        <li class="arrow-box__item">
                                            <img src="../../images/introduce/program/program_program_5.jpg" alt="맘모톰 검진" class="img-w100">
                                            <p class="arrow-box__subject">맘모톰 검진</p>
                                        </li>
                                        <li class="arrow-box__item">
                                            <img src="../../images/introduce/program/program_program_6.jpg" alt="유방암 조기진단 검진" class="img-w100">
                                            <p class="arrow-box__subject">유방암 조기진단 검진</p>
                                        </li>
                                    </ul>
                                </div><!-- //arrow-box__body-->
                            </div><!-- //arrow-box -->
                        </div>
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="arrow-box">
                            <div class="arrow-box__header">
                                <h4 class="arrow-box__tit tit-v6">바노바기성형외과 유방클리닉 검진 대상</h4>
                            </div>
                            <div class="arrow-box__body">
                                <div class="purpose">
                                    <ul class="purpose__list">
                                        <li class="purpose__item txt-v3">가슴성형(확대, 축소, 거상 등) 수술을 고려하시는 분</li>
                                        <li class="purpose__item txt-v3">가슴성형을 하신 후 보형물 검진이 필요하신 분</li>
                                        <li class="purpose__item txt-v3">30세 이상 여성, 정기적인 유방검진이 필요하신 분</li>
                                        <li class="purpose__item txt-v3">유방통, 유두분비물, 섬유선종 등 유방에 이상이 있으신 분</li>
                                        <li class="purpose__item txt-v3">유방암 가족력이 있으신 분</li>
                                        <li class="purpose__item txt-v3">유방암 고위험군에 해당하시는 분</li>
                                        <li class="purpose__item txt-v3">양성종양 제거 수술 이력이 있으신 분</li>
                                    </ul>
                                </div>
                            </div><!-- //arrow-box__body-->
                        </div><!-- //arrow-box -->
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="arrow-box">
                            <div class="arrow-box__header">
                                <h4 class="arrow-box__tit tit-v6">바노바기성형외과 유방클리닉 검진 절차</h4>
                            </div>
                            <div class="arrow-box__body">
                                <img src="../../images/introduce/program/program_table_1.jpg" class="img-w100 hidden-m" alt="바노바기성형외과 유방클리닉 검진 절차"/>
                                <img src="../../images/introduce/program/program_table_1_m.jpg" class="img-w100 hidden-pt" alt="바노바기성형외과 유방클리닉 검진 절차"/>
                            </div><!-- //arrow-box__body-->
                        </div><!-- //arrow-box -->
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="system type-program">
                            <div class="system__item nth-1">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__num">#01</div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">가슴성형 전후 검진</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        <strong class="color-point1">건강하고 아름다운 가슴성형, 유방검진이 그 시작입니다. </strong><br><br>
                                                        가슴성형 전 유방검진은 반드시 꼭 해야 하는 과정입니다.
                                                        수술 전 유방 검진을 통해 유방 종양이 발견되는 경우는 꽤 자주
                                                        있습니다. 만약 유방 종양이 있다면 수술 전에 이를 제거하는
                                                        것이 안전하고 더 좋은 결과를 기대할 수 있습니다
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>

                                <div class="img-style2">
                                    <ul class="img-style2__list">
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/introduce/program/program_operation_1.jpg" alt="보형물 확대술" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">보형물 확대술</h4>
                                                            <p class="img-style2__txt">
                                                                보형물을 이용하는 가슴 확대술을 고려하고 있다면 유방촬영과 유방 초음파 검사를 통해 이상 병변이
                                                                없는지 확인합니다. 만약 이상 병변 발견시에는 필요한 조직 검사나 제거 시술, 치료 등을 시행한 후
                                                                수술을 진행합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/introduce/program/program_operation_2.jpg" alt="자가지방이식술" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">자가지방이식술</h4>
                                                            <p class="img-style2__txt">
                                                                자가지방이식 가슴확대술을 한 후에는 지방의 석회화가 진행되기도 하는데, 초기 석회화의 경우 유방암의
                                                                신호인 미세석회화와 구분하기 어렵습니다. 때문에 수술 전 미리 검사를 통해 자료를 확보하여 이후 만에
                                                                하나 석회화 발견 시, 유방암과 감별하는 데 도움이 됩니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="img-style2__item">
                                            <div class="img-style2__wrap">
                                                <div class="img-style2__img">
                                                    <img src="../../images/introduce/program/program_operation_3.jpg" alt="가슴축소술" class="img-transform">
                                                </div>
                                                <div class="img-style2__outer">
                                                    <div class="img-style2__inner">
                                                        <div class="img-style2__box">
                                                            <h4 class="img-style2__tit">가슴축소술</h4>
                                                            <p class="img-style2__txt">
                                                                가슴 축소 수술 전 초음파 검사를 통해 유선조직과 지방량 등을 파악하여 적합한 수술법을 찾아야
                                                                만족스러운 수술이 가능합니다. 또 수술 후에는 유방 조직이 변화하고 석회화 현상이 생길 수 있기 때문에
                                                                수술 전 검사를 통한 데이터 확보가 필요합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- //img-style2__list -->
                                </div><!-- //img-style2 -->
                            </div><!-- //system__item-->
                        </div><!--//system -->
                    </div><!--//content__box-->
                    <div class="content__box">
                        <div class="system type-program">
                            <div class="system__item nth-2">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__num">#02</div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">보형물 특수 검진</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        가슴 보형물 확대술을 받으셨다면 정기적인 유방 검진은 필수입니다. <br><br>
                                                        바노바기성형외과 유방클리닉에서는 본원 수술 환자분은 물론
                                                        타병원 수술 환자분들의 보형물 특수 검진이 가능합니다.
                                                        <strong class="color-point1">보형물 특수 검진을 통해 유방암 여부는 물론 보형물의 파열
                                                            여부, 구형구축 여부, 피막 두께 확인, 염증, 보형물 위치 및
                                                            이동 등을 확인</strong>하실 수 있습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>

                                <div class="circle-style2">
                                    <ul class="circle-style2__list">
                                        <li class="circle-style2__item nth-1">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">보형물 파손 확인</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-2">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">보형물 위치 파악</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-3">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">구형구축 확인</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-4">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">피막 두께 확인</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-5">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">유방질환 및 유방암 진단</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-6">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">수술 후 부종 원인 확인</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style2__item nth-7">
                                            <div class="circle-style2__box">
                                                <div class="circle-style2__outer">
                                                    <div class="circle-style2__inner txt-v3">합병증 조기진단</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div><!--//system -->
                    </div><!--//content__box-->
                    <div class="content__box">
                        <div class="system type-program">
                            <div class="system__item nth-3">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__num">#03</div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">유방 촬영술 검사</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        유방 촬영술은 유방 검진의 가장 기본이 되고 또 필수적인
                                                        검사라 할 수 있습니다. <strong class="color-point1">유방을 압축한 상태로 촬영하여 유방
                                                            조직 내부를 살펴보는 유방 검사입니다.</strong> 유방조직에 생긴
                                                        미세석회화를 찾는데 효과적이며 유방 석회는 유방암
                                                        화자의 절반 가량 나타나는 조기암 대표 증상이라 30세 이상
                                                        여성이라면 정기적인 유방촬영술을 받으시는 것이 좋습니다.<br><br>

                                                        만약 검사 결과 치밀유방 진단이 나온다면 유방외과
                                                        세부전문의 진료 후 초음파 검사를 추가로 진행하는 것이
                                                        좋습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style1 type-cling">
                                    <h4 class="img-style1__tit txt-v3">치밀유방이란?</h4>
                                    <p class="img-style1__txt txt-v1">
                                        유방을 구성하는 조직 중 유선 조직이 상대적으로 지방 조직의 양보다 많은 경우 유방 촬영 검사 후 사진이 하얗게 나오는<br class="hidden-tm">
                                        것을 말합니다. 우리나라 여성들은 서구 여성에 비해 치밀 유방 빈도가 높으나 이는 질병은 아닙니다.
                                    </p>
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_1.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_2.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_3.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div>
                    </div><!-- //content__box -->
                    <div class="content__box">
                        <div class="system type-program">
                            <div class="system__item nth-4">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__num">#04</div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">유방 초음파 검사</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        유방초음파는 초기에 유방암과 유방 질환을 진단하는 가장
                                                        좋은 검사입니다. 유방 초음파 검사는 유방 촬영보다 많은
                                                        장점을 가지고 있어 유방암 정밀 검진과 가슴 성형 후 가슴
                                                        건강 관리를 위한 필수 항목입니다. 검사 후 소견에 따라
                                                        조직검사가 필요하기도 하며 방사선 노출 위험이 없기 때문에
                                                        안전하고 보다 정확하게 진단받으실 수 있습니다.<br><br>

                                                        <strong class="color-point1">바노바기성형외과 유방클리닉에서는 유방외과 세부전문의가
                                                            직접 진찰하여 검사 정확도를 높이며 고해상도 유방 초음파
                                                            장비를 보유하고 있어 더 선명하고 비교적 정확한 결과를 얻을 수
                                                            있습니다.</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style1 type-cling">
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_4.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_5.jpg" alt="" class="img-w100">
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_6.jpg" alt="" class="img-w100">
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div>
                    </div><!-- content__box -->
                    <div class="content__box">
                        <div class="system type-program">
                            <div class="system__item nth-5">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__num">#05</div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">진공흡입 생검 및 절제술</span><br> <span class="content-highlight2">(맘모톰 검사)</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        맘모톰 검사는 유방촬영 또는 유방초음파로 이상 증상이
                                                        발견될 시, 보다 면밀한 진단을 위해 필요합니다.
                                                        유방에 작은 절개를 하여 초음파로 병변 위치를 확인하면서
                                                        시술관을 삽입, 종양이나 병변을 제거합니다. 제거한 조직은
                                                        검사를 통해 유방암 진단에 사용됩니다. <br><br>

                                                        <strong class="color-point1">
                                                        맘모톰 검사는 비교적 짧은 시술  시간과 약간의 통증, 작은 흉터로
                                                        보다 간단하게 양성 종양을 제거할 수 있어서 유방 외과
                                                        치료에서는 빠질 수 없는 시술법입니다.</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style1 type-cling type-four">
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_7.jpg" alt="바늘을 유방내 병변 가까이 위치시킴" class="img-w100">
                                            <p class="img-style1__subject">바늘을 유방내 병변 <span class="inline-block">가까이 위치시킴</span></p>
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_8.jpg" alt="진공을 이용하여 패인 홈으로 조직을 당김" class="img-w100">
                                            <p class="img-style1__subject">진공을 이용하여 패인 <span class="inline-block">홈으로 조직을 당김</span></p>
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_9.jpg" alt="홈 내에 들어온 조직을 회전칼날로 자름" class="img-w100">
                                            <p class="img-style1__subject">홈 내에 들어온 조직을 회전칼날로 자름</p>
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_10.jpg" alt="조직을 인체 밖으로 적출함" class="img-w100">
                                            <p class="img-style1__subject">조직을 인체 밖으로 적출함</p>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div>
                    </div><!-- content__box -->
                    <div class="content__box">
                        <div class="system type-program">
                            <div class="system__item nth-5">
                                <div class="system__wrap">
                                    <div class="system__area type-txt">
                                        <div class="system__outer">
                                            <div class="system__inner">
                                                <div class="system__box">
                                                    <div class="system__num">#06</div>
                                                    <h4 class="system__tit tit-v5"><span class="content-highlight2">유방암 조기진단 검진</span></h4>
                                                    <p class="system__txt txt-v2">
                                                        유방암은 다른 암과 비교해 조기 발견 시 완치 가능성이 높고,
                                                        2기 이내 환자 5년 생존율이 90% 가 넘습니다. 하지만 늦게
                                                        발견하면 할수록 생존율이 현저히 떨어지는 위험질환으로
                                                        조기 진단의 중요성이 더욱 부각되고 있습니다. 특히 유방암
                                                        위험성이 증가하는 40대 여성이라면 1년에 한번 정기 검진을
                                                        받는 것이 좋습니다. 30대에서 심한 치밀유방이나 유방통,
                                                        멍울, 유두 분비물 등의 증상이 지속된다면 반드시 유방외과
                                                        세부전문의의 진단을 받아야 합니다. <br><br>

                                                        <strong class="color-point1">
                                                            유방암 검진을 위해서는 유방촬영술과 고해상도 초음파 검사가
                                                            필요합니다. 바노바기성형외과 유방클리닉에서는 이 두 가지
                                                            검사 모두 가능하며 유방외과 세부전문의가 보다 정확하게
                                                            판독합니다.
                                                        </strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- //system__area type-txt -->
                                </div>
                                <div class="img-style4">
                                    <p class="img-common__subtit type-color1">BANOBAGI BREAST CLINIC</p>
                                    <h4 class="img-common__tit type-black tit-v5">한눈에 보는 유방암</h4>
                                    <ul class="img-style4__list">
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_1.jpg" alt="전세계 여성암중 1위, 세계전체 여상암의 25.2%를 차지" class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                전세계 여성암 중 1위,
                                                세계 전체 여성암의 25.2%를 차지합니다.
                                            </p>
                                        </li>
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_2.jpg" alt="한국 여성암 2위" class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                비만, 모유수유 감소, 식습관의
                                                서구화에 따라 우리나라에서도
                                                유방암 발병률이 높아져 여성암
                                                발병률 2위를 차지합니다.
                                            </p>
                                        </li>
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_3.jpg" alt="전세계 여성암중 1위, 세계전체 여상암의 25.2%를 차지" class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                한국 유방암 발생 환자는 16년 전
                                                대비 5배로 급격히 증가하는
                                                추세입니다.
                                            </p>
                                        </li>
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_4.jpg" alt="한국 유방암 발생 환자 16년전에 비해 5배 증가" class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                국내에서 매년 2만명의 여성이
                                                새롭게 유방암을 진단받습니다.
                                            </p>
                                        </li>
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_5.jpg" alt="매년 2만명 진단" class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                한국 여성 약 25명 중 1명에서 유방암이 발생합니다.
                                            </p>
                                        </li>
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_6.jpg" alt="유방암 환자 10명 중 7명은 40~50대입니다." class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                유방암 환자 10명 중 7명은 40~50대입니다.
                                            </p>
                                        </li>
                                        <li class="img-style4__item">
                                            <div class="img-style4__img">
                                                <img src="../../images/introduce/program/program_cancer_7.jpg" alt="유방암은 모두 같은 유방암이 아닙니다" class="img-w100">
                                            </div>
                                            <p class="img-style4__caption txt-v3">
                                                환자의 개인별 유방암의 특성에
                                                따라 적절한 맞춤 치료가
                                                중요합니다.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="img-style1 type-cling">
                                    <ul class="img-style1__list">
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_11.jpg" alt="수준 높은 진단 장비 보유" class="img-w100">
                                            <p class="img-style1__subject">수준 높은 진단 장비 보유</p>
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_12.jpg" alt="유방외과 세부전문의 판독" class="img-w100">
                                            <p class="img-style1__subject">유방외과 세부전문의 판독</p>
                                        </li>
                                        <li class="img-style1__item">
                                            <img src="../../images/introduce/program/program_breast_13.jpg" alt="서울대학교 병원 협진 시스템 구축" class="img-w100">
                                            <p class="img-style1__subject">서울대학교 병원 협진 시스템 구축</p>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //system__item-->
                        </div>
                    </div><!-- content__box -->
                </div><!-- //content__area -->
            </div><!--//content-wrap -->
        </div><!-- //content-->
    </div><!-- containe__wrap -->
</div><!-- //containe-->
<% include ../_include/_footer %>
