<%
    type = "content"
    page = "reoperation"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-reoperation">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">경험과 노하우로 보다 정확히 재교정하는</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">가슴 재수술</span>
                    </p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-reoperation">
            <div class="content-wrap">
                <div class="content__area">

                    <!-- 가숨 재수술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            가슴 재수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 1시간 내외</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">정맥마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">당일 퇴원/하루입원</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">필요 없음</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">약 2~3회 내원</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">약 3~4일 후 일상생활</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="content__box">
                        <p class="content__floor1 tit-v4">가슴 재수술은 <span class="color-point1">첫 수술보다 어렵고 또 중요합니다.</span></p>
                        <p class="content__txt txt-v2 type-nobar">
                            가슴 재수술은 단순히 보형물을 교체하는 작업이 아닙니다.
                            첫 수술로 인해 섬유화된 조직들을 유의하며 더욱 정밀히 수술해야 하며,
                            상황에 따라 피막을 제거하거나 보형물을 삽입할 수 있는 적절한 공간을 다시 만들어야 하는 경우도 있습니다.
                            또, 출혈의 가능성도 높고, 보형물의 파손이 진행된 경우에는 그 내용물을 안전히 제거하는 과정이 필요합니다.<br>
                            <strong class="color-point1">때문에 가슴 재수술은 경험이 많은 전문의를 찾는 것이 중요합니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="img-style6 type-m100">
                                <ul class="img-style6__list">
                                    <li class="img-style6__item">
                                        <img src="../../images/reoperation/reoperation/reoperation_case_1.jpg" alt="" class="img-w100">
                                    </li>
                                    <li class="img-style6__item">
                                        <img src="../../images/reoperation/reoperation/reoperation_case_2.jpg" alt="" class="img-w100">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="content__box">
                        <p class="content__floor1 tit-v4">가슴 재수술, <span class="color-point1">바노바기는 경험과 노하우</span>를 갖추었습니다.</p>
                        <p class="content__txt txt-v2 type-nobar">
                            바노바기는 2000년 개원 이후 반재상 원장님을 필두로 한 가슴 성형 전문팀을 운영하여 다양한 가슴 성형 경험과 노하우를 갖추고 있습니다.
                            필요한 전문 장비를 통해 부작용 또는 불만족이 발생한 원인을 보다 정밀히 파악하고, 심도 있는 상담을 통해 가슴 재수술에 사용될
                            적절한 보형물을 선택하며, 보다 빠르고 세밀하게 수술합니다. 또, 수술 후에는 보다 나은 결과와 회복을 위한 후 관리 프로그램도 진행합니다.<br>
                            <strong class="color-point1">수없이 경험했고, 그 오랜 기간 환자분들의 이야기에 귀 기울여 왔기 때문에 더 만족스러운 가슴 재수술을 자신합니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="img-style6 type-m100">
                                <ul class="img-style6__list">
                                    <li class="img-style6__item">
                                        <img src="../../images/reoperation/reoperation/reoperation_case_3.jpg" alt="" class="img-w100">
                                    </li>
                                    <li class="img-style6__item">
                                        <img src="../../images/reoperation/reoperation/reoperation_case_4.jpg" alt="" class="img-w100">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="content__box">
                        <p class="content__floor1 tit-v4">첫 수술 후 <span class="color-point1">약 6개월 이후에 재수술</span>하는 것이 좋습니다.</p>
                        <p class="content__txt txt-v2 type-nobar">
                            가슴 성형 후 회복 과정 동안 체내에서는 다양한 일들이 발생합니다.<br class="hidden-tm">
                            조직들이 섬유화될 수 있고, 피막이 생기거나 염증 발생, 조직 재생 등 변화를 위한 여러가지 과정이 진행되죠.<br class="hidden-tm">
                            이 과정들은 수술 방법과 개개인마다의 차이가 있겠지만 약 6개월이 지나면 안정된다고 봅니다.<br class="hidden-tm">
                            따라서 가슴 재수술은 첫 수술 후 약 6개월 이후에 진행하는 것이 좋습니다.
                        </p>
                        <p class="content__noti txt-v2">
                            <strong class="color-point1">* 예외적으로 심한 통증이나 보형물 파손이 발생한 등의 경우에는 더 빨리 재수술할 수도 있습니다.</strong>
                        </p>
                    </div>

                    <div class="content__box">
                        <div class="arrow-box">
                            <div class="arrow-box__header">
                                <h4 class="arrow-box__tit tit-v6">바노바기는 불만족 및 부작용이 발생한 원인을 정밀히 파악합니다.</h4>
                            </div>
                            <div class="arrow-box__body">
                                <p class="arrow-box__caption txt-v2">가슴 재수술에서 재수술의 원인 파악은 옷의 첫 단추와 같습니다.<br>
                                    이 과정에서 재수술의 원인을 제대로 파악하지 못하면 보다 정확한 수술이 진행되기 힘들고,<br class="hidden-tm">
                                    아예 잘못된 방향의 수술이 진행될 수도 있습니다. 그러면 불만족이나 부작용이 재발할 가능성이 높고,<br class="hidden-tm">
                                    또다시 재수술을 선택하게 되는 악순환이 반복될 수 있죠. 그래서 가슴 재수술은 첫 수술보다 더욱 심도 있는<br class="hidden-tm">
                                    상담과 전문 장비를 통해 가슴의 상태를 면밀히 파악하고 올바른 결정을 내릴 수 있도록 해야 합니다.
                                </p>
                                <p class="arrow-box__floor1 subtit-v1">보다 정확한 진단을 가능하게 하는</p>
                                <p class="arrow-box__floor2 tit-v5">바노바기 유방 진단</p>
                                <div class="circle-style1">
                                    <ul class="circle-style1__list">
                                        <li class="circle-style1__item nth-1">
                                            <div class="circle-style1__box">
                                                <div class="circle-style1__outer">
                                                    <div class="circle-style1__inner">
                                                        <p class="circle-style1__txt txt-v4">
                                                            <span class="color-point3">일반외과 전문의</span>의<br>
                                                            가슴 진단
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style1__item nth-2">
                                            <div class="circle-style1__box">
                                                <div class="circle-style1__outer">
                                                    <div class="circle-style1__inner">
                                                        <p class="circle-style1__txt txt-v4">
                                                            <span class="color-point3">전문 장비</span>를 통한<br>
                                                            디테일한 확인
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="circle-style1__item nth-3">
                                            <div class="circle-style1__box">
                                                <div class="circle-style1__outer">
                                                    <div class="circle-style1__inner">
                                                        <p class="circle-style1__txt txt-v4">
                                                            <span class="color-point3">심도 있는</span> 상담
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="arrow-box__txt txt-v2">
                                    바노바기는 보다 정확한 유방 상태 확인을 위해 다양한 장비와 인력을 갖추고 있습니다.<br>
                                    초음파 검사에서 맘모톰까지, 일반외과 전문의가 직접 가슴의 상태를 확인하고,<br class="hidden-tm">
                                    심도 있는 상담을 통해 문제가 되는 부분을 파악하여 교정 방향을 결정합니다.
                                </div>
                            </div><!-- //arrow-box__body-->
                        </div>
                    </div>

                    <div class="content__box">
                        <p class="content__floor1 tit-v4">원인에 맞는 올바른 개선 방법을 제안합니다.</p>
                        <div class="content__wrap">
                            <div class="img-style8">
                                <ul class="img-style8__list">
                                    <li class="img-style8__item">
                                        <div class="img-style8__wrap">
                                            <div class="img-style8__img">
                                                <img src="../../images/reoperation/reoperation/reoperation_circle_1.png" class="img-w100 alt=""/>
                                            </div>
                                            <div class="img-style8__outer">
                                                <div class="img-style8__inner">
                                                    <h4 class="img-style8__tit txt-v3">구형구축 발생으로 인한 재수술</h4>
                                                    <p class="img-style8__txt txt-v2">
                                                        구형구축이란 우리의 몸이 체내에 삽입된 보형물을 피막으로 감싸면서 발생하는 현상입니다.<br class="hidden-tm">
                                                        일반적으로 발생하는 약한 정도의 구형구축은 크게 문제가 되지 않지만, 피막이 단단하게 굳어 그 정도가
                                                        심해지면 촉감을 부자연스럽게 만들고 보형물의 변형이나 통증을 유발하기도 합니다.<br class="hidden-tm">
                                                        이런 경우에는 피막을 포함한 기존 보형물을 정교하게 제거하는 것이 중요하며, 구형구축을 막을 수 있도록
                                                        디자인된 보형물로 교체하여 재발을 방지해야 합니다.
                                                    </p>
                                                    <div class="summary-box">
                                                        <ul class="summary-box__list">
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    피막을 포함한 기존 보형물 제거
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    구형구축을 예방할 수 있는
                                                                    표면을 가진 보형물로 교체
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    구형구축을 예방할 수 있는
                                                                    보다 쳬계적인 후 관리 진행
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item">
                                        <div class="img-style8__wrap">
                                            <div class="img-style8__img">
                                                <img src="../../images/reoperation/reoperation/reoperation_circle_2.png" class="img-w100 alt=""/>
                                            </div>
                                            <div class="img-style8__outer">
                                                <div class="img-style8__inner">
                                                    <h4 class="img-style8__tit txt-v3">가슴 비대칭으로 인한 재수술</h4>
                                                    <p class="img-style8__txt txt-v2">
                                                        대부분의 가슴 비대칭은 환자의 신체 발달 정도를 정확히 확인하지 않았거나, 확인했다 하더라도 잘못된 예측으로 보형물을
                                                        삽입했을 경우 발생합니다. 사람은 누구나 약간의 비대칭을 가지고 있기 때문에 보다 정확한 가슴 성형을 위해서는 그 비대칭
                                                        정도를 면밀하게 파악하고 계산하여 이상적인 보형물 크기를 선택하는 것이 중요하죠.<br class="hidden-tm">
                                                        또, 비대칭으로 인한 가슴 재수술은 양쪽 가슴의 크기뿐만 아니라 그 위치나 모양의 비대칭까지 다양한 증상을 포함하기 때문에,
                                                        단순히 보형물의 크기를 다시 맞추는 것에 그치지 않고 전문의의 감각을 통해 보형물이 들어가는 위치, 가슴 근육의 두께 등을
                                                        고려하여 개선해야 합니다.
                                                    </p>
                                                    <div class="summary-box">
                                                        <ul class="summary-box__list">
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    원래의 체형을 보다 면밀히 확인
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    치밀한 계산을 통해 대칭을
                                                                    이룰 수 있는 보형물 선택
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    보형물의 위치, 가슴 근육의
                                                                    두께 등을 고려하여 보형물 교체
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item">
                                        <div class="img-style8__wrap">
                                            <div class="img-style8__img">
                                                <img src="../../images/reoperation/reoperation/reoperation_circle_3.png" class="img-w100 alt=""/>
                                            </div>
                                            <div class="img-style8__outer">
                                                <div class="img-style8__inner">
                                                    <h4 class="img-style8__tit txt-v3">보형물 파손으로 인한 재수술</h4>
                                                    <p class="img-style8__txt txt-v2">
                                                        일반적인 경우 보형물의 파손은 거의 발생하지 않습니다. 하지만 사고와 같은 일반적이지 않은 상황이나 오래된 보형물을
                                                        사용했을 경우 보형물이 파손되어 재수술이 필요해지는 경우가 있죠. 이때는 기존에 사용된 보형물의 종류에 따라 보형물을 포함한
                                                        내용물들을 보다 깔끔히 제거해 주는 것이 중요하며, 파손의 위험이 비교적 적은 보형물로 교체하여 파손을 예방하는 것이 좋습니다.
                                                    </p>
                                                    <div class="summary-box">
                                                        <ul class="summary-box__list">
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    보형물과 함께 누출된
                                                                    <span class="inline-block">내용물들을 분리</span>
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    파손의 위험이 비교적 적은
                                                                    신형의 보형물로 교체
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item">
                                        <div class="img-style8__wrap">
                                            <div class="img-style8__img">
                                                <img src="../../images/reoperation/reoperation/reoperation_circle_4.png" class="img-w100 alt=""/>
                                            </div>
                                            <div class="img-style8__outer">
                                                <div class="img-style8__inner">
                                                    <h4 class="img-style8__tit txt-v3">모양 및 크기에 대한 불만족으로 인한 재수술</h4>
                                                    <p class="img-style8__txt txt-v2">
                                                        가슴 성형 후 형태에 대한 불만족은 보형물의 선택이 잘못되었을 경우에 발생하기 쉽습니다.<br class="hidden-tm">
                                                        이를 방지하기 위해서는 전문의가 다양한 보형물에 대한 특징을 잘 파악하고 있어야 하며, 그 정보를 바탕으로 개개인의 체형에
                                                        맞는 적합한 모양과 크기의 보형물을 제안할 수 있어야 하죠. 이상적인 가슴의 형태는 완만한 곡선의 윗가슴에서 아래로 갈수록
                                                        볼륨감이 느껴지는 형태이며, 최근에는 원래 가슴의 움직임처럼 중력에 따라 자연스럽게 모양이 바뀌는 보형물 선택이 가능하여
                                                        형태적인 부분에서 비교적 높은 만족감을 주는 재수술이 가능합니다.

                                                    </p>
                                                    <div class="summary-box">
                                                        <ul class="summary-box__list">
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    재수술 전 충분한 상담을 통해
                                                                    추구하는 형태 확인
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    환자의 체형에 맞는 보형물을
                                                                    선택하여 교체
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item">
                                        <div class="img-style8__wrap">
                                            <div class="img-style8__img">
                                                <img src="../../images/reoperation/reoperation/reoperation_circle_5.png" class="img-w100 alt=""/>
                                            </div>
                                            <div class="img-style8__outer">
                                                <div class="img-style8__inner">
                                                    <h4 class="img-style8__tit txt-v3">촉감에 대한 불만족으로 인한 재수술</h4>
                                                    <p class="img-style8__txt txt-v2">
                                                        가슴 성형 후 가슴의 촉감은 대부분이 보형물에 의해 좌우된다고 할 수 있습니다.<br class="hidden-tm">
                                                        따라서 환자분들은 재수술 전 보형물의 응집력이나 탄력을 미리 확인해보는 것이 좋으며, 전문의는 환자의 가슴 근육, 지방,
                                                        피부 등의 상태를 고려하여 보다 자연스러운 촉감을 줄 수 있는 보형물을 선택할 수 있어야 합니다.
                                                    </p>
                                                    <div class="summary-box">
                                                        <ul class="summary-box__list">
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    재수술 전 충분한 상담을 통한
                                                                    보형물 촉감 확인
                                                                </div>
                                                            </li>
                                                            <li class="summary-box__item">
                                                                <div class="summary-box__wrap txt-v2">
                                                                    가슴 근육, 지방 등의 상태를 고려
                                                                    하여 적절한 촉감의 보형물로 교체
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- //img-style8 -->
                        </div>
                    </div>

                    <div class="content__box">
                        <div class="arrow-box">
                            <div class="arrow-box__header">
                                <h4 class="arrow-box__tit tit-v6">재수술의 부담을 줄이기 위해 노력합니다.</h4>
                            </div>
                            <div class="arrow-box__body">
                                <div class="arrow-box__wrap">
                                    <p class="arrow-box__caption txt-v2">
                                        가슴 재수술은 첫 수술보다 비교적 부담이 크게 느껴질 수 있는 수술입니다.
                                        수술 부위 자체가 비교적 크고, 이전 수술의 실패로 인한 심리적 부담까지 더해지기 때문입니다. 바노바기는 그런 환자분들의 부담을
                                        조금이나마 덜어드리기 위해 보다 체계적인 수술 후 관리 프로그램을 제공합니다.
                                    </p>
                                    <div class="arrow-box__box">
                                        <p class="arrow-box__floor1 subtit-v1">흉터 걱정을 줄이는</p>
                                        <p class="arrow-box__floor2 tit-v5">바노바기 흉터 집중 치료</p>
                                        <div class="arrow-box__img">
                                            <img src="../../images/reoperation/reoperation/reoperation_img_1.jpg" class="img-w100" alt=""/>
                                        </div>
                                        <div class="arrow-box__txt txt-v2">
                                            바노바기는 보다 정밀하고 빠른 수술로 조직이 거의 손상되지 않도록 하고, 가능한 한 기존의 수술창을 통해 재수술합니다.
                                            또, 흉터는 환자마다 예후가 다를 수 있기에 피부과와의 협진을 통해 붉은 흉터 자국, 파인 흉터, 튀어나온 흉터 등
                                            여러 흉터 케이스에 대한 집중 치료를 제공해드립니다.
                                        </div>
                                    </div><!--//arrow-box__box-->
                                    <div class="arrow-box__box">
                                        <p class="arrow-box__floor1 subtit-v1">혈액 순환과 비교적 빠른 회복을 위한</p>
                                        <p class="arrow-box__floor2 tit-v5">순환 회복 마사지</p>
                                        <div class="arrow-box__img">
                                            <img src="../../images/reoperation/reoperation/reoperation_img_2.jpg" class="img-w100" alt=""/>
                                        </div>
                                        <div class="arrow-box__txt txt-v2">
                                            최근에 주로 사용하는 보형물은 마사지가 필요하지 않지만 바노바기에서는 아로마 오일을 이용하여
                                            가볍게 혈액 순환을 유도하여 회복을 촉진하는 가슴 전문 마사지 프로그램을 제공하고 있습니다.
                                        </div>
                                    </div><!--//arrow-box__box-->
                                    <div class="arrow-box__box">
                                        <p class="arrow-box__floor1 subtit-v1">부기 제거 및 재생 촉진을 위한</p>
                                        <p class="arrow-box__floor2 tit-v5">스마트룩스 or 바이오라이트 광선 치료지</p>
                                        <div class="arrow-box__img">
                                            <img src="../../images/reoperation/reoperation/reoperation_img_3.jpg" class="img-w100" alt=""/>
                                        </div>
                                        <div class="arrow-box__txt txt-v2">
                                            스마트룩스는 의료용 특수 광선을 수술 부위에 투과하여 진피층 및 피하층까지 에너지를 전달하는 광역동 치료법입니다.
                                            피부 속 세포를 활성화시켜 미세혈류 순환이 증가하고 수술 부위 재생을 도와 비교적 빠른 부기와 회복 관리에 좋습니다.
                                        </div>
                                    </div><!--//arrow-box__box-->
                                    <div class="arrow-box__box">
                                        <p class="arrow-box__floor1 subtit-v1">혈액순환과 비교적 빠른 회복을 유도하는</p>
                                        <p class="arrow-box__floor2 tit-v5">바이오포톤 치료</p>
                                        <div class="arrow-box__img">
                                            <img src="../../images/reoperation/reoperation/reoperation_img_4.jpg" class="img-w100" alt=""/>
                                        </div>
                                        <div class="arrow-box__txt txt-v2">
                                            바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
                                            PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높이고 혈액순환을 개선해 비교적 빠른 회복을 유도합니다.
                                        </div>
                                    </div><!--//arrow-box__box-->
                                </div>
                            </div><!-- //arrow-box__body-->
                        </div>
                    </div>

                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 가슴 재수술</h3>
                        <p class="content__floor2 tit-v4">수술결과</p>
                        <p class="content__txt txt-v2">
                            바노바기 가슴 재수술의 결과는 보다 만족스럽습니다.
                        </p>

                        <div class="img-style5">
                            <ul class="img-style5__list">
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/reoperation/reoperation/reoperation_before_1.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/reoperation/reoperation/reoperation_after_1.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/reoperation/reoperation/reoperation_before_2.jpg" alt="수술 전" class="img-w100">
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/reoperation/reoperation/reoperation_after_2.jpg" alt="수술 후 6개월" class="img-w100">
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="img-style5__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
