@charset "UTF-8";
@import "mixins";

.content-visual{
    &.type-correction{background: url("../images/papilla/correction/correction_visual_1.jpg") center bottom/cover no-repeat;}

    @media only screen and (max-width: $tablet-size) {
        &.type-correction{background: url("../images/papilla/correction/correction_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}

.system{
    $this:&;

    &.type-correction{
        #{$this}__item{
            &.nth-1{
                #{$this}__wrap{background:url('../images/papilla/correction/correction_bg_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__wrap{background:url('../images/papilla/correction/correction_bg_2.jpg') no-repeat center center / cover;}
            }
            &.nth-3{
                #{$this}__wrap{background:url('../images/papilla/correction/correction_bg_3.jpg') no-repeat center center / cover;}
            }
        }
    }

    @media only screen and (max-width: $tablet-size) {
        &.type-correction{
            #{$this}__item{
                &.nth-1{
                    #{$this}__wrap:before{background:url('../images/papilla/correction/correction_bg_1.jpg') no-repeat center center / cover;}
                }
                &.nth-2{
                    #{$this}__wrap:before{background:url('../images/papilla/correction/correction_bg_2.jpg') no-repeat center center / cover;}
                }
                &.nth-3{
                    #{$this}__wrap:before{background:url('../images/papilla/correction/correction_bg_3.jpg') no-repeat center center / cover;}
                }
            }
        }
    }
}
