@charset "UTF-8";
@import "mixins";

.content-visual{
    &.type-reduction{background: url("../images/papilla/reduction/reduction_visual_1.jpg") center bottom/cover no-repeat;}

    @media only screen and (max-width: $tablet-size) {
        &.type-reduction{background: url("../images/papilla/reduction/reduction_visual_1_m.jpg") center bottom/cover no-repeat;}
    }
}

.system{
    $this:&;

    &.type-reduction{
        #{$this}__item{
            &.nth-1{
                #{$this}__wrap{background:url('../images/papilla/reduction/reduction_bg_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__wrap{background:url('../images/papilla/reduction/reduction_bg_2.jpg') no-repeat center center / cover;}
            }
            &.nth-3{
                #{$this}__wrap{background:url('../images/papilla/reduction/reduction_bg_3.jpg') no-repeat center center / cover;}
            }
            &.nth-4{
                #{$this}__wrap{background:url('../images/papilla/reduction/reduction_bg_4.jpg') no-repeat center center / cover;}
            }
            &.nth-5{
                #{$this}__wrap{background:url('../images/papilla/reduction/reduction_bg_5.jpg') no-repeat center center / cover;}
            }
            &.nth-6{
                #{$this}__wrap{background:url('../images/papilla/reduction/reduction_bg_6.jpg') no-repeat center center / cover;}
            }
            & + &{margin-top:120px;}
        }
    }

    @media only screen and (max-width: $tablet-size) {
        &.type-reduction{
            #{$this}__item{
                &.nth-1{
                    #{$this}__wrap:before{background:url('../images/papilla/reduction/reduction_bg_1.jpg') no-repeat center center / cover;}
                }
                &.nth-2{
                    #{$this}__wrap:before{background:url('../images/papilla/reduction/reduction_bg_2.jpg') no-repeat center center / cover;}
                }
                &.nth-3{
                    #{$this}__wrap:before{background:url('../images/papilla/reduction/reduction_bg_3.jpg') no-repeat center center / cover;}
                }
                &.nth-4{
                    #{$this}__wrap:before{background:url('../images/papilla/reduction/reduction_bg_4.jpg') no-repeat center center / cover;}
                }
                &.nth-5{
                    #{$this}__wrap:before{background:url('../images/papilla/reduction/reduction_bg_5.jpg') no-repeat center center / cover;}
                }
                &.nth-6{
                    #{$this}__wrap:before{background:url('../images/papilla/reduction/reduction_bg_6.jpg') no-repeat center center / cover;}
                }
            }
        }
    }
}
