<%
    type = "content"
    page = "lifting"
%>
<% include ../_include/_header %>

<div class="container">
    <% include ../_include/_lnb %>

    <div class="container__wrap">
        <div class="content-visual type-lifting">
            <div class="content-visual__wrap">
                <div class="content-visual__box">
                    <h3 class="content-visual__floor1 txt-v1">아름답게, 건강하게, 편하게</h3>
                    <p class="content-visual__floor2 tit-v1">바노바기<br>
                        <span class="content-highlight">가슴 축소/거상술</span></p>
                </div>
            </div><!-- //content-visual__wrap -->
        </div><!-- //content-visual -->

        <div class="content type-lifting">
            <div class="content-wrap">
                <div class="content__area">

                    <!-- 가숨 축소/거상술 수술 정보 -->
                    <div class="content__box">
                        <h3 class="content__tit tit-v4">
                            가슴 축소/거상술 수술 정보
                        </h3>
                        <div class="content__wrap">
                            <div class="operation">
                                <ul class="operation__list">
                                    <li class="operation__item nth-1">
                                        <h4 class="operation__tit tit-v7">수술 시간</h4>
                                        <p class="operation__txt txt-v2">약 3시간 ~ 3시간 30분</p>
                                    </li>
                                    <li class="operation__item nth-2">
                                        <h4 class="operation__tit tit-v7">마취 방법</h4>
                                        <p class="operation__txt txt-v2">전신마취</p>
                                    </li>
                                    <li class="operation__item nth-3">
                                        <h4 class="operation__tit tit-v7">입원 기간</h4>
                                        <p class="operation__txt txt-v2">약 1일 내외</p>
                                    </li>
                                    <li class="operation__item nth-4">
                                        <h4 class="operation__tit tit-v7">실밥 제거</h4>
                                        <p class="operation__txt txt-v2">약 8 ~ 15일 후 제거</p>
                                    </li>
                                    <li class="operation__item nth-5">
                                        <h4 class="operation__tit tit-v7">내원 치료</h4>
                                        <p class="operation__txt txt-v2">약 4 ~ 5회 내외</p>
                                    </li>
                                    <li class="operation__item nth-6">
                                        <h4 class="operation__tit tit-v7">회복 과정</h4>
                                        <p class="operation__txt txt-v2">약 4 ~ 5일 후 일상생활</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술대상 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 가슴 축소/거상술</h3>
                        <p class="content__floor2 tit-v4">수술대상</p>
                        <p class="content__txt txt-v2">
                            가슴 비대증은 단순히 미용적인 불만족을 넘어, 건강과 심리적인 문제로 이어집니다.<br>
                            타인의 시선에 대한 스트레스로 자세는 위축되고, 위축된 자세는 전반적인 신체의 균형을 무너뜨려
                            어깨 통증, 허리 질환과 같은 건강 문제를 유발하기 때문입니다.<br><br>
                            또, 가슴 비대는 자연스럽게 처짐이 동반되기 때문에 습진과 같은 피부질환이
                            발생할 수 있고 미용적 불만족은 더더욱 심해집니다. 따라서 가슴 비대증에 대한 고민을 안고 있다면,<br>
                            <strong class="color-point1">가슴 축소/거상술을 통해 그 증상을 조기에 개선하여 자신감 상실과 자세 틀어짐의
                            악순환을 예방하는 것이 바람직합니다.</strong>
                        </p>
                        <div class="content__wrap">
                            <div class="content__img">
                                <img src="../../images/lifting/lifting/lifting_img_1.jpg" alt="" class="img-w100 hidden-tm"/>
                                <img src="../../images/lifting/lifting/lifting_img_1_m.jpg" alt="" class="img-w100 hidden-p"/>
                            </div>

                            <div class="dia2 type-brown">
                                <ul class="dia2__list">
                                    <li class="dia2__item">
                                        <div class="vertical">미용적<br> 불만족</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">심리적<br> 위축</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">피부 질환,<br> 어깨 통증,<br> 허리 질환 등<br> 건강 악화</div>
                                    </li>
                                    <li class="dia2__item">
                                        <div class="vertical">생활의<br> 불편함</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 수술목표 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 가슴 축소/거상술</h3>
                        <p class="content__floor2 tit-v4">수술목표</p>
                        <div class="content__wrap type-another">
                            <div class="purpose">
                                <ul class="purpose__list">
                                    <li class="purpose__item txt-v3">미용적인 형태 개선으로 자신감 상승</li>
                                    <li class="purpose__item txt-v3">가슴의 무게 및 부피 감소를 통해 실질적인 편안함 추구</li>
                                    <li class="purpose__item txt-v3">살 짓무름이나 어깨 및 척추 건강 개선</li>
                                    <li class="purpose__item txt-v3">신체 균형 회복을 통한 자세 교정</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 가슴 축소/거상술 수술방법 -->
                    <div class="content__box">
                        <div class="content__wrap">
                            <div class="system type-lifting">
                                <div class="system__item nth-1">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <h4 class="system__tit tit-v5"><span class="content-highlight2">가슴 축소/거상술 수술방법</span></h4>
                                                        <p class="system__txt txt-v2">
                                                            가슴 축소/거상술은 가슴의 미용적인 개선과 동시에 환자의
                                                            건강증진 또한 목표로 해야 합니다. 때문에 바노바기는 심도 있는
                                                            상담과 전문 장비를 통해 신체의 조화를 고려하여 적절한 가슴의
                                                            크기를 정하고, 거의 모든 수술 방법들 중 환자 개개인의 가슴
                                                            상태와 추구하는 형태에 맞는 방법을 선택합니다.<br><br>
                                                            <strong class="color-point1">기본적인 수술 방법은 절개를 통해 가슴 내부의 구성 조직들을
                                                            줄여주는 것이며, 비교적 적은 양의 축소를 원하거나 단순 처짐
                                                            만을 개선하고자 하는 경우라면 지방 흡입이나 레이저를 통한
                                                            리프팅 같은 방법도 선택할 수 있습니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_way_1.jpg" alt="벨로디 레이저 리프팅" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">벨로디 레이저 리프팅</h4>
                                                                <p class="img-style2__txt">
                                                                    가슴의 크기보다는 단순 처짐이 고민인 경우 선택할 수 있는 방법입니다.
                                                                    진피층을 강하게 자극하여 콜라겐과 엘라스틴을 재생시키는 레이저를 통해 처진 가슴을 리프팅 하는
                                                                    원리이며, 수술적 방법이 아니기 때문에 부담이 거의 없이 비교적 간편하게 개선된다는 장점이 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_way_2.jpg" alt="지방 흡입 가슴 축소술" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">지방 흡입 가슴 축소술</h4>
                                                                <p class="img-style2__txt">
                                                                    가슴의 지방을 흡입하여 가슴 크기를 줄이는 방법입니다. 전신 비만으로 인해 가슴 비대증이
                                                                    생긴 경우에는 가슴에 지방 조직의 비율이 높기 때문에 이 방법이 비교적 효과적일 수 있습니다.
                                                                    시술 시간이 보다 적고 흉터에 대한 부담이 거의 없다는 장점이 있지만 가슴이 심하게 커 피부가 많이 늘어난
                                                                    경우에는 시술 후 가슴이 처져 보일 수 있다는 한계가 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_way_3.jpg" alt="'오'자형 절개 가슴 축소술" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">'오'자형 절개 가슴 축소술</h4>
                                                                <p class="img-style2__txt">
                                                                    가슴 축소술의 가장 대표적 방법으로, 거의 모든 케이스에 적용 가능한 수술법입니다.
                                                                    수술 결과를 예측하기가 용이하고, 유두의 감각 유지와 위치 이동이 가능하다는 장점이 있는 반면,
                                                                    절개 범위가 비교적 넓기 때문에 흉터에 대한 거부감이 심한 경우라면 다른 방법을 생각해보아야 합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_way_4.jpg" alt="유륜 주위 절개 가슴 축소술" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">유륜 주위 절개 가슴 축소술</h4>
                                                                <p class="img-style2__txt">
                                                                    유륜 주위를 절개한 후 가슴 안의 조직을 줄이는 방법으로, 가슴의 크기가 너무 큰 경우가 아니라면
                                                                    이 방법으로 시술할 수 있습니다. 유두 주위만을 절개하기 때문에 흉터의 크기가 비교적 작고 거의 티가 나지 않으며,
                                                                    가슴의 기능을 거의 방해하지 않는다는 장점이 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_way_5.jpg" alt="수직 절개 가슴 축소술" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">수직 절개 가슴 축소술</h4>
                                                                <p class="img-style2__txt">
                                                                    유륜 아래로 약 4~5cm 정도를 절개하여 가슴 안의 조직을 줄이는 방법입니다.
                                                                    '오'자형 절개와 유륜 주위 절개의 장단점을 보완하여 고안된 방법으로, 비교적 큰 가슴에도 시술이
                                                                    가능하며 '오'자형 절개 방식보다 흉터 걱정도 줄어듭니다. 비교적 수술 시간이 짧아 비교적 회복이
                                                                    빠르고 가슴의 형태를 잡기에도 용이하다는 장점이 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 장점-->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 가슴 축소/거상술</h3>
                        <p class="content__floor2 tit-v4">장점</p>
                        <div class="content__wrap">
                            <div class="system type-lifting">
                                <div class="system__item nth-2">
                                    <div class="system__wrap">
                                        <div class="system__area type-txt">
                                            <div class="system__outer">
                                                <div class="system__inner">
                                                    <div class="system__box">
                                                        <p class="system__txt txt-v2">
                                                            바노바기는 2000년 개원 이후 수많은 가슴 성형 경험과
                                                            그에 맞는 장비 및 기술을 갖추고 있습니다.
                                                            심도 있는 상담으로 개개인의 체형과 상태에 맞는 개선 방향을
                                                            설정하고 적절한 수술 방법을 선택하기 때문에 수술 후
                                                            만족도가 비교적 높고 재발의 가능성이 거의 없습니다.<br><br>
                                                            <strong class="color-point1">또, 보다 빠르고 정교한 수술로 조직의 손상을 예방하며
                                                            피부과와의 협진을 통한 흉터 집중 치료가 더해져 흉터가 거의
                                                            남지 않고 수술 후 회복이 비교적 빠릅니다.</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- //system__area type-txt -->
                                    </div>

                                    <div class="img-style2">
                                        <ul class="img-style2__list">
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_advantage_1.jpg" alt="효과적이면서도 아름답습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">효과적이면서도 아름답습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    가슴 축소/거상술에 대한 잘못된 인식 중 하나가 수술 후 예쁜 가슴을 기대할 수 없다는 것입니다.
                                                                    바노바기는 오랜 가슴 성형 경험을 통한 심미안으로 개개인의 체형에 맞는 적절한 수술을 진행하여
                                                                    생활의 불편함을 해소함과 동시에 당당한 아름다움을 선물합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_advantage_2.jpg" alt="흉터 걱정이 거의 없습니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">흉터 걱정이 거의 없습니다</h4>
                                                                <p class="img-style2__txt">
                                                                    절개 부위의 흉터는 그 조직의 손상이 클수록 심하게 남게 됩니다. 바노바기는 비교적 빠르고
                                                                    정교한 수술로 조직의 손상을 줄이며, 피부과와의 협진을 통한 집중 흉터 관리가 더해져 흉터가
                                                                    거의 보이지 않습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_advantage_3.jpg" alt="전신마취에도 보다 안전합니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">전신마취에도 보다 안전합니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기는 마취통증의학과 전문의가 직접 마취를 진행하며, 수술 전, 수술 중, 수술 후 모든 과정에서
                                                                    집중 모니터링을 통해 환자의 상태를 확인합니다. 때문에 안심하고 전신마취를 통해 수술을
                                                                    진행할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="img-style2__item">
                                                <div class="img-style2__wrap">
                                                    <div class="img-style2__img">
                                                        <img src="../../images/lifting/lifting/lifting_advantage_4.jpg" alt="비교적 회복이 빠릅니다" class="img-transform">
                                                    </div>
                                                    <div class="img-style2__outer">
                                                        <div class="img-style2__inner">
                                                            <div class="img-style2__box">
                                                                <h4 class="img-style2__tit">비교적 회복이 빠릅니다</h4>
                                                                <p class="img-style2__txt">
                                                                    바노바기는 가슴 축소/거상술 후 바이오포톤과 마사지 프로그램 등 적극적이고 체계적인 후 관리를
                                                                    진행하여 보다 빠른 회복과 아름다운 가슴 형태를 잡는 데 도움을 드리고 있습니다. 일반적인 경우
                                                                    하루면 퇴원이 가능하며, 약 2 ~ 4일 정도가 지나면 직장생활과 같은 일상생활까지도 가능합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- //img-style2__list -->
                                    </div><!-- //img-style2 -->
                                </div><!-- //system__item-->
                            </div><!--//system -->
                        </div><!-- //content__wrap-->
                    </div>

                    <!-- 수술결과 -->
                    <div class="content__box">
                        <h3 class="content__floor1 subtit-v1">바노바기 가슴 축소/거상술</h3>
                        <p class="content__floor2 tit-v4">수술결과</p>
                        <p class="content__txt txt-v2">
                            바노바기 가슴 축소/거상술은 수술적 방법으로 그 결과가 비교적 금방 나타납니다.<br class="hidden-m">
                            수술 후 개선된 가슴 크기를 확인할 수 있으며, 보다 체계적인 바노바기 후 관리를 통해
                            더욱 가볍고 미용적으로 만족스러운 결과를 기대할 수 있습니다.
                        </p>

                        <div class="img-style5">
                            <ul class="img-style5__list">
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/lifting/lifting/lifting_before_1.jpg" alt="수술 전" class="img-w100"/>
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/lifting/lifting/lifting_after_1.jpg" alt="수술 후 6개월" class="img-w100"/>
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style5__item">
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/lifting/lifting/lifting_before_2.jpg" alt="수술 전" class="img-w100"/>
                                            <p class="img-style5__subject">
                                                <span class="vertical">수술 전</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-style5__box">
                                        <div class="img-style5__area">
                                            <img src="../../images/lifting/lifting/lifting_after_2.jpg" alt="수술 후 6개월" class="img-w100"/>
                                            <p class="img-style5__subject type-point">
                                                <span class="vertical">수술 후 6개월</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="img-style5__noti txt-v2">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_include/_footer %>
