@charset "UTF-8";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

@import url("//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css");
// @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@font-face {
	font-family: 'NanumSquareEB';
	font-display: block;
	font-weight: 800;
	src: url('../fonts/NanumSquareEB.eot');
	src: url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NanumSquareEB.woff') format('woff'),
		 url('../fonts/NanumSquareEB.ttf') format('truetype');
}

html,body{margin:0; font-family: 'Nanum Square','Dotum','돋움', sans-serif; font-size:14px; font-weight:$regular; color:$black2; line-height:1.3; word-break:keep-all;
	&.no-scroll{position:fixed; overflow:hidden !important; width:100%; height:100%;
		.common{position:relative;}
		.footer{position:static;}
	}
}
html{height:100%;
	@media only screen and (max-width: $mobile-size) {font-size:10px;}
	@media only screen and (max-width: $iphone-size) {font-size:9px;}
}
body{position:relative; min-height:100%; padding-bottom:440px; box-sizing:border-box; /*background-color:green;*/}

//ios input 초기화
input,button {border-radius:0;-webkit-appearance:none}


.tit-v1{margin: 0;font-size: 46px;font-weight: $light;color: $black2;
    @media only screen and (max-width: $mobile-size){font-size: 2.9rem;}
}
.tit-v2{margin: 0;font-size: 20px;color: $black2;
    @media only screen and (max-width: $mobile-size){font-size: 1.5rem;}
}
.tit-v3{margin: 0;font-size: 50px;font-weight: $regular;color: #000;}

.tit-v4{margin: 0;font-size: 40px;font-weight: $regular;color: $black2; line-height:1.25;
	@media only screen and (max-width: $mobile-size){font-size: 2.1rem;}
}
.tit-v5{margin:0; font-size:30px; font-weight:$regular; color:$black2;
	@media only screen and (max-width: $mobile-size){font-size: 2.1rem;}
}
.tit-v6{margin:0; font-size:30px; font-weight:$regular; color:$black2;
	@media only screen and (max-width: $mobile-size){font-size: 1.6rem;}
}
.tit-v7{margin: 0;font-size: 16px;font-weight: $bold;color: $black2;
	@media only screen and (max-width: $mobile-size){
        font-size: 1.3rem;
    }
}

.subtit-v1{margin:0; font-size:14px; color:$black4;
	@media only screen and (max-width: $mobile-size){font-size: 1rem;}
}

.txt-v1{margin: 0;font-size: 16px;color: $black4; line-height:1.625;
    @media only screen and (max-width: $mobile-size){
        font-size: 1.3rem;
    }
}
.txt-v2{margin: 0;font-size: 16px;color: $black2; font-weight:$light; line-height:1.625;
    @media only screen and (max-width: $mobile-size){
        font-size: 1.3rem;
    }
}

.txt-v3{margin: 0; font-size: 18px; line-height:1.55;
    @media only screen and (max-width: $mobile-size){
        font-size: 1.3rem;
    }
}

.txt-v4{margin:0; font-size:24px; font-weight:$regular !important; color:#fff; line-height:1.33;
	@media only screen and (max-width: $mobile-size){font-size: 1.6rem;}
}

.f-noto{font-family:$font-Noto;}

.content{margin-top:-190px;  text-align:center;
	&__area{padding-top:120px; background-color:#fff; box-sizing:border-box;}
	&__wrap{margin-top:60px;}
	&__floor1{
		&.type-ribbon{
			&:before{display:block; width:54px; height:64px; margin:0 auto 16px; background:url('../images/common/content/ribbon.png') no-repeat center center / cover; content:'';}
		}
	}
	&__floor2{margin:14px 0 0;}
	&__txt{position:relative; margin-top:20px; padding:56px 160px 0; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; right:0; height:40px; width:1px;  margin:0 auto; background:$point3; content:'';}
		strong{font-weight:$bold;}
		&.type-nobar{margin-top:0px;
			&:before{display:none;}
		}
	}
	&__box{
		& + &{margin-top:120px;}
	}
	&__noti{margin-top:34px;}
	&__caption{padding:30px 80px; background:$point2; color:#fff; box-sizing:border-box;}
	&__video{position:relative; padding:56.25% 0 0 0;
		iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:-150px;
		&__area{padding-top:80px;}
		&__txt{padding-left:0px; padding-right:0px;}
		&__box{
			& + &{margin-top:100px;}
		}
		&__wrap{
			&.type-process{margin-top:100px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:0;
		&__area{padding-top:50px;}
		&__wrap{margin-top:30px;
			&.type-process{margin-top:50px;}
		}
		&__floor1{
			&.type-ribbon{
				&:before{ width:35px; height:42px; margin-bottom:6px;}
			}
		}
		&__floor2{margin-top:7px;}
		&__box{
			& + &{margin-top:50px;}
		}
		&__txt{margin-top:10px; padding-top:30px;
			&:before{height:20px;}
		}
		&__noti{margin-top:16px;}
		&__caption{padding:20px;}
	}
}


.container{margin-top:70px; padding-bottom:120px;
	&.type-main{margin-top:0; padding-bottom:0;}
	@media only screen and (max-width: $tablet-size) {padding-bottom:140px;
		&.type-main{margin-top:80px;}
		margin-top: 80px;
	}
	@media only screen and (max-width: $mobile-size) {padding-bottom:80px;
		&.type-main{margin-top:60px; padding-bottom:80px;}
		margin-top: 60px;
	}
}

.content-wrap{position: relative;width: 100%;max-width: 1296px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;
    @media only screen and (max-width: $tablet-size){padding: 0 45px;}
    @media only screen and (max-width: $mobile-size){padding: 0 20px;}
}

.content-visual{background: #e9eef5 url("../images/introduce/medical/medical_visual_1.jpg") center bottom/cover no-repeat;

    &__wrap{position: relative;width: 100%;max-width: 1296px;height: 768px;margin: 0 auto;padding: 0 8px;/*40.3%*/box-sizing: border-box;}
    &__box{padding-top: 192px;padding-right: 62%;}
    &__floor1{}
    &__floor2{margin-top: 30px;}
    @media only screen and (max-width: $tablet-size){
        background: #e9eef5 url("../images/introduce/medical/medical_visual_1_m.jpg") right bottom/cover no-repeat;
        &__wrap{height: 0;padding: 0 45px 96.3%;}
        &__box{padding-top: 192px;padding-right: 45%;}
    }
    @media only screen and (max-width: $mobile-size){
        &__wrap{padding-left: 20px;padding-right: 20px;}
        &__box{padding-top: 72px;padding-right: 35%;}
        &__floor2{margin-top: 14px;}
    }
}

.tab-v1{margin:0; padding:0;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:50%; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__link{border-color:#333; background-color:#333333; color:#fff;}
		}
		& + &{margin-left:-1px;}
	}
	&__link{display:table-cell; width:1%; height:36px; color:$black2; font-size:16px; border:1px solid #d7d7d7; text-decoration:none; vertical-align:middle; text-align:center;}
	&__content{display:none; overflow:auto; height:570px; margin-top:52px; padding:0 5px; box-sizing:border-box;
		&.is-active{display:block;}
	}
	@media only screen and (max-height:$minH-size) {
		&__content{height:300px;}
	}
	@media only screen and (max-width: $tablet-size) {position:fixed; left:0; right:0; padding:50px 20% 0 20%; width:100%; background-color:#fff; box-sizing:border-box; z-index:100;
		&__content{height:auto; margin-top:0; padding-top:126px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {padding:30px 40px 0 40px;
		&__link{height:30px; font-size:1.2rem;}
		&__content{padding-top:80px;}
	}
}

.color-black0{color:$black0;}
.color-black1{color:$black1;}
.color-black2{color:$black2;}
.color-black3{color:$black3;}
.color-black4{color:$black4;}

.color-point1{color:$point1}
.color-point2{color:$point2}
.color-point3{color:$point3}



.hidden-tit{overflow:hidden; width:0; height:0; font-size:0; text-indent:-9999px;}

.hidden-pm{display:none !important;}
.hidden-m{display:inline-block !important;}
.hidden-pt{display:none !important;}
.hidden-p{display:none !important;}
@media only screen and (max-width: $tablet-size) {
	.hidden-p{display:block !important;;}
	.hidden-t{display:none !important;}
	.hidden-pt{display:none !important;}
	.hidden-tm{display:none !important;}
	.hidden-pm{display:block !important;}
	.hidden-m{display:block !important;}
}
@media only screen and (max-width: $mobile-size) {
	.hidden-t{display:block !important;}
	.hidden-m{display:none !important;}
	.hidden-pt{display:block !important;}
	.hidden-pm{display:none !important;}
}
.inline-block{display:inline-block;}
.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{max-width:100%; vertical-align:middle;}
.img-w100{width:100%; vertical-align:middle;}



.btn1{display:inline-block; width:140px; color:#fff; height:40px; font-size:14px; border:1px solid #fff; vertical-align:middle; text-align:center;
	text-transform: uppercase;text-decoration:none; transition: background 0.3s, border 0.3s;
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
	&.is-active{border:1px solid $point2; background-color:$point2; }
	@media only screen and (max-width: $tablet-size) {border:1px solid $point2; background-color:$point2;}
    @media only screen and (max-width: $mobile-size) {width:130px; height:35px; font-size:1.2rem; }
}

.content-highlight{font-weight: $light;color: #fff; background-color: $point2;}
.content-highlight2{position:relative; display:inline-block; transform: translateZ(0);
	&:after{position:absolute; left:0; bottom:0; display:block; width:100%; height:20px; background:#ffebd1; content:''; z-index:-1;}
}
.vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
//top버튼
.top-btn{position:fixed; bottom:180px; right:50%; margin-right:-800px; display:none; width:78px; height:78px; border:1px solid #ddd; background:rgba(255,255,255,0.9); z-index:100;
    font-size:14px; color:$black4; text-decoration:none;  transition: all 0.3s;
    &__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
    &__wrap{position:relative; display:block; padding-top:16px; text-transform: uppercase; text-align:center;
        &:before{position:absolute; top:0; left:1px; right:0; display:block; width:12px; height:8px; margin:0 auto; background:url('../images/common/top_icon.png') no-repeat center center / contain; content:'';}
    }
    &.is-fixed{position:absolute; top:-120px; bottom:auto;}
    &.is-active{display:block;}
    @media only screen and (max-width: $minpc-size2) {right:10px; margin-right:0;
        &.is-fixed{right:10px; }
    }
    @media only screen and (max-width: $tablet-size) {bottom:40px; right:40px; margin-right:0;
        &.is-fixed{right:40px; }
    }
    @media only screen and (max-width: $mobile-size) { bottom:20px; right:20px;  width:38px; height:38px; margin-right:0; font-size:1.1rem;
        &__wrap{padding-top:8px;
            &:before{width:6px; height:4px;}
        }
        &.is-fixed{top:-60px; right:20px; }
    }
}
.container{
    &__top{padding: 110px 0 44px;box-sizing: border-box;text-align: center;
        &.type-another{padding-bottom: 0;}
    }
    &__tit{position: relative;margin: 0;font-size: 33px;font-weight: $regular;color: $black2;
        &:after{display: block;width: 18px;height: 0;margin: 22px auto 0;border-top: 1px solid $point1;content: '';}
    }

    @media only screen and (max-width: $mobile-size){
        &__top{padding-top: 70px;padding-bottom: 0;}
        &__tit{font-size: 2.6rem;
            &:after{display: block;width: 18px;height: 0;margin: 16px auto 0;border-top: 2px solid $point1;content: '';}
        }
    }
}

.content{
    &.type-another{margin-top: 100px;}

    &__wrap{
        &.type-another{margin-top:40px;}
    }

    @media only screen and (max-width: $mobile-size){
        &.type-another{margin-top: 20px;}
    }
}


.img-transform{width: 100%;height: 100%;vertical-align: middle;
    @media only screen and (max-width: $tablet-size){height: auto;}
}
