@charset "UTF-8";
@import "mixins";

.img-common{
    &__subtit{margin:0 0 10px; font-size:14px; color:$point3;
        &.type-color1{color:$point1;}
    }
    &__tit{margin:0 0 46px;color:#fff; font-weight:$regular;
        &.type-black{color:$black2;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__tit{margin-bottom: 30px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__subtit{margin-bottom:5px; font-size:1.1rem;}
        &__tit{margin:0px 0 18px; font-size:2.1rem;}
    }
}
.system{
    $this:&;
    &__item{
        &.nth-1{
            #{$this}__wrap{background:url('../images/introduce/bts/bts_bg_1.jpg') no-repeat center center / cover;}
        }
        &.nth-2{
            #{$this}__wrap{background:url('../images/introduce/bts/bts_bg_2.jpg') no-repeat center center / cover;}
        }
        &.nth-3{
            #{$this}__wrap{background:url('../images/introduce/bts/bts_bg_3.jpg') no-repeat center center / cover;}
        }
        &.nth-4{
            #{$this}__wrap{background:url('../images/introduce/bts/bts_bg_4.jpg') no-repeat center center / cover;}
        }
        &.nth-5{
            #{$this}__wrap{background:url('../images/introduce/bts/bts_bg_5.jpg') no-repeat center center / cover;}
        }
        &.nth-6{
            #{$this}__wrap{background:url('../images/introduce/bts/bts_bg_6.jpg') no-repeat center center / cover;}
        }
        & + &{margin-top:120px;}
    }
    &__wrap{position:relative; height:0; padding-top:62.5%; font-size:0;}
    &__outer{ display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; height:100%; vertical-align:middle; font-size:0;}
    &__box{display:inline-block; margin-left:80px; width:510px; padding:56px; box-sizing:border-box; background:#fff; text-align:left;}
    &__area{position:absolute; top:0; display:inline-block; width:50%; height:100%;
        &.type-txt{left:0; text-align:left;}
        &.type-dia{right:0;}
    }
    &__num,&__header{
        &:after{display:block; height:100px; width:0; margin:36px 0; border-left:1px solid $black1; content:'';}
    }
    &__num{margin:0; font-size:24px; font-weight:$bold;
    }
    &__tit{margin-bottom:24px; font-weight:$bold;}
    &__since{width:204px; margin-bottom:16px;}
    &__point{display:block; margin-bottom:10px; font-weight:bold;}
    &__txt{
        strong{font-weight:$bold;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__item{
            &.nth-1{
                #{$this}__wrap:before{background:url('../images/introduce/bts/bts_bg_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__wrap:before{background:url('../images/introduce/bts/bts_bg_2.jpg') no-repeat center center / cover;}
            }
            &.nth-3{
                #{$this}__wrap:before{background:url('../images/introduce/bts/bts_bg_3.jpg') no-repeat center center / cover;}
            }
            &.nth-4{
                #{$this}__wrap:before{background:url('../images/introduce/bts/bts_bg_4.jpg') no-repeat center center / cover;}
            }
            &.nth-5{
                #{$this}__wrap:before{background:url('../images/introduce/bts/bts_bg_5.jpg') no-repeat center center / cover;}
            }
            &.nth-6{
                #{$this}__wrap:before{background:url('../images/introduce/bts/bts_bg_6.jpg') no-repeat center center / cover;}
            }
            & + &{margin-top:100px;}
        }
        &__outer{display:block; padding: 0 40px; box-sizing:border-box;}
        &__inner{display:block;}
        &__wrap{height:auto; background:none !important; transform: translateZ(0);
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:0; padding-bottom:62.5%; z-index:-1; content:';'}
        }
        &__area{position:static; width:100%; height:auto;
            &.type-dia{
                #{$this}__outer{width:auto; padding:0; margin:0 -40px;}
            }
        }
        &__box{width:auto; margin:-40px 0 0 0; padding:40px 40px 0;}
        &__num,&__header{
            &:after{display:none;}
        }
        &__header{margin-bottom:60px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__header{margin-bottom:40px;}
        &__item{
            & + &{margin-top:50px;}
        }
        &__area{
            &.type-dia{
                #{$this}__outer{ margin:0 -10px;}
            }
        }
        &__outer{padding: 0 20px;}
        &__box{margin-top:-20px; padding:40px 20px 0;}
        &__num{margin-bottom:8px; font-size:1.3rem;}
        &__tit{margin-bottom:14px; font-size:2.1rem;
            &:after{height:16px;}
        }
        &__since{width:142px; margin-bottom:12px;}
    }
}
.img-style1{padding:80px; box-sizing:border-box; background:$point2;
    $this:&;
    &.type-four{
        #{$this}__item{width:25%;
            &:nth-child(4) ~ #{$this}__item{margin-top:20px;}
        }
    }
    &.type-five{
        #{$this}__item{width: 20%;}
    }
    &.type-cling{
        #{$this}__subtit{font-size: 18px;}
    }
    &.type-gray{background-color:#eee;
        & + &{position:relative; padding-top:80px;
            &:before{position:absolute; top:0; left:80px; right:80px; display:block; height:0; margin:0 auto; border-top:1px solid #d6d6d6; content:'';}
        }
        #{$this}__subject{height:84px; background-color:#666; color:#fff;}
    }
    & + &{padding-top: 0;}
    &__list{margin: 0 0 0 -20px; padding:0; font-size:0; }
    &__item{display:inline-block; width:33.33%; padding-left:20px; box-sizing:border-box; vertical-align:top; background-color:#fff; background-clip: content-box;}
    &__subject{display:table-cell; width:1%; height:60px; padding:0 10px; vertical-align:middle; font-size:18px; background:#fff; box-sizing:border-box;}
    &__tit{margin-bottom:8px; font-weight:$regular; color:$point3;}
    &__txt{margin-bottom:26px; color:#fff;}
    @media only screen and (max-width: $tablet-size) {padding:60px 40px; margin-top:60px;
        &.type-four, &.type-five{
            #{$this}__item{width:50%;}
        }
        &.type-cling{
            & + &{margin-top: -1px;padding-top: 0;}
        } + &{padding-top: 60px;}
        &.type-gray{
            & + &{margin-top:0;
                &:before{left:40px; right:40px;}
            }
            #{$this}__subject{height:84px; background-color:#666; color:#fff;}
        }
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {padding:40px 20px; margin-top:40px;
        &.type-gray{margin-top:0;
            & + &{padding-top:40px;
                &:before{left:20px; right:20px;}
            }
            #{$this}__subject{height:60px;}
        }
        &.type-four{
            #{$this}__item{
                &:nth-child(4) ~ #{$this}__item{margin-top:10px;}
            }
        }
        &.type-cling{
            #{$this}__subtit{font-size: 1.3rem;}
            #{$this}__tit{font-size: 1.3rem;}
        }

        & + &{padding-top: 40px;}
        &__list{margin-left: -10px; padding:0; font-size:0; }
        &__item{padding-left:10px;
            &:nth-child(2) ~ &{margin-top:10px;}
        }
        &__subject{height:40px; font-size:1.3rem; }
        &__tit{margin-bottom:5px;}
        &__txt{margin-bottom:16px;}
    }
}

.img-style2{padding: 80px;background: $point2;text-align: center;box-sizing: border-box;
    &.type-cling{margin-top:0;}
    &__list{margin: 0;padding: 0;list-style: none; text-align:left;}
    &__item{position: relative;
        & + &{margin-top: 40px;}
    }
    &__wrap{position:relative;}
    &__img{width: 360px;}
    &__outer{position:absolute; top:0; left:0; bottom:0; padding-left:360px; box-sizing:border-box;}
    &__inner{display:inline-table; width:100%; height:100%;}
    &__box{display: table-cell; padding: 0 50px;vertical-align: middle;}

    &__tit{margin: 0;font-size: 18px;font-weight: $regular;color: #ffcc8c;}
    &__txt{margin: 15px 0 0;font-size: 16px;color: #fff; line-height:1.625;}
    & + &{position:relative;
        &:before{position:absolute; top:0; left:80px; right:80px; display:block; height:0; margin:0 auto; border-top:1px solid rgba(255,255,255,0.2); content:'';}
    }
    @media only screen and (max-width: $tablet-size){
        padding: 60px 40px;margin-top:60px;
        &__item{
            & + &{margin-top: 60px;}
        }
        & + &{margin-top:-1px;
            &:before{left:40px; right:40px;}
        }
        &__wrap{padding: 0;}
        &__img{position: static;width: 100%;}
        &__box{display: block; height: auto; padding: 0;}
        &__outer{position:static; top:auto; left:auto; bottom:auto; margin-top: 40px; padding-left:0;}
        &__inner{display:block;}
    }
    @media only screen and (max-width: $mobile-size){
        padding: 40px 20px;margin-top:40px;
        & + &{
            &:before{left:20px; right:20px;}
        }
        &__item{
            & + &{margin-top: 30px;}
        }
        &__outer{margin-top: 20px;}
        &__tit{font-size: 1.4rem;}
        &__txt{font-size: 1.3rem;}
    }
}

.img-style3{padding: 80px;background: $point2;font-size: 0;text-align: center;box-sizing: border-box;
    &__wrap{position: relative;}
    &__inner{position: absolute;top: 0;left: 0;bottom: 0;width: 100%;padding-bottom: 80px;padding-right: 50.98%;box-sizing: border-box;}
    &__box{position: relative;width: 100%;height: 100%;}
    &__area{position: absolute;bottom: 0;width: 100%;margin: 0;padding-right: 50.98%;text-align: center;z-index: 30;box-sizing: border-box;}
    &__list{margin: 0;padding: 0 0 0 49.02%;list-style: none;font-size: 0;box-sizing: border-box;}
    &__item{display: inline-block;position: relative;width: 50%;padding-left: 20px;vertical-align: top;box-sizing: border-box;
        &:nth-child(2) ~ &{margin-top: 20px;}
    }
    &__img{position: relative;height: 0;padding-bottom: 67.97%;}
    &__subject{display: table-cell;width: 1%;height: 80px;margin: 0;background-color: #fff;font-size: 18px;vertical-align: middle;}

    @media only screen and (max-width: $tablet-size){
        padding: 60px 40px;margin-top:60px;
        &__inner{position: static;padding-right: 0;padding-bottom: 0;
            img{position: static;}
        }
        &__area{position: static;padding-right: 0;}
        &__list{margin: 20px 0 0 -20px;padding-left: 0;}
    }
    @media only screen and (max-width: $mobile-size){
        padding: 40px 20px;margin-top:40px;

        &__list{margin: 10px 0 0 -10px;}
        &__item{padding-left: 10px;
            &:nth-child(2) ~ &{margin-top: 10px;}
        }
        &__subject{height: 40px;font-size: 1.3rem;}
    }
}
.img-style4{padding:80px; box-sizing:border-box; background:#eee;;
    &__subtit{color:$point1;}
    &__tit{color:$black2;}
    &__list{margin: 0 0 0 -20px; padding:0; font-size:0; }
    &__item{display:inline-block; width:25%; padding-left:20px; box-sizing:border-box; vertical-align:top;
        &:nth-child(4) ~ &{margin-top:36px; }
    }
    &__caption{margin-top:16px;}
    @media only screen and (max-width: $tablet-size) {margin-top:60px; padding:60px 40px;
        &__item{width:50%;
            &:nth-child(2) ~ &,&:nth-child(4) ~ &{margin-top:18px;}
        }
        & + .type-cling{margin-top:0;}
    }
    @media only screen and (max-width: $mobile-size) {margin-top:30px; padding:40px 20px;
        &__list{margin-left:-10px;}
        &__item{padding-left:10px;}
        &__caption{margin-top:8px;}
    }
}
.img-style5{margin-top: 60px;
    $this:&;
    &__list{margin: 0;padding: 0;list-style: none;}
    &__item{margin: 0 0 0 -100px;font-size: 0;
        & + &{margin-top: 40px;}
    }
    &__box{display: inline-block;position: relative;width: 50%;padding-left: 100px;box-sizing: border-box;
        &:nth-child(2){
            &:before{content: '';position: absolute;left: 30px;top: 0;bottom: 0;width: 39px;height: 42px;margin: auto;background: url(../images/common/content/img_arrow_1.png) center center;}
        }
    }
    &__area{position: relative;width: 100%;height: 100%;}
    &__subject{position: absolute;left: 0;right: 0;bottom: 0;height: 70px;margin: auto;background-color: rgba(0, 0, 0, 0.8);font-size: 26px;color: #ffffff;
        &.type-point{background-color: rgba(241, 91, 64, 0.8);}
    }
    &__noti{margin-top:36px; color:$black3; text-align:left;}
    @media only screen and (max-width: $tablet-size){
        &__item{margin: 0;
            & + &{margin-top: 80px;}
        }
        &__box{width: 100%;padding-left: 0;
            &:nth-child(2){
                &:before{display: none;}
            }
            & + &{margin-top: 60px;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        margin-top: 40px;
        &__item{
            & + &{margin-top: 40px;}
        }
        &__box{
            & + &{margin-top: 30px;}
        }
        &__subject{height: 35px;font-size: 1.4rem;}
        &__noti{margin-top:26px; text-align:center;}
    }
}

.img-style6{margin-top: 60px;
    $this:&;
    &__tit{display: table-cell;width: 1%;height: 60px;background-color: #162035;font-size: 18px;color: #fff;vertical-align: middle;}
    &__list{margin: 0;padding: 0;list-style: none;font-size: 0;}
    &__item{display: inline-block;width: 50%;}
    @media only screen and (max-width: $mobile-size){margin-top:30px;
        &.type-m100{
            #{$this}__item{width:100%;}
        }
        &__tit{height: 30px;font-size: 1.3rem;}
    }
}
.img-style7{padding:80px; background:#eee;
    &__list{margin:0 0 0 -20px; padding:0; font-size:0;}
    &__item{display:inline-block; width:25%; padding-left:20px; list-style:none; box-sizing:border-box; vertical-align:top;}
    &__tit{margin-top:16px; font-weight:$bold;}
    &__txt{margin-top:8px; color:$black3;}
    &__box{padding:0 10px; box-sizing:border-box;}
    @media only screen and (max-width: $tablet-size){padding:60px 40px;
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
    }
    @media only screen and (max-width: $mobile-size){padding:40px 20px;
        &__tit{margin-top:8px}
        &__txt{margin-top:5px;}
        &__item{padding-left:10px;
            &:nth-child(2) ~ &{margin-top:30px;}
        }
    }
}

.img-style8{padding:80px; background:$point2;
    &__list{margin:0; padding:0;}
    &__item{list-style:none;
        & + &{margin-top:80px;}
    }
    &__wrap{position:relative;}
    &__img{position:absolute; top:50%; transform:translateY(-50%); width:250px; height:250px;}
    &__outer{padding-left:250px; box-sizing:border-box;}
    &__inner{padding:0 60px 0 50px; text-align:left;}
    &__tit{font-weight:$bold; color:$point3;}
    &__txt{margin-top:24px; color:#fff;}
    @media only screen and (max-width: $tablet-size){padding:60px 40px;
        &__outer{margin-top:30px; padding-left:0;}
        &__img{position:static; top:auto; transform: translateY(0); margin:0 auto;}
        &__inner{padding:0;}
        &__item{
            & + &{margin-top:60px;}
        }
    }
    @media only screen and (max-width: $mobile-size){padding:40px 20px;
        &__outer{margin-top:16px; padding-left:0;}
        &__img{width:125px; height:125px;}
        &__inner{padding:0;}
        &__item{
            & + &{margin-top:40px;}
        }
        &__txt{margin-top:10px;}
    }
}

.summary-box{
    &__list{margin:22px 0 0 -20px; padding:0; font-size:0;}
    &__item{display:inline-block; width:33.33%; height:70px; padding-left:20px;  list-style:none; box-sizing:border-box;}
    &__wrap{display:table-cell; width:1%; height:inherit; padding:0 6px; vertical-align:middle; background-color:#6582bf; color:#fff; text-align:center; box-sizing:border-box;}
    @media only screen and (max-width: $tablet-size){
        &__item{width:auto;
            & + &{margin-top:20px;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        &__wrap{padding:0 10px;}
        &__list{margin-top:16px;}
        &__item{height:54px;
            & + &{margin-top:15px;}
        }
    }
}

.dia{display:inline-block;
    $this:&;
    &.type-blue{
        #{$this}__item{background:url('../images/common/content/system_dia_1.png') no-repeat center center / cover;}
    }
    &.type-green{
        #{$this}__item{background:url('../images/common/content/system_dia_2.png') no-repeat center center / cover;}
    }
    &.type-brown{
        #{$this}__item{background:url('../images/common/content/system_dia_3.png') no-repeat center center / cover;}
    }
    &.type-four{display:inline-block;}
    &__list{margin:0; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{float:left; display:block; width:150px; height:150px; font-size:18px; color:#fff; list-style:none; line-height:1.5;
        & + &{margin-left:20px;}
        &:nth-child(3){clear:both; margin-left:86px;}
        &:nth-child(2) ~ &{margin-top:20px;}
    }
    @media only screen and (max-width: $tablet-size) {margin-top:60px;
        &__item{float:left; display:block; width:150px; height:150px; margin:0 5px; font-size:18px; color:#fff; list-style:none; line-height:1.5;
            & + &{margin-left:5px;}
            &:nth-child(3){clear:none; margin-left:5px;}
            &:nth-child(2) ~ &{margin-top:0px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {margin-top:40px;
        &__item{width:74px; height:74px; margin:0 3px; font-size:1.1rem;}
    }
}

.dia2{display: inline-block;margin-top: 80px;
    $this:&;

    &__list{margin: 0 -50px;padding: 0;list-style: none;font-size: 0;
        &:after{content: '';display: block;clear: both;}
    }
    &__item{display: inline-block;width: 150px;height: 150px;margin: 0 50px;padding: 0 1%;background:url('../images/common/content/system_dia_3_big.png') no-repeat center center / cover;font-size: 18px;color: #fff;box-sizing: border-box;}

    @media only screen and (max-width: $tablet-size){
        &.type-five{
            #{$this}__list{padding: 0 1%;}
        }

        &__list{margin: 0 -12px;}
        &__item{margin: 0 12px;}
    }

    @media only screen and (max-width: $mobile-size){
        margin-top: 40px;
        &__list{margin: 0 -3px;}
        &__item{width: 100px;height: 100px;margin: 3px;font-size: 1.3rem;
            &:nth-child(2) ~ &{margin-top: 6px;}
        }
    }
}

.dia3{margin-top:80px;
    $this:&;

    &__list{margin:0 -50px;padding:0; font-size:0;}
    &__item{display:inline-block; width:150px; margin:0 50px; list-style:none; vertical-align:top;
        &.nth-1{
            #{$this}__txt:before{background:url('../images/polymastia/gynecomastia/gynecomastia_dia_1.png') no-repeat center center / cover;}
        }
        &.nth-2{
            #{$this}__txt:before{background:url('../images/polymastia/gynecomastia/gynecomastia_dia_2.png') no-repeat center center / cover;}
        }
        &.nth-3{
            #{$this}__txt:before{background:url('../images/polymastia/gynecomastia/gynecomastia_dia_3.png') no-repeat center center / cover;}
        }
    }
    &__txt{margin:0 -16px;
        &:before{display:block; width:150px; height:150px; margin:0px auto 26px;  content:'';}
    }
    @media only screen and (max-width: $tablet-size){
        &__list{margin:0 -30px;}
        &__item{margin:0 30px;}
    }
    @media only screen and (max-width: $mobile-size){margin-top:40px;
        &__list{margin:0px -12px;}
        &__item{margin:0 12px; width:75px;}
        &__txt{margin:0;
            &:before{width:75px; height:75px; margin-bottom:12px;}
        }
    }
}

.operation{
    $this:&;

    &__list{margin: 0;padding: 0;list-style: none;font-size: 0;text-align: left;}
    &__item{display: inline-block;width: 16.666%;text-align: center;vertical-align: top;
        &.nth-1{ // 수술 시간
            #{$this}__tit{
                &:before{background-position: 0 0;}
            }
        }
        &.nth-2{ //마취 방법
            #{$this}__tit{
                &:before{background-position: 0 -70px;}
            }
        }
        &.nth-3{ //입원 기간
            #{$this}__tit{
                &:before{background-position: 0 -140px;}
            }
        }
        &.nth-4{ //실밥 제거
            #{$this}__tit{
                &:before{background-position: 0 -210px;}
            }
        }
        &.nth-5{ //내원 치료
            #{$this}__tit{
                &:before{background-position: 0 -280px;}
            }
        }
        &.nth-6{ //회복 과정
            #{$this}__tit{
                &:before{background-position: 0 -350px;}
            }
        }
    }
    &__tit{position: relative;
        &:before{content: '';display: block;width: 70px;height: 70px;margin:0px auto 20px;background: url(../images/common/content/info_icon.png);background-size: 70px 420px;}
    }
    &__txt{margin-top: 10px;}

    @media only screen and (max-width: $tablet-size){
        &__item{width: 33.333%;
            &:nth-child(3) ~ &{margin-top: 44px;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        &__item{
            &:nth-child(3) ~ &{margin-top: 22px;}

            &.nth-1{ // 수술 시간
                #{$this}__tit{
                    &:before{background-position: 0 0;}
                }
            }
            &.nth-2{ //마취 방법
                #{$this}__tit{
                    &:before{background-position: 0 -53px;}
                }
            }
            &.nth-3{ //압원 기간
                #{$this}__tit{
                    &:before{background-position: 0 -106px;}
                }
            }
            &.nth-4{ //실밥 제거
                #{$this}__tit{
                    &:before{background-position: 0 -159px;}
                }
            }
            &.nth-5{ //내원 치료
                #{$this}__tit{
                    &:before{background-position: 0 -212px;}
                }
            }
            &.nth-6{ //회복 과정
                #{$this}__tit{
                    &:before{background-position: 0 -265px;}
                }
            }
        }
        &__tit{
            &:before{content: '';display: block;width: 53px;height: 53px;margin:0px auto 16px;background: url(../images/common/content/info_icon.png);background-size: 53px 318px;}
        }
        &__txt{margin-top: 6px;}
    }
}

.purpose{display: inline-block;width: 670px;text-align: left;box-sizing: border-box;
    &__list{margin: -30px 0 0;padding: 0;list-style: none;counter-reset: purpose;}
    &__item{position: relative;padding: 30px 30px 30px 60px;border-bottom: 1px solid #dddddd;
        &:before{content: '0'counter(purpose);counter-increment: purpose;position: absolute;left: 0;top: 20px;width: 40px;height: 40px;background-color: #f15b40;border-radius: 40px;font-size: 16px;color:#fff;text-align: center;line-height: 40px;}
    }

    @media only screen and (max-width: $tablet-size){
        width: 100%;
    }
    @media only screen and (max-width: $mobile-size){
        &__list{margin-top: -18px;}
        &__item{padding: 18px 18px 18px 45px;
            &:before{top: 12px;width: 30px;height: 30px;font-size: 1.3rem;line-height: 30px;}
        }
    }
}


.arrow-box{
    $this:&;
    &__header{position:relative; padding:30px 40px; background:$point2;
        &:after{position:absolute; left:0; right:0; bottom:-24px; width: 0px;height: 0px; border-top:25px solid $point2; border-bottom:25px solid none; border-right: 25px solid transparent; border-left: 25px solid  transparent; margin:0 auto; content:'';}
    }
    &__tit{color:#fff;}
    &__body{padding:70px 80px; background:#eee;}
    &__floor1{margin-bottom:10px; color:$point1;}
    &__floor2{margin:0 0 46px;}
    &__txt{margin-top:46px;}
    &__list{margin:0 0 0 -20px; padding:0; font-size:0; }
    &__item{display:inline-block; width:33.33%; padding-left:20px; box-sizing:border-box; vertical-align:top;
        &:nth-child(3) ~ &{margin-top:20px;}
    }
    &__subject{display:table-cell; width:1%; height:60px; padding:0 5px; vertical-align:middle; font-size:18px; box-sizing:border-box; background:#fff; }
    &__caption{margin-bottom:74px;}
    &__wrap{padding:0 195px; box-sizing:border-box;}
    &__box{
        & + &{margin-top:70px;}
        #{$this}__floor2{margin-bottom:26px;}
        #{$this}__txt{margin-top:26px;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__body{padding:60px 40px;}
        &__floor2{margin-bottom:30px;}
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
        &__wrap{padding:0 48px;}
        &__box{
            & + &{margin-top:60px;}
        }
        &__caption{margin-bottom:60px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__header{padding:14px 20px;
            &:after{bottom:-11px; border-width:12px;}
        }
        &__body{padding:40px 20px;}
        &__floor1{margin-bottom:5px;}
        &__floor2{margin-bottom:18px;}
        &__txt{margin-top:26px;}
        &__list{margin-left:-10px; }
        &__item{padding-left:10px;
            &:nth-child(2) ~ &{margin-top:10px;}
            &:nth-child(3) ~ &{margin-top:10px;}
        }
        &__subject{height:70px; font-size:1.3rem;}
        &__caption{margin-bottom:30px;}
        &__wrap{padding:0;}
        &__box{
            & + &{margin-top:40px;}
            #{$this}__txt{margin-top:16px;}
        }
    }
}

.circle-style1{
    $this:&;
    &__list{margin:0 0 0 -20px; padding:0; font-size:0;}
    &__item{display:inline-block; width:25%; padding-left:20px; box-sizing:border-box; list-style:none; vertical-align:top;
        &.nth-1{
            #{$this}__box{background-color:#6582bf;}
        }
        &.nth-2{
            #{$this}__box{background-color:#48639c;}
        }
        &.nth-3{
            #{$this}__box{background-color:#2e4472;}
        }
        &.nth-4{
            #{$this}__box{background-color:#162035;}
        }
    }
    &__box{position:relative; width:100%; height:0; padding-bottom:100%; border-radius:50%;}
    &__outer{position:absolute; top:0; left:0; display:inline-table; width:100%; height:100%; content:'';}
    &__inner{display:table-cell; width:100%; height:0; vertical-align:middle; }
    &__tit{position:relative; margin-bottom:18px; color:#fff; font-weight:$bold;
        &:after{display:block; width:20px; height:0; margin:12px auto 0; border-top:2px solid #fff; content:'';}
    }
    &__txt{color:#fff;}
    @media only screen and (max-width: $tablet-size) {
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &__tit{margin-bottom:6px; font-size:1.8rem;
            &:after{width:10px; margin-top:6px; border-width:1px;}
        }
        &__list{margin-left:-10px;}
        &__item{padding-left:10px;
            &:nth-child(2) ~ &{margin-top:10px;}
        }
        &__inner{padding:5px 10px;}
    }
}

.circle-style2{padding:80px; background:#eee; box-sizing:border-box;
    $this:&;
    &.type-five{
        #{$this}__item{width:20%;
            &:nth-child(4) ~ #{$this}__item{margin-top:0;}
        }
    }
    & + &{position:relative;
        &:before{position:absolute; top:0; left:80px; right:80px; display:block; height:0; margin:0 auto; border-top:1px solid #ddd; content:'';}
    }
    &__list{margin:0 0 0 -20px; padding:0; font-size:0;}
    &__item{display:inline-block; width:25%; padding-left:20px; box-sizing:border-box; vertical-align:top;
        &.nth-1{
            #{$this}__box{background:url('../images/introduce/program/program_circle_1.png') no-repeat center center / cover;}
        }
        &.nth-2{
            #{$this}__box{background:url('../images/introduce/program/program_circle_2.png') no-repeat center center / cover;}
        }
        &.nth-3{
            #{$this}__box{background:url('../images/introduce/program/program_circle_3.png') no-repeat center center / cover;}
        }
        &.nth-4{
            #{$this}__box{background:url('../images/introduce/program/program_circle_4.png') no-repeat center center / cover;}
        }
        &.nth-5{
            #{$this}__box{background:url('../images/introduce/program/program_circle_5.png') no-repeat center center / cover;}
        }
        &.nth-6{
            #{$this}__box{background:url('../images/introduce/program/program_circle_6.png') no-repeat center center / cover;}
        }
        &.nth-7{
            #{$this}__box{background:url('../images/introduce/program/program_circle_7.png') no-repeat center center / cover;}
        }
        &:nth-child(4) ~ &{margin-top:40px;}
    }
    &__box{position:relative; width:100%; height:0; padding-bottom:100%;}
    &__outer{position:absolute; top:0; left:0; display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; height:100%; vertical-align:middle; color:#eee;}
    @media only screen and (max-width: $tablet-size) {margin-top:60px; padding:60px 40px;
        &.type-cling{margin-top:0;}
        &__item{width:50%;
            &:nth-child(2) ~ &,&:nth-child(4) ~ &{margin-top:20px;}
        }
        & + &{margin-top:-1px;
            &:before{left:40px; right:40px;}
        }
        &.type-five{padding-left:60px; padding-right:60px;
            #{$this}__list{margin-left:-30px;}
            #{$this}__item{width:50%; padding-left:30px;
                &:nth-child(2) ~ #{$this}__item,&:nth-child(4) ~ #{$this}__item{margin-top:30px;}
            }
        }
    }
    @media only screen and (max-width: $mobile-size) {margin-top:40px; padding:40px 20px;
        &__list{margin-left:-10px;}
        &__item{padding-left:10px;
            &:nth-child(2) ~ &,&:nth-child(4) ~ &{margin-top:10px;}
        }
        & + &{margin-top:-1px;
            &:before{left:20px; right:20px;}
        }
        &.type-five{padding-left:50px; padding-right:50px;
            #{$this}__list{margin-left:-20px;}
            #{$this}__item{padding-left:20px;
                &:nth-child(2) ~ #{$this}__item,&:nth-child(4) ~ #{$this}__item{margin-top:20px;}
            }
        }
    }
}


.content-video{text-align:center;
    &__tit{margin:0; font-size:30px; font-weight:$regular;}
    &__subtit{margin:16px 0 0 0; font-size:14px; color:$point1;}
    &__wrap{position:relative; margin:36px auto 0; padding-right:454px; box-sizing:border-box;}
    &__area{position:relative; width:100%; height:0; padding-bottom:56.25%;}
    &__iframe{position:absolute; top:0; left:0; width:100%; height:100%; border:none;}
    &__box{position:absolute; top:0; right:0; width:454px; padding-left:80px; box-sizing:border-box;}
    &__list{margin:0; padding:0;}
    &__item{list-style:none; border-bottom:1px solid #ddd;  font-size:18px;  color:$black4;
        &:first-child{border-top:1px solid #ddd;}
        &.is-active{background-color:$point2; color:$point3;}
    }
    &__link{display:block; width:auto; height:60px; color:inherit;
        &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        span{display:inline-block; vertical-align:middle;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__wrap{padding-right:0;}
        &__box{position:static; top:auto; right:auto; width:auto; margin-top:40px; padding-left:0;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__tit{font-size:2.1rem;}
        &__subtit{margin-top:7px; font-size:1.1rem;}
        &__wrap{margin-top:24px;}
        &__box{margin-top:20px;}
        &__item{font-size:1.3rem;}
        &__link{height:40px;}
    }
}


.pattern{font-size:0;
    &:after{display:block; clear:both; content:'';}
    &__list{float:left; display:inline-block; margin:0; padding:0; width:50%; vertical-align:top;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{float:left; display:inline-block; width:50%; list-style:none; vertical-align:top;
        &.type-big{width:100%;}
    }
    &__img{position:relative; width:100%; height:0; padding-bottom:62.5%; list-style:none;}
    @media only screen and (max-width: $tablet-size) {
        &__list{width:100%;}
    }
}

.content-slider{background-color:#eee; padding:80px;
    $this:&;
    &__box{position:relative; padding:0 130px; box-sizing:border-box;}
    &__subtit{margin-bottom:18px; color:$black3;}
    &__txt{position:relative;
        &:before{display:block; width:1px; height:20px; margin:10px auto; background-color:#babdc2; transform: rotate(45deg); content:'';}
    }
    &__list{margin:0; padding:0; font-size:0;}
    &__item{padding:0 10px; box-sizing:border-box; list-style:none;}
    &__list2{margin:54px 0 0 -20px; padding:0; text-align:center; font-size:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item2{display:inline-block; width:33.33%; padding-left:20px; list-style:none; box-sizing:border-box; vertical-align:top;}
    &__btn{overflow:hidden; position:absolute; top:280px; display:block; width:60px; height:60px; text-indent:-9999px; transition:all 0.3s;
        &.type-prev{left:0; background:url('../images/common/content/slider_prev_off.png') no-repeat center center / cover;}
        &.type-next{right:0; background:url('../images/common/content/slider_next_off.png') no-repeat center center / cover;}
        &.is-active{
            &.type-prev{background:url('../images/common/content/slider_prev_on.png') no-repeat center center / cover;}
            &.type-next{background:url('../images/common/content/slider_next_on.png') no-repeat center center / cover;}
        }
    }
    &__tit2{margin-top:16px;}
    &__txt2{margin-top:2px;}
    &__page{padding:0; margin:0; margin-top:60px; font-size:0;
        li{display:inline-block; list-style:none;
            & + li{margin-left:10px;}
            &.slick-active{
                #{$this}__link{background:$point1;}
            }
        }
    }
    &__caption{margin-top:16px; font-weight:$light; color:$black3;}
    &__link{overflow:hidden; display:block; width:8px; height:8px; text-indent:-9999px; background:#bbb; border-radius:50%; border:none;}
    &__img{display:inline-block; margin-top:54px;}
    @media only screen and (max-width: $tablet-size) {padding:60px 40px;
        &__box{padding:0;}
        &__tit{padding:0 60px; box-sizing:border-box;}
        &__list2,&__img{margin-top:30px;}
        &__page{margin-top:30px;}
        &__btn{top:38px;}
    }
    @media only screen and (max-width: $mobile-size) {padding:40px 20px;
        &__subtit{padding:0 30px; margin-bottom:8px;}
        &__tit{padding:0 30px; box-sizing:border-box;}
        &__item{padding:0 5px;}
        &__list2{margin:22px 0 0 -10px; }
        &__img{margin-top:22px;}
        &__item2{width:50%; padding-left:10px; box-sizing:border-box;
            &:nth-child(2) ~ &{margin-top:30px;}
        }
        &__btn{width:30px; height:30px; top:24px;
            &.type-prev{left:0; background:url('../images/common/content/slider_prev_on.png') no-repeat center center / cover;}
            &.type-next{right:0; background:url('../images/common/content/slider_next_on.png') no-repeat center center / cover;}
        }
        &__txt{margin-top:16px;
            &:before{display:none;}
        }
    }
}

.slider-circle{margin-top:54px;
    $this:&;
    &__list{margin:0 0 0 -10px; padding:0; font-size:0;}
    &__item{display:inline-block; width:25%; padding-left:10px; box-sizing:border-box; vertical-align:top;
        &.nth-1{
            #{$this}__box{background:url('../images/augmentation/cell/cell_circle_1.png') no-repeat center center / cover;}
        }
        &.nth-2{
            #{$this}__box{background:url('../images/augmentation/cell/cell_circle_2.png') no-repeat center center / cover;}
        }
        &.nth-3{
            #{$this}__box{background:url('../images/augmentation/cell/cell_circle_3.png') no-repeat center center / cover;}
        }
        &.nth-4{
            #{$this}__box{background:url('../images/augmentation/cell/cell_circle_4.png') no-repeat center center / cover;}
        }
    }
    &__box{position:relative; width:100%; height:0; padding-bottom:100%;}
    &__outer{position:absolute; top:0; left:0; display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; height:100%; vertical-align:middle; color:#fff;}
    @media only screen and (max-width: $tablet-size) {margin-top:30px; padding:0 60px;
        &__list{margin-left:-20px;}
        &__item{width:50%; padding-left:20px;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {margin-top:22px; padding:0px 30px;
        &__list{margin-left:-10px;}
        &__item{padding-left:10px;
            &:nth-child(2) ~ &{margin-top:10px;}
        }
    }
}
