@charset "UTF-8";
@import "mixins";
.counsel{position:fixed; left:0; right:0; bottom:0; background:$point2; z-index:120;
	&__tit{position:absolute; top:8px;  margin:0; font-size:34px; color:#fff; font-weight:$light;}
	&__point{display:block; font-size:14px; color:$point3;}
	&__area{padding:10px 200px 10px 156px; box-sizing:border-box;}
	&__list{margin:0 0 0 -10px;; padding:0; font-size:0;}
	&__item{display:inline-block; width:27%; padding-left:10px; box-sizing:border-box; list-style:none; vertical-align: top;
		&.type-content{width:46%;}
	}
	&__wrap{position:relative;}
	&__txt{display:inline-block; margin:8px 0 0 8px; font-size:12px; color:#fff; vertical-align:middle;
		&:first-of-type{margin-left:0;}
	}
	&__link{margin-left:5px; text-decoration:none; color:inherit;}
	&__btn{position:absolute; top:10px;  right:8px; display:block; width:180px; height:54px;  font-size:17px; color:$black1; border:1px solid #ddd; transition:background 0.3s, border 0.3s;
		box-sizing:border-box; vertical-align:middle; text-align:center; text-transform: uppercase;text-decoration:none; background:none; cursor:pointer; outline:none;
	    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{display:inline-block; vertical-align:middle;}
		&.is-active{background-color:$point1; border-color:$point1; color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {bottom:-285px; transition: bottom 0.5s;
		&.is-active{bottom:0 !important;}
		&__wrap{padding:40px 0;}
		&__tit{top:-42px; left:0; right:0; width:180px; height:42px; margin:0 auto; line-height:42px; font-size:20px; background:$point1; text-align:center; border-radius:10px 10px 0 0; cursor:pointer;}
		&__icon{position:relative; padding-left:34px; box-sizing:border-box;
			&:before{position:absolute; top:0; left:0; bottom:0; display:block; width:24px; height:21px; background:url('../images/common/counsel_icon.jpg') no-repeat center center / contain; content:'';}
		}
		&__point{display:none;}
		&__area{padding:0;}
		&__list{margin:0 0 0 -20px;}
		&__item{padding-left:20px; width:50%;
			&.type-content{width:100%; margin-top:20px;}
		}
		&__txt{font-size:14px;}
		&__btn{position:static; width:100%; margin-top:20px; }
	}
	@media only screen and (max-width: $mobile-size) {bottom:-245px;
		&__wrap{padding:35px 0;}
		&__tit{top:-50px; left:0; right:0; width:140px; height:50px; margin:0 auto; line-height:50px; font-size:1.6rem; border-radius:5px 5px 0 0;}
		&__icon{padding-left:24px;
			&:before{top:1px; width:17px; height:15px;}
		}
		&__list{margin:0 0 0 -10px;}
		&__item{padding-left:10px;
			&.type-content{margin-top:10px;}
		}
		&__txt{display:block; margin-left:0; font-size:1.1rem;}
		&__btn{height:60px; font-size:1.6rem;}
	}
}

.input1{width:100%; height:30px; padding:0 20px; background:#777; line-height:30px; border:none; color:#fff; box-sizing:border-box; outline:0; font-size:14px;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #fff;}
	&::-moz-placeholder { /* Firefox 19+ */  color: #fff;}
	&:-ms-input-placeholder { /* IE 10+ */ color: #fff;}
	&:-moz-placeholder { /* Firefox 18- */ color: #fff;}
	@media only screen and (max-width: $tablet-size) {height:40px; line-height:40px;}
	@media only screen and (max-width: $mobile-size) {height:30px; line-height:30px; padding:0 15px; font-size:1.3rem;}
}

.checkbox01 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
	& + label { position: relative; height: 12px; line-height: 12px; color:$black1; margin-left: 0; padding-left: 20px; cursor: pointer;
		&:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 12px; height: 12px; margin: auto; background-color: $point1; content: ''; cursor: pointer; }
	}
	&:checked + label:after { position: absolute; top: -1px; left: 2px; bottom: 0; width: 6px; height: 2px; margin: auto;
		border-left: 2px solid #fff; border-bottom: 2px solid #fff; -webkit-transform: rotate(-48deg); -ms-transform: rotate(-48deg); transform: rotate(-48deg); background-repeat: no-repeat; cursor: pointer; content: '';
	}
	@media only screen and (max-width: $tablet-size) {
		& + label {height: 14px; line-height: 14px; padding-left: 20px;
			&:before {width: 14px; height: 14px;  }
		}
		&:checked + label:after {top: -3px; left: 2px; bottom: 0; width: 6px; height: 2px; }
	}
	@media only screen and (max-width: $mobile-size) {
		& + label {height: 16px; line-height: 16px;
			&:before {width: 16px; height: 16px;  }
		}
		&:checked + label:after {left: 3px; width: 8px; height: 3px; }
	}
}

label.error{display:block; margin-top:5px; font-size:12px; color:$point1; text-align:left;}
