@charset "UTF-8";
@import "mixins";
// body{background:green;}
.header{position:fixed; top:0; left:0; right:0; height:70px; padding:0 4.1%; box-shadow: 0px -1px 0px 0px #ddd inset;  box-sizing:border-box; background-color:#fff; z-index:140;
    background-color:#fff; transition:background-color,0.3s;
    $this:&;
    &__logo{overflow:hidden; position:absolute; top:24px; left:0; width:242px; height:24px; background:url('../images/common/logo.png') no-repeat center center / cover; text-indent:-9999px;
        transition: all 0.3s;
    }
    &__wrap{position:relative; height:inherit;}
    &__outer{width:100%; height:inherit; max-width:1460px; margin:0px auto; padding-left:160px; text-align:center; box-sizing:border-box;}
    &__inner{height:inherit;}
    &.type-main{background-color:rgba(255,255,255,0.15);
        .gnb__depth1-link{color:#fff;}
        .global__box{
            .global__link{color:$black1;
                span:after{background:url('../images/common/global_icon_on.png') no-repeat center center / contain};
            }
        }
        #{$this}__logo{background:url('../images/common/logo_white.png') no-repeat center center / cover;}
    }
    &__phone{display:none;}
    @media only screen and (max-width: $minpc-size2) {
        &__outer{padding-left:250px;}
    }
    @media only screen and (max-width: $tablet-size) {height:80px; padding:0 20px; background-color:#fff; text-align:center;
        &.type-main{background-color:#fff;
            .gnb__depth1-link{color:$point2;}
        }
        &.is-open{
            &:before{position:fixed; top:80px; bottom:0; left:0; right:0; background-color:rgba(0,0,0,0.7); content:'';}
            #{$this}__outer{left:0;}
        }
        &__logo{left:0; right:0; top:0; bottom:0; width:266px; height:26px; margin:auto; background:url('../images/common/logo_t.png') no-repeat center center / contain !important;}
        &__outer{position:fixed; left:-100%; bottom:0; height:calc(100% - 80px); width:100%; max-width:100%; padding:0px 166px 0 0;  z-index:50; transition: left 0.5s;}
        &__inner{overflow:auto; height:100%; background-color:#eee;}
        &__phone{position:absolute; top:0; bottom:0; right:0; display:block; width:24px; height:24px; margin:auto 0;
            img{width:100%;}
        }
    }
    @media only screen and (max-width: $mobile-size) {height:60px;
        &.is-open:before{top:60px;}
        &__logo{width:169px; height:17px;}
        &__phone{width:19px; height:19px;}
        &__outer{height:calc(100% - 60px); padding-right:60px;}
    }
}
.gnb{height:inherit;
    $this:&;
    &__depth1-list{height:inherit; margin:0; padding:0; font-size:0;}
    &__depth1-item{position: relative; display:inline-block; height:inherit; list-style:none;
        & + &{margin-left:4.6%;}
        &.is-active{
            #{$this}__depth1-link{color:$point1;}
            #{$this}__depth2-list{height:auto; padding:25px 0;
                &:after{width:100%;}
            }
        }
    }
    &__depth1-link{display:table-cell; height:inherit; font-size:16px; color:$black2; text-decoration:none; vertical-align:middle;}
    &__depth2-list{overflow:hidden; position:absolute; left:50%; -ms-transform:translate(-50%);transform:translate(-50%);transform:translateX(-50%);  height:0; margin:0; padding:0; box-sizing:border-box; background-color:rgba(22,32,53,0.8);
        &:after{position:absolute; left:0; right:0; top:-1px; display:block; width:0; height:0; margin:auto; transition:width 0.2s; border-bottom:3px solid $point1; content:'';}
    }
    &__depth2-link{display:block; padding:15px 30px; font-size:14px; color:#fff; text-decoration:none; white-space:nowrap;
        &.is-active{color:$point3;}
    }
    @media only screen and (max-width: $minpc-size2) {
        &__depth1-item{
            & + &{margin-left:2%;}
        }
        &__depth1-link{font-size:14px;}
        &__depth2-link{font-size:13px;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__depth1-list{height:auto; background-color:#fff;}
        &__depth1-item{display:block; height:auto; border-bottom:1px solid #ddd; text-align:left;
            & + &{margin-left:0;}
            &.is-active{
                #{$this}__depth1-link{color:inherit;
                    &.type-2depth:after{transform: rotate(-180deg);}
                }
                #{$this}__depth2-list{height:auto; padding:15px 0;}
            }
        }
        &__depth1-link{position:relative; display:block; height:auto; padding:20px 50px; font-size:20px; color:$black2;
            &.type-2depth{
                &:after{position:absolute; top:0; bottom:0; right:50px; display:block; width:14px; height:8px; margin:auto 0; background:url('../images/common/gnb_icon.png') no-repeat center center / contain; content:'';}
            }
        }
        &__depth2-list{overflow:visible; position:static; left:auto; transform:none;  display:none; height:auto; background-color:$point2;
            &:after{display:none;}
        }
        &__depth2-link{padding:15px 50px; font-size:18px; color:#fff;}
        &__bottom{padding:40px 50px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__depth1-item{
            &.is-active{
                #{$this}__depth2-list{padding:11px 0;}
            }
        }
        &__depth1-link{padding:18px 25px; font-size:1.5rem;
            &.type-2depth{
                &:after{right:25px; width:7px; height:4px;}
            }
        }
        &__depth2-list{padding:11px 0;}
        &__depth2-link{padding:11px 25px; font-size:1.3rem;}
        &__bottom{padding:20px 25px;}
    }
}

.global{position:absolute; top:0; bottom:0; right:0; width:80px; height:22px; margin:auto 0; font-size:14px; color:$black1;
    $this:&;
    &.is-active{
        #{$this}__list{display:block;}
        #{$this}__box{border:1px solid #ddd;
            #{$this}__link{color:$black3;
                span{
                    &:after{transform: rotate(-180deg);}
                }
            }
        }
    }
    &__list{display:none;  margin:0; padding:0;}
    &__item{height:22px; list-style:none; background-color:#ddd; border:1px solid #ddd;}
    &__link{display:block; height:inherit; text-decoration:none; color:$black4;
        &.is-active{color:$black3;}
    }
    &__wrap{position:relative; display:inline-block; height:100%; padding-right:20px; box-sizing:border-box; vertical-align:middle;
    	&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
    }
    &__box{height:inherit; border:1px solid #ddd;
        #{$this}__link{color:$black2;
            span{
                &:after{position:absolute; top:0; right:0; bottom:0; display:block; width:5px; height:3px; margin:auto 0; background:url('../images/common/global_icon_off.png') no-repeat center center / contain;
                    content:'';
                }
            }
        }
    }
    @media only screen and (max-width: $minpc-size2) {display:none;}
    @media only screen and (max-width: $tablet-size) {position:static; display:block;margin-top:20px; width:auto; height:auto; text-align:left; font-size:18px;
        &__box{ height:50px; background-color:#fff;
            #{$this}__link{
                span:after{ width:14px; height:8px;background:url('../images/common/gnb_icon.png') no-repeat center center / contain !important;
                }
            }
        }
        &__wrap{display:block; padding-right:0;}
        &__item{height:50px;}
        &__link{padding:0 30px; box-sizing:border-box; }
    }
    @media only screen and (max-width: $mobile-size) {margin-top:10px; font-size:1.3rem;
        &__box{ height:30px;
            #{$this}__link{
                span:after{ width:7px; height:4px;
                }
            }
        }
        &__item{height:30px;}
        &__link{padding:0 15px; }
    }
}

.tel{display:none;
    @media only screen and (max-width: $tablet-size) {display:block;
        &__box{display:block; padding:30px 10px; background-color:$point1; font-size:20px; color:#fff; box-sizing:border-box; text-decoration:none;}
        &__middle{position:relative; vertical-align:middle;
            &.type-phone{padding-left:30px; font-size:36px;
                &:before{position:absolute; top:0; bottom:0; left:0; display:block; width:22px; height:22px; margin:auto 0;  content:''; background:url('../images/common/gnb_phone.png') no-repeat center center / contain;}
            }
            & + &{margin-left:30px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &__box{padding:20px 5px; font-size:1.3rem;}
        &__middle{
            &.type-phone{padding-left:15px; font-size:2rem;
                &:before{width:11px; height:11px;}
            }
            & + &{margin-left:10px;}
        }
    }
}


.mobile-menu{display:none; position:absolute; bottom:0; left:0; width:30px; height:inherit; text-align: center; box-sizing:border-box; z-index:50; cursor:pointer;
	$this:&;
	&__wrap{position:relative; display:block; width:100%; height:100%;}
	&__line{position:absolute; top:0; left:0; right:0; bottom:0; display:block; height:0px; width:100%; border-top:1px solid #444; margin:auto; transition: all linear 0.2s;
		&:before{position:absolute; top:-8px; left:0; width:100%; height:0px; border-top:1px solid #444; transition: all linear 0.2s; content:'';}
		&:after{position:absolute; bottom:-7px; left:0; width:20px; height:0px; border-top:1px solid #444; transition: all linear 0.2s; content:'';}
	}
	@media only screen and (max-width:$tablet-size){display:block;
		&.is-active{
			#{$this}__line{background: transparent; border-top-color:transparent;
				-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;
				&:before{visibility: visible;top: 0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
				&:after{width:100%; visibility: visible;top: 0;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
			}
		}

	}
	@media only screen and (max-width:$mobile-size){width:22px;
		&__tel{position:absolute; right:30px; overflow:hidden; display:block; width:30px; height:100%; background:url('../images/common/phone_m.png') no-repeat center center / 14px 14px; text-indent:-9999px;}
		&__line{border-top-width:1px;
			&:before{position:absolute; top:-8px; border-top-width:1px;}
			&:after{position:absolute; bottom:-7px; border-top-width:1px;}
		}
	}
}

.footer{position:absolute; left:0; right:0; bottom:0; border-top:1px solid #ddd; background-color:#fff; text-align:center;
	$this:&;
	&__wrap{padding:80px 0 200px;}
	&__logo{margin:0 auto;
		img{margin:0px auto;border: 0;}
	}
	&__list{margin:0; padding:0; font-size:0;
		&:first-of-type{margin-top:30px;}
	}
	&__item{position:relative; display:inline-block; margin-top:10px; list-style:none; font-size:14px; color:$black3; box-sizing:border-box;
		& + &{margin-left:10px; padding-left:10px;
			&:before{position:absolute; top:0; bottom:0; left:0; display:block; height:13px; width:0; margin:auto 0; border-left:1px solid #ebebeb; content:'';}
		}
	}
	&__link{text-decoration:none; color:inherit;}
	&__list2{margin:28px 0 0 0; padding:0;font-size:0;}
	&__item2{display:inline-block; list-style:none;
		& + &{margin-left:20px;}
	}
	&__link2{display:block; width:84px; height:24px; font-size:14px; color:$black3; border:1px solid $black3; text-decoration:none; vertical-align:middle; box-sizing:border-box;
		& span{display:inline-block; height:100%; vertical-align:middle;
			&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
		}
	}
    @media only screen and (max-width: $tablet-size) {
        &__wrap{padding:80px 0;}
    }
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:40px 0 80px;}
		&__logo{width:201px; margin:0px auto;
			img{width:100%;}
		}
		&__list{
			&:first-of-type{margin-top:20px;}
		}
		&__item{margin-top:6px; font-size:1.2rem;
			&:nth-child(3){margin-left:0; padding-left:0;
				&:before{display:none;}
			}
		}
		&__list2{margin:20px 0 0 -10px;}
		&__item2{width:33.33%; padding-left:10px; box-sizing:border-box;
			& + &{margin-left:0;}
		}
		&__link2{width:100%; height:26px; font-size:1.2rem; border-radius:6px;}
	}
}
