@charset "UTF-8";
@import "mixins";

.lnb{position: relative;border-bottom: 1px solid #ddd;z-index: 10;box-sizing: border-box;
    $this:&;
    &.is-active{
        #{$this}__caret{transform: rotate(-180deg);}
    }

    &__wrap{width: 100%;max-width: 1600px;margin: 0 auto;padding: 0 160px;box-sizing: border-box;}
    &__list{margin: 0;padding: 0;list-style: none;font-size: 0;}
    &__item{display: inline-block;position: relative;box-sizing: border-box;
        &.type-home{position: absolute;top: 0;bottom: 0;margin: auto;text-indent: -9999px;background: url(../images/common/lnb_home.png) center center/contain no-repeat;overflow: hidden;z-index: 20;
            #{$this}__link{width: 17px;}
        }
        &.is-active{
            #{$this}__link{color: $point1;}
        }
        &.type-1depth{position: relative;padding-left: 44px;padding-right: 78px;
            // &:before{content: '';position: absolute;right: 0;width: 14px;height: 60px;background: url(../../images/common/lnb_separation.png) center center no-repeat;}
            // &:before{content: '';display: block;position: absolute;right: 0;top: 14px;width: 36px;border-bottom: 1px solid #ddd;transform:rotate(65deg);}
            // &:after{content: '';display: block;position: absolute;right: 0;bottom: 13px;width: 36px;border-bottom: 1px solid #ddd;transform:rotate(-65deg);}
        }
        &.type-2depth{
            &:before{content: '';position: absolute;top: 0;bottom: 0;width: 14px;height: 50px;margin: auto;background: url(../images/common/lnb_separation.png) center center/contain no-repeat;}
            #{$this}__link{padding-left: 44px;padding-right: 185px;}
        }
    }
    &__link{display: block;position: relative;font-size: 16px;color: $black3;text-decoration: none;vertical-align: middle;line-height: 50px;}
    &__caret{display: inline-block;position: absolute;top: 0;bottom: 0;right: 0;width: 17px;height: 17px;margin: auto;background: url(../images/common/lnb_caret.png) center center/contain no-repeat;vertical-align: middle;}
    &__2depth-list{display: none;position: absolute;left: 0;margin: 0;padding: 0;list-style: none;border-top: 1px solid #ddd;
        &.is-active{display: block;}
    }
    &__2depth-item{width: 330px;background-color: #fff;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;box-sizing: border-box;
        &.is-active{background-color: #f15b40;border-left: 0;border-right: 0;
            #{$this}__2depth-link{color: #fff;}
        }
    }
    &__2depth-link{display: block;padding: 15px 50px;font-size: 14px;color: $black3;text-decoration: none;}

    &__btn{position: absolute;top: 50%;font-size: 13px;color: $black3;text-decoration: none;transform: translateY(-50%);
        span{position:relative; display:block;
            &:before,&:after{position:absolute; content:'';}
            &:before{bottom:2px; width:50px; height:0; border-bottom:1px solid #b2b2b2;}
            &:after{bottom:1px; width:0; height:8px; border-left:1px solid #b2b2b2;}
        }

        &.type-prev{left: 3%;
            span{padding-left:60px;
                &:before{left:0;}
                &:after{left:2px; transform:rotate(45deg);}
            }
        }
        &.type-next{right: 3%;
            span{padding-right:60px;
                &:before{right:0;}
                &:after{right:2px; transform:rotate(-45deg);}
            }
        }
    }

    @media only screen and (max-width: $tablet-size){
        &__wrap{padding: 0 40px;}
        &__btn{display: none;}
    }
    @media only screen and (max-width: $mobile-size){
        &__wrap{padding: 0;}
        &__item{width: 50%;
            &.type-home{width: auto;left: 16px;
                #{$this}__link{width: 14px;line-height: 38px;}
            }
            &.type-1depth{padding-right: 0;}
            &.type-2depth{
                &:before{width: 7px;height: 38px;}
                #{$this}__link{padding-left: 16px;padding-right: 0;}
            }
        }
        &__link{height: 38px;font-size: 1.3rem;line-height: 38px;}
        &__caret{right: 16px;}
        &__2depth-list{width: 100%;left: auto;right: 0;}
        &__2depth-item{width: 100%;border-right: 0;}
        &__2depth-link{padding: 12px 19px;font-size: 1.2rem;}
    }
}
