@charset "UTF-8";
@import "mixins";
.popup-t{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:150; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    &__wrap{position:relative; display:inline-block; width:480px; padding:30px; vertical-align:middle; box-sizing:border-box; background-color:#fff; text-align:center;}
    &__tit{margin:16px 0 0 0; font-size:20px; text-align:left;
		&:first-of-type{margin-top:0;}
	}
    &__scroll{overflow:auto; height:120px; margin-top:16px; padding:18px 0px 18px 18px ; border:1px solid #ddd; background:#fcfcfc; font-size:14px; line-height:1.7; box-sizing:border-box; text-align:left;
        h1,h2,h3,h4,h5,p{margin:0;}
    }
    &__btn{display:inline-block; width:180px; color:#fff; height:60px; margin-top:20px; font-size:18px; vertical-align:middle; text-align:center; background:$point1;
    	text-decoration:none;
        &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        span{display:inline-block; vertical-align:middle;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__wrap{width:90vw; padding:20px;}
        &__tit{margin-top: 10px; font-size:1.6rem;}
        &__scroll{height:90px; margin-top:10px; padding:10px 0px 10px 10px ;font-size:1.3rem;}
        &__btn{display:block; width:auto; margin-top:10px;}
    }
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:$point1;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color:$point1; }
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color:$point1;}


.popup-m{position:absolute; top:9.4%; left:155px; z-index:104; font-size:0; transition: all 0.5s; opacity:0; display:none;
	$this:&;
	&.is-active{display:block; opacity:1; vertical-align:middle;
		#{$this}__img{display:block; max-width:400px; margin:0 auto;}
		#{$this}__bottom{max-width:400px;}
	}
	&__img{max-width:0; width:100%; transition: all 0.5s; background-color:#dca199;}
	&__wrap{text-align:center;}
	&__box{position:relative;}
	&__link{position:absolute; top:0; right:8.5%; width:48.25%; height:100%;}
	&__close{position:relative; line-height:40px; font-size:12px; color:#fff; text-decoration:none;
		&.type-left{float:left;}
		&.type-right{float:right; padding-right:14px;
			&:before,&:after{display:block; position:absolute; top:0; right:0; bottom:0; margin:auto; transform: rotate(45deg);content:'';}
			&:before{right:5px; width:0;height:11px; border-left:1px solid #fff;}
			&:after{ width:11px; height:0; border-top:1px solid #fff;}
		}
	}
	&__bottom{overflow:hidden; display:block; max-width:0; height:40px; margin:0 auto; padding:0 20px; background:#000000;  text-align:center; box-sizing:border-box; transition:all 0.5s;}
	@media only screen and (max-width: $tablet-size) {position:fixed; top:0; left:0; width:100%; height:100%; z-index:140; background:rgba(0,0,0,0.6);
		&.type-second{left:0; z-index:120;}
		&.type-third{top:0; left:0; z-index:115;}
		&__wrap{position:absolute; top:50%; width:100%; transform: translateY(-50%);  padding:0 10.9%; box-sizing:border-box; }
		&__box{margin:-1px 0;}
	}
	@media only screen and (max-width: $mobile-size) {background-color:rgba(0,0,0,0.6);
		&__bottom{height:26px; padding:0 10px;}
		&__link{right:7%; width:50%;}
		&__close{line-height:26px;  font-size:1.1rem;
			&.type-right{
				&:before{right:4px; height:9px;}
				&:after{ width:9px;}
			}
		}
	}
}




//가슴검진팝업 시작
.chset-tag{position:fixed; top:50%; left:0; display:block; z-index:104; transform:translateY(-50%);
	@media only screen and (max-width:$mobile-size){
		img{width:26px;}
	}
}

.chest-popup{position:fixed; top:50%; left:-405px; width:405px; z-index:105; transform:translateY(-50%); transition: left 0.5s;
	&.is-active{left:0;}
	&__wrap{position:relative;}
	&__btn{position:absolute; top:0; right:8.39%; display:block; overflow:hidden; width:47.9%; height:100%; margin:0 auto; font-size:0; z-index:10;}
	&__close{position:absolute; top:0; right:0; display:block; overflow:hidden; width:50px; height:50px; margin:0 auto; font-size:0; z-index:10;}
	&__over{opacity:0; position:absolute; top:0; left:0;
		&.is-active{opacity:1;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:25px; width:100%; left:-100%; padding-right:10%; box-sizing:border-box;
		&__btn{width:50%; right:7.4%;}
		&__close{padding-right:10%;}
	}
}
.chest-db{display:none; position:absolute;  top:0;  width:494px;   box-sizing:border-box; font-size:15px;
	text-align:center;  z-index:20;
	$this:&;
	.invisible{overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);}
	// label.error + #{$this}__box{margin-top:5px;}
	&.is-active{display:block;}
	&__wrap{overflow:hidden; position:relative; padding:40px; box-sizing:border-box; background-color:#fff; border-radius:0 15px 15px 0;}
	&__close{overflow:hidden; position:absolute; top:0; right:0; width:50px; height:50px; text-indent:-9999px; background:url('../images/common/popup/popup_chest_close.png') #370487 no-repeat center center;}
	&__tit{margin:0; font-size:28px; color:#370487; font-weight:800;}
	&__txt{margin:10px 0 20px 0; color:#2d2d2d; letter-spacing:-1px;}
	&__box{position:relative; height:40px; margin-top:16px; border:1px solid #370487; box-sizing:border-box;
		&:first-child{margin-top:0;}
		&.type-radio{border:none;
			#{$this}__header{ border:1px solid #370487;
				&:after{display:none;}
			}
			#{$this}__body{padding-left:114px; padding-right:0;}
		}
	}
	&__header{overflow:hidden; position:absolute; width:104px; height:inherit; line-height:38px; padding-left:20px; box-sizing:border-box; text-align:left; color:#370487; font-weight:500;
		&:before{position:absolute; top:-28px; left:-28px; width:40px; height:40px; background-color:#370487; transform: rotate(45deg);content:'';}
		&:after{position:absolute; top:0; bottom:0; right:0; width:1px; height:20px; margin:auto 0;  background:#370487;  content:'';}
	}
	&__radio{display:inline-block; width:50%;}
	&__check{
		& + &{margin-top:6px;}
	}
	&__rel{position:relative; width:100%; height:100%;}
	&__body{position:relative; height:inherit; line-height:40px; padding-left:124px; padding-right:20px; box-sizing:border-box; font-size:0;}
	&__input{width:100%; height:38px; line-height:38px; border:none; border-radius: 0; -webkit-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; outline: 0;
		@include placeholder-color(#9c9c9c); font-size:14px;
	}
	&__bottom{margin-top:30px; text-align:left; color:#666;}
	&__terms{font-size:12px; color:#000; text-decoration:none;}
	&__btn{width:100%; height:44px; margin-top:15px; line-height:44px; background-color:#000; color:#fff; font-size:18px; font-weight:700; outline:0; border:none; cursor:pointer;
		&.is-active{background-color:#370487}
	}
	&__check{margin-top:2px;}
	@media only screen and (max-width:$mobile-size){width:100%;font-size:12px;
		label.error{font-size:11px;}
		&__area{ padding-right:6.25%; box-sizing:border-box; }
		&__tit{font-size:17px;}
		&__txt{margin:6px 0 10px; font-size:12px;}
		&__input{font-size:11px; height:30px; line-height:30px;}
		&__body{padding-left:78px; padding-right:10px; line-height:30px;}
		&__header{width:70px; padding-left:10px; line-height:30px;
			&:before{position:absolute; top:-30px; left:-30px; width:40px; height:40px; background-color:#370487; transform: rotate(45deg);content:'';}
		}
		&__box{height:32px; margin-top:12px;
			&.type-radio{border:none;
				#{$this}__header{
					&:after{display:none;}
				}
				#{$this}__body{padding-left:75px;}
			}
		}
		&__wrap{padding:20px 25px;}
		&__bottom{margin-top:34px; text-align:left; color:#666;}
		&__terms{font-size:11px;}
		&__btn{height:32px; font-size:13px; line-height:28px;}
		&__close{width:35px; height:35px; background:url('../images/common/popup/popup_chest_close_m.png') #370487 no-repeat center center / 35px 35px;}
	}
}


@media only screen { .chest-radio { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);}
	.chest-radio + label {display:block; width:100%; height:40px; font-size:16px; color:#9c9c9c; border:1px solid #9c9c9c; box-sizing:border-box; cursor:pointer;}
	.chest-radio:checked + label{background-color:#370487; border-color:#370487; color:#fff;}
	@media only screen and (max-width:$mobile-size){
		.chest-radio + label {height:32px; font-size:12px;}
	}
 }

.chest-radio + label + .chest-radio + label { margin-left: 10px;}
@media only screen and (max-width:$mobile-size){
	.chest-radio + label:after{top:6px;}
}

.chest-select{height:100%;
	$this:&;
	&.is-active{
		#{$this}__list{display:block;}
	}
	&__wrap{position:relative; height:100%;
		&:after {position:absolute; top:3px; bottom:0; right:0; margin:auto 0 ; display:block; height:0; border-left:4px solid transparent; border-top:6px solid #000; border-right:4px solid transparent; border-bottom:4px solid transparent; content:'';}
	}
	&__tit{display:block; font-size:14px; color:#9c9c9c; text-align:left; text-decoration:none;
		&.is-select{color:#000;}
	}
	&__list{display:none; position:absolute; top:38px; left:-1px; width:100%; margin:0; padding:0; background-color:#fff; border:1px solid #370487; border-top:none; z-index:10;
		&.is-active{display:block;}
	}
	&__item{height:30px; line-height:30px; list-style:none; cursor:pointer;
		&.is-active{background-color:#6d6d6d; color:#fff;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:12px;}
		&__list{top:28px;}
		&__item{height:28px; line-height:28px;}
	}
}

.chest-check + label { display: inline-block; margin-bottom: 0; line-height:18px;  }

@media only screen { .chest-check { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .chest-check + label { position: relative; margin-left: 0; padding-left: 24px; cursor: pointer; font-size: 12px; color: #666666; font-weight: 300; vertical-align:middle;} }
@media only screen and (max-width: 668px) { .chest-check + label { font-size: 12px; } }

@media only screen { .chest-check + label:before { position: absolute; top: -1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 18px; height: 18px; margin: auto; border: 1px solid #c1c1c1; content: ''; cursor: pointer; }
  .chest-check:checked + label:before { border:none; background: url("../images/common/popup/chest-popup_check.gif") no-repeat center center / cover;}
}
// @media only screen and (max-width:$mobile-size){
// 	.chest-check + label:before{top:1px; width:15px; height:15px;}
// 	.chest-check:checked + label:before { border:none; background: url("../images/common/consultaion/check_on1_m.gif"); background-size:15px 15px;}
// }

.chest-terms{display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:50;
	$this:&;
	&.is-active{display:block;}
	&__tit{margin:0; font-size:20px; font-weight:600; color:#370487;}
	&__box{margin-top:12px;  background: #ebebeb; border:1px solid #370487; box-sizing:border-box; font-size:14px; font-weight:400;
		& + #{$this}__tit{margin-top:20px;}
	}
	&__area{overflow:hidden; height:100%;}
	&__body{overflow:auto; height:100px;  padding:10px 5px; box-sizing:border-box;}
	&__wrap{overflow:hidden; position:relative; height:100%; padding:0 40px; border-radius:0 15px 15px 0; background-color:#fff;box-sizing:border-box;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; width:100%; height:100%; vertical-align:middle;}
	@media only screen and (max-width:$mobile-size){
		&__area{padding-right:6.25%;}
		&__tit{font-size:14px;}
		&__box{margin-top:5px; font-size:11px;
			& + #{$this}__tit{margin-top:10px;}
		}
		&__body{height:90px; padding:8px 5px;}
		&__wrap{padding:25px 20px;}
	}
}
label.error{display:block; margin-top:5px; text-align:left; color:#f61919; font-size:13px;}
//가슴검진팝업 끝
