<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>
<!-- 가슴검진팝업시작 -->
<a href="" class="chset-tag">
	<img src="../../images/common/popup/popup_chest_tag2.png" class="img-noraml hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest_tag2_m.png" class="img-noraml hidden-pt"alt=""/>
</a>
<div class="chest-popup is-active">
	<img src="../../images/common/popup/popup_chest3_1.png" class="img-w100 hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest3_1_m.png" class="img-w100 hidden-pt"alt=""/>
	<div class="chest-popup__wrap">
		<img src="../../images/common/popup/popup_chest3_2.png" class="img-w100 hidden-m"alt=""/>
		<img src="../../images/common/popup/popup_chest3_2_m.png" class="img-w100 hidden-pt"alt=""/>
		<a href="https://www.banobagi.com/program/programIn_alcl.php" class="chest-popup__btn" target="_blank">검진예약 바로가기</a>
	</div>
	<a href="" class="chest-popup__close">닫기</a>
	<img src="../../images/common/popup/popup_chest3_3.png" class="img-w100 hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest3_3_m.png" class="img-w100 hidden-pt"alt=""/>
</div>
<!-- //가슴검진팝업끝 -->


<div class="container type-main">
	<div class="main-visual">
		<!--메인팝업-->
		<!-- 첫번째 팝업 -->
		<!-- <div class="popup-m type-first">
			<div class="popup-m__wrap">
				<img src="../../images/common/popup/popup_alcl_1.jpg" alt="역형성대세포 림프종 진단안내" class="popup-m__img hidden-m">
				<img src="../../images/common/popup/popup_alcl_1_m.jpg" alt="역형성대세포 림프종 진단안내" class="popup-m__img hidden-pt">
				<div class="popup-m__box">
					<img src="../../images/common/popup/popup_alcl_2.jpg" alt="진단안내바로가기" class="popup-m__img hidden-m">
					<img src="../../images/common/popup/popup_alcl_2_m.jpg" alt="진단안내바로가기" class="popup-m__img hidden-pt">
					<a href="https://www.banobagi.com/program/programIn_alcl.php" target="_blank" class="popup-m__link">진단안내 바로가기</a>
				</div>
				<img src="../../images/common/popup/popup_alcl_3.jpg" alt="역형성대세포 림프종 진단안내" class="popup-m__img hidden-m">
				<img src="../../images/common/popup/popup_alcl_3_m.jpg" alt="역형성대세포 림프종 진단안내" class="popup-m__img hidden-pt">
				<div class="popup-m__bottom">
					<a href="" class="popup-m__close type-left  js-popup-m-today">오늘 하루 이 창을 열지 않습니다.</a>
					<a href="" class="popup-m__close type-right js-popup-m-close">닫기</a>
				</div>
			</div>
		</div> -->
		<!--//메인팝업-->
		<ul class="main-visual__list js-main-slider"">
			<li class="main-visual__item nth-1">
				비쥬얼 이미지1
			</li>
			<li class="main-visual__item nth-2">
				비쥬얼 이미지2
			</li>
			<li class="main-visual__item nth-3">
				비쥬얼 이미지3
			</li>
		</ul>
		<div class="main-visual__page"></div>
		<a href="" class="main-visual__btn type-prev js-main-prev"><span>PREV</span></a>
		<a href="" class="main-visual__btn type-next js-main-next"><span>NEXT</span></a>
	</div><!-- //main-visual -->
	<!-- pc용 -->

	<div class="clinic hidden-tm js-clinic">
		<ul class="clinic__list">
			<li class="clinic__item txt-shadow js-clinic__item nth-1">
				<div class="clinic__bg">
					<div class="clinic__wrap">
						<div class="clinic__inner">
							<p class="clinic__subtit">BANOBAGI BREAST CLINIC</p>
							<p class="clinic__tit"><strong class="clinic__point">벨라젤</strong> 가슴성형</p>
							<div class="clinic__hidden">
								<div class="clinic__box">
									<p class="clinic__txt">
										떠오르는 합리적인<br>
										인기 보형물<br>
										벨라젤
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="clinic__item txt-shadow js-clinic__item nth-2">
				<div class="clinic__bg">
					<div class="clinic__wrap">
						<div class="clinic__inner">
							<p class="clinic__subtit">BANOBAGI BREAST CLINIC</p>
							<p class="clinic__tit"><strong class="clinic__point">모티바</strong> 가슴성형</p>
							<div class="clinic__hidden">
								<div class="clinic__box">
									<p class="clinic__txt">
										가슴 보형물<br>
										장점의 집약<br>
										모티바
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="clinic__item txt-shadow js-clinic__item nth-3">
				<div class="clinic__bg">
					<div class="clinic__wrap">
						<div class="clinic__inner">
							<p class="clinic__subtit">BANOBAGI BREAST CLINIC</p>
							<p class="clinic__tit"><strong class="clinic__point">모티바</strong> 재수술</p>
							<div class="clinic__hidden">
								<div class="clinic__box">
									<p class="clinic__txt">
										부작용을 예방하여<br>
										재수술에도 적합한<br>
										모티바
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- mobile용 -->
	<div class="clinic hidden-p">
		<ul class="clinic__list js-list-slide">
			<li class="clinic__item nth-1">
				<div class="clinic__bg">
					<div class="clinic__wrap">
						<div class="clinic__inner">
							<p class="clinic__subtit">BANOBAGI BREAST CLINIC</p>
							<p class="clinic__tit"><strong class="clinic__point">벨라젤</strong> 가슴성형</p>
							<div class="clinic__hidden">
								<div class="clinic__box">
									<p class="clinic__txt">
										떠오르는 합리적인<br>
										인기 보형물<br>
										벨라젤
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="clinic__item nth-2">
				<div class="clinic__bg">
					<div class="clinic__wrap">
						<div class="clinic__inner">
							<p class="clinic__subtit">BANOBAGI BREAST CLINIC</p>
							<p class="clinic__tit"><strong class="clinic__point">모티바</strong> 가슴성형</p>
							<div class="clinic__hidden">
								<div class="clinic__box">
									<p class="clinic__txt">
										가슴 보형물<br>
										장점의 집약<br>
										모티바
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="clinic__item nth-3">
				<div class="clinic__bg">
					<div class="clinic__wrap">
						<div class="clinic__inner">
							<p class="clinic__subtit">BANOBAGI BREAST CLINIC</p>
							<p class="clinic__tit"><strong class="clinic__point">모티바</strong> 재수술</p>
							<div class="clinic__hidden">
								<div class="clinic__box">
									<p class="clinic__txt">
										부작용을 예방하여<br>
										재수술에도 적합한<br>
										모티바
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="main-banner main-box">
		<div class="content-wrap">
			<ul class="main-banner__list">
				<li class="main-banner__item nth-1">
					<div class="main-banner__bg">
						<div class="main-banner__box">
							<div class="main-banner__outer">
								<div class="main-banner__inner">
									<h3 class="main-banner__tit">Breast Total System</h3>
									<p class="main-banner__txt">
										가슴 정밀 진단과 성형, 후 관리, 그리고 검진까지<br>
										바노바기에서는 이 모든 것이 가능합니다.
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="main-banner__item nth-2">
					<div class="main-banner__bg">
						<div class="main-banner__box">
							<div class="main-banner__outer">
								<div class="main-banner__inner">
									<h3 class="main-banner__tit">의료진 소개</h3>
									<p class="main-banner__txt">
										풍부한 경험과 노하우를 갖춘 의료진으로 구성되어<br>
										보다 전문적인 가슴 관리를 제공합니다.
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="main-banner__item nth-3">
					<div class="main-banner__bg">
						<div class="main-banner__box">
							<div class="main-banner__outer">
								<div class="main-banner__inner">
									<h3 class="main-banner__tit">가슴건강검진</h3>
									<p class="main-banner__txt">
										일반외과 전문의가 전문 장비를 통해 직접 진료하여<br>
										가슴의 병변 발견과 치료까지 책임집니다.
									</p>
									<a href="" class="clinic__btn btn1 js-mouse-hover">
										<span>detail view</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="main-banner__item nth-4">
					<div class="content__video">
						<<iframe src="https://player.vimeo.com/video/344927278?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--//main-banner-->
	<div class="main-real main-box">
		<div class="content-wrap">
			<div class="main-real__wrap">
				<div class="real-best">
					<div class="real-best__outer js-mouse-hover">
						<div class="real-best__img">
							<img src="../../images/main/real_big_t.jpg" alt=""/>
						</div>
						<div class="real-best__box">
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<h3 class="real-best__tit"><img src="../../images/main/main_real_tit.png" alt="real story"/></h3>
							<p class="real-best__txt">모티바 재수술 실제사례자</p>
						</div>
						<a href="" class="main-real__link">자세히보기</a>
					</div>
				</div>
				<ul class="main-real__list">
					<li class="main-real__item js-mouse-hover">
						<div class="main-real__img">
							<img src="../../images/main/main_real_1.jpg" class="img-responsive" alt=""/>
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<a href="" class="main-real__link">자세히보기</a>
						</div>
					</li>
					<li class="main-real__item js-mouse-hover">
						<div class="main-real__img">
							<img src="../../images/main/main_real_1.jpg" class="img-responsive" alt=""/>
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<a href="" class="main-real__link">자세히보기</a>
						</div>
					</li>
					<li class="main-real__item js-mouse-hover">
						<div class="main-real__img">
							<img src="../../images/main/main_real_1.jpg" class="img-responsive" alt=""/>
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<a href="" class="main-real__link">자세히보기</a>
						</div>
					</li>
					<li class="main-real__item js-mouse-hover">
						<div class="main-real__img">
							<img src="../../images/main/main_real_1.jpg" class="img-responsive" alt=""/>
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<a href="" class="main-real__link">자세히보기</a>
						</div>
					</li>
					<li class="main-real__item js-mouse-hover">
						<div class="main-real__img">
							<img src="../../images/main/main_real_1.jpg" class="img-responsive" alt=""/>
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<a href="" class="main-real__link">자세히보기</a>
						</div>
					</li>
					<li class="main-real__item js-mouse-hover">
						<div class="main-real__img">
							<img src="../../images/main/main_real_1.jpg" class="img-responsive" alt=""/>
							<div class="main-real__icon"><span class="main-real__plus">플러스</span></div>
							<a href="" class="main-real__link">자세히보기</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-video main-box">
		<div class="content-wrap">
			<h3 class="content-video__tit">바노바기 유방클리닉의<br class="hidden-p"> 생생한 보형물 영상을 확인해보세요</h3>
			<p class="content-video__subtit">BANOBAGI BREAST CLINIC</p>
			<div class="content-video__wrap">
				<div class="content-video__area">
					<iframe src="https://www.youtube.com/embed/OetkLXZJbd8" class="content-video__iframe"></iframe>
				</div>
				<div class="content-video__box">
					<ul class="content-video__list">
						<li class="content-video__item is-active">
							<a href="" class="content-video__link" data-ytb-id="OetkLXZJbd8"><span>벨라젤 마이크로 보형물</span></a>
						</li>
						<li class="content-video__item">
							<a href="" class="content-video__link" data-ytb-id="-X2lpkmuw5A"><span>모티바 보형물</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="main-map main-box">
		<div class="main-map__area">
			<div id="map" class="main-map__map">
				<div class="map-motion__fake">
					<div class="map-motion__bg">
						<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
					</div>
				</div>
			</div>
		</div>
		<div class="main-map__outer">
			<div class="main-map__inner">
				<p class="main-map__tel">
					1588.6508 / 02.562.6001
				</p>
				<div class="main-map__box">
					<div class="main-map__vertical">
						<p class="main-map__time">
							<strong class="main-map__day">월 ~ 금</strong>
							9:30 ~ 18:30
						</p>
						<p class="main-map__time">
							<strong class="main-map__day">토요일</strong>
							9:30 ~ 16:00
						</p>


						<!-- <p class="main-map__time">
							<strong class="main-map__day">금요일</strong>
							9:30 ~ 20:00
							<span class="main-map__night">야간진료</span>
						</p> -->
					</div>
				</div>
				<div class="main-map__box">
					<div class="main-map__vertical">
						<p class="main-map__time">
							※ 공휴일 및 일요일은 휴진입니다.
						</p>
						<p class="main-map__time">
							(3/16, 4/20, 5/18, 6/15, 7/20 휴진)
						</p>
						<!-- <p class="main-map__time">
							<strong class="main-map__day">토요일</strong>
							9:30 ~ 16:00
						</p> -->


					</div>
				</div>
				<ul class="main-map__list">
					<li class="main-map__item">
						서울특별시 강남구 논현로 517 / 서울특별시 강남구 역삼동 641-9
					</li>
					<li class="main-map__item">
						역삼역 6번 출구 100m, 언주역 7번 출구 400m
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
