@charset "utf-8";

$font-Noto: 'Noto Sans KR', sans-serif;
$font-Eb:'NanumSquareEB', sans-serif;

$font-normal:'Nanum Square', sans-serif;


//mixin
@mixin background-image-retina($file, $type, $width, $height:null ) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx){
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }
@mixin block {
	&:before,
	&:after { clear:both; display:block; overflow:hidden; height:0; content:""; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
	&:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
	@supports (-webkit-line-clamp: $lines) {
		height:auto;
		&:after { content:none}
	}
}

@mixin img-wrap {
	&__img-wrap { overflow:hidden; position:relative; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
}

@mixin placeholder-color($place-color){
	&:-ms-input-placeholder { color: $place-color;}
	&::-webkit-input-placeholder { color: $place-color;}
	&::-moz-placeholder { color: $place-color;}
	&::-moz-placeholder { color: $place-color;}
}

$mobile-size:680px;
$tablet-size:1025px;
$minpc-size1:1700px;
$minpc-size2:1480px; //1280?
$minpc-size3:1180px;
$iphone-size:340px;
$minH-size:900px;

$thin:100;
$lightDown:200;
$light:300;
$regular :400;
$medium :500;
$bold:700;
$Ebold:800;

$black0:#000;
$black1:#ccc;
$black2:#333;
$black3:#666;
$black4:#999;

$point1:#f15b40;
$point2:#162035;
$point3:#ffcc8c;
