@charset "UTF-8";
@import "mixins";
.main-visual{position:relative;
    &__list{margin:0; padding:0;}
    &__item{overflow:hidden; width:100%; padding-bottom:52.08%; list-style:none; text-indent:-9999px; font-size:0;
        &.nth-1{background:url('../images/main/main_visual_1.jpg') no-repeat center center / cover;}
        &.nth-2{background:url('../images/main/main_visual_2.jpg') no-repeat center center / cover;}
        &.nth-3{background:url('../images/main/main_visual_3.jpg') no-repeat center center / cover;}
    }
    &__btn{position:absolute; top:50%; transform: translateY(-50%); font-size:13px; color:#fff; z-index:20; text-decoration:none; line-height:1;
        span{position:relative; display:block;
            &:before,&:after{position:absolute;  content:'';}
            &:before{bottom:2px; width:50px; height:0; border-bottom:1px solid #f2edea;}
            &:after{bottom:1px; width:0; height:8px; border-left:1px solid #f2edea; }
        }
        &.type-prev{left:50px;
            span{padding-left:60px;
                &:before{left:0;}
                &:after{left:2px; transform:rotate(45deg);}
            }
        }
        &.type-next{right:50px;
            span{padding-right:60px;
                &:before{right:0;}
                &:after{right:2px; transform:rotate(-45deg);}
            }
        }
    }
    &__page{position:absolute; left:0; right:0; bottom:60px;z-index:20; font-size:0; text-align:center;}
    &__bullet{display:inline-block; width:8px; height:8px; border-radius:50%; background:$black4; transition:width 0.3s; cursor:pointer;
        & + &{margin-left:5px;}
        &.is-active{width:40px; background:#fff; border-radius:4px;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__item{padding-bottom:130.55%;
            &.nth-1{background:url('../images/main/main_visual_1_t.jpg') no-repeat center center / cover;}
            &.nth-2{background:url('../images/main/main_visual_2_t.jpg') no-repeat center center / cover;}
            &.nth-3{background:url('../images/main/main_visual_3_t.jpg') no-repeat center center / cover;}
        }
        &__btn{display:none;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__page{bottom:25px;}
    }
}
.clinic{position:relative; overflow:hidden; height:0; width:100%; padding-bottom:52.08%;
    $this:&;
    &.type-mobile{padding-bottom:0;}
    &__list{position:absolute; top:0; left:0; height:100%; width:9999px; white-space:nowrap; word-break:break-all; margin:0; padding:0; height:100%; font-size:0;}
    &__item{overflow:hidden; display:inline-block; height:100%; width:33.33vw; list-style:none; vertical-align:top;
        &.nth-1{background:url('../images/main/main_clinic_1.jpg') no-repeat center center / cover;}
        &.nth-2{background:url('../images/main/main_clinic_2.jpg') no-repeat center center / cover;}
        &.nth-3{background:url('../images/main/main_clinic_3.jpg') no-repeat center center / cover;}
        &.is-active{
            #{$this}__hidden{position:static; height:auto; opacity:1;}
            #{$this}__txt{padding-top:126px;
                &:before{height:100px;}
            }
        }
        &.is-dark{
            #{$this}__bg{background:rgba(0,0,0,0.3);}
        }
    }
    &__wrap{display:table-cell; width: 1%;vertical-align:middle; text-align:center; }
    &__inner{color:#fff;}
    &__hidden{position:absolute; overflow:hidden;  color:#fff; text-align:left; box-sizing:border-box; white-space:nowrap; text-align:center; opacity:0;}
    &__box{position:relative; display:inline-block; box-sizing:border-box;
        &:before,&:after{position:absolute; display:block; width:16px; height:14px; content:'';}
        &:before{top:0; left:0; background:url('../images/main/q_icon1.png') no-repeat center center / contain;}
        &:after{bottom:0; right:0; background:url('../images/main/q_icon2.png') no-repeat center center / contain;}
    }
    &__tit{margin:14px 0 0 0; font-size:30px;}
    &__txt{overflow:hidden; position:relative;  margin:24px 0 0 0; padding-top:0px;  font-size:16px; line-height:1.625; box-sizing:border-box; transition: padding 0.3s;
        &:before{position:absolute; top:0; left:0; right:0; width:1px; height:0px; margin:auto; background-color:#fff; content:''; transition: height 0.3s;}
    }
    &__bg{display:inline-table; width:101%; width:calc(100% + 1px); height:100%; background:rgba(0,0,0,0); white-space:normal; word-break: keep-all; transition: bg 0.3s;}
    &__subtit{margin:0; font-size:14px; font-weight:$thin; color:#eee;}
    &__point{font-weight:$bold;}
    &__btn{margin-top:26px;}
    @media only screen and (max-width: $tablet-size) {margin-top:100px; height:auto !important; padding-bottom:0;
        &__subtit,&__inner,&__hidden{color:$black2;}
        &__wrap{display:block; width:100%; padding:60px 10px; border:1px solid $black1; box-sizing:border-box;}
        &__bg{position:relative; display:block; width:100%; padding-top:100%; background:none; background-color:#fff;
            &:before{position:absolute; top:0; left:0; display:block; width:100%; padding-bottom:100%; content:'';}
        }
        &__list{position:static; width:auto; white-space:normal;}
        &__item{position:relative; margin:0 25px; background:none !important;
            &:before{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; background:rgba(0,0,0,0.3); content:'';}
            &.nth-1{
                #{$this}__bg:before{background:url('../images/main/main_clinic_1.jpg') no-repeat center center / cover;}
            }
            &.nth-2{
                #{$this}__bg:before{background:url('../images/main/main_clinic_2.jpg') no-repeat center center / cover;}
            }
            &.nth-3{
                #{$this}__bg:before{background:url('../images/main/main_clinic_3.jpg') no-repeat center center / cover;}
            }
            &.slick-center:before{display:none;}
        }
        &__hidden{position:static; opacity:1;}
        &__txt{width:auto;}
    }
    @media only screen and (max-width: $mobile-size) {margin-top:50px;
        &__wrap{padding:30px 5px;}
        &__item{margin:0 8px;}
        &__subtit{font-size:1.1rem;}
        &__tit{margin-top:8px; font-size:2.8rem;}
        &__txt{ margin-top:10px; font-size:1.3rem;}
        &__btn{margin-top:14px;}
    }
}

.main-banner{
    $this:&;
    &__list{margin:0 0 0 -20px; padding:0; font-size:0; }
    &__item{overflow:hidden; display:inline-block; width:50%; padding-left:20px; list-style:none; vertical-align:top; box-sizing:border-box;
        &.nth-1{width:100%;
            #{$this}__bg{padding-bottom:35.15%; background:url('../images/main/main_banner_1.jpg') no-repeat center center / cover;}
        }
        &.nth-2{
            #{$this}__bg{background:url('../images/main/main_banner_2.jpg') no-repeat center center / cover;}
        }
        &.nth-3{
            #{$this}__bg{background:url('../images/main/main_banner_3.jpg') no-repeat center center / cover;}
        }
        &.nth-4{width:100%;}
        & + &{margin-top:20px;}
    }
    &__bg{position:relative; padding-bottom:71.42%; }
    &__box{position:absolute; top:0; left:0; width:100%; height:100%;}
    &__outer{display:inline-table; width:100%; height:100%; text-align:center; }
    &__inner{display:table-cell; height:100%; vertical-align:middle;}
    &__tit{margin:0; font-size:28px; font-weight:$regular; color:#fff;}
    &__txt{margin:16px 0 0; font-size:14px; color:#fff;}
    &__btn{margin:36px 0 0;}
    @media only screen and (max-width: $mobile-size) {
        &__item{width:100%;
            &.nth-1{
                #{$this}__bg{padding-bottom:71.42%; background:url('../images/main/main_banner_1_m.jpg') no-repeat center center / cover;}
            }
        }
        &__tit{font-size:2.1rem;}
        &__txt{margin-top:8px; font-size:1.3rem;}
    }
}

.main-real{padding:120px 0; background:#f1f1f1;
    $this:&;
    &__list{margin:0 0 0 0px;; padding:0 0 0 32.03%; box-sizing:border-box; font-size:0; }
    &__item{position:relative; display:inline-block; width:33.33%; padding-left:20px;  list-style:none; box-sizing:border-box; vertical-align:top;
        &:nth-child(3) ~ &{margin-top:20px;}
        &.is-active{
            #{$this}__img{
                .img-responsive{transform: scale(1.1);}
                &:before{opacity:1; }
            }
            #{$this}__icon{opacity:1;}
        }
    }
    &__wrap{position:relative;}
    &__img{overflow:hidden; position:relative; height:0; padding-bottom:122.22%;
        .img-responsive{transition: transform 0.3s;}
        &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:20; opacity: 0;background:rgba(0,0,0,0.2); content:'';}
    }
    &__icon{overflow:hidden; opacity:0; position:absolute; bottom:0; right:0; display:block; width:35px; height:35px; background:$black2; z-index:20; text-indent:-9999px; transition:all 0.3s;}
    &__plus{position:relative; display:block; width:100%; height:100%;
        &:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; content:'';}
        &:before{width:15px; height:0; border-top:1px solid #fff;}
        &:after{height:15px; width:0; border-left:1px solid #fff;}
    }
    &__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:50; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {padding:100px 0;
        &__list{margin:20px 0 0 -20px; padding:0;}
        &__icon{opacity: 1;}
    }
    @media only screen and (max-width: $mobile-size) {padding:50px 0;
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:20px;}
            &:nth-child(3) ~ &{margin-top:20px;}
        }
    }
}
.real-best{overflow:hidden; position:absolute; top:0; left:0; bottom:0; width:100%; padding-right:67.96%; box-sizing:border-box;
    $this:&;
    &__outer{overflow:hidden; position:relative; width:100%; height:100%;
        &.is-active{
            #{$this}__img{
                &:before{opacity:1;}
                img{transform: scale(1.1);}
            }
            .main-real__icon{opacity:1;}
        }
    }
    &__img{position:absolute; top:0; left:0; right:0; bottom:0;
        &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:20; opacity: 0;background:rgba(0,0,0,0.2); content:'';}
        img{position:absolute; top:0; left:0; width:100%; transition: transform 0.3s;}
    }
    &__box{position:absolute; left:0; right:0; bottom:0; padding:54px 10px; border:1px solid $black1; box-sizing:border-box; background:#fff;  text-align:center; z-index:30;}
    &__tit{margin:0;
        img{width:196px;}
    }
    &__txt{margin:10px 0 0 0; font-size:14px; color:$black4;}
    .main-real__icon{bottom:auto; top:0;}
    @media only screen and (max-width: $tablet-size) {position:static; padding-right:0;
        &__img{position:static;
            img{position:static;}
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &__box{padding:20px 5px;}
        &__tit{margin:0;
            img{width:148px;}
        }
        &__txt{margin:0;}
    }
}

.main-map{overflow:hidden; position:relative; height:600px;
    &__area{height:100%;}
    &__map{height:100%;}
    &__outer{position:absolute; top:80px; left:120px; display:inline-block; max-width:670px; width:100%;  font-size:0; z-index:10;}
    &__inner{padding:80px 40px; background-color:#fff; box-sizing:border-box;}
    &__tel{position:relative; margin:0; padding-left:66px; font-size:44px; color:$point1; letter-spacing:-1px; font-weight:$light;
        &:before{position:absolute; top:0; bottom:0; left:0; margin:auto 0; display:block; width:50px; height:50px; background:url('../../images/main/main_map_icon.png') no-repeat center center / cover; content:'';}
    }
    &__box{display:inline-block; width:50%; margin-top:40px; padding:0 20px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; vertical-align:top; box-sizing:border-box;
        & + &{border-left:1px solid #e5e5e5;}
    }
    &__vertical{display:table-cell; width:1%; height:110px; vertical-align: middle;}
    &__time{margin:0; font-size:16px;
        & + &{margin-top:10px;}
    }
    &__day{font-weight:$bold; margin-right:14px; vertical-align:middle;}
    &__night{display:inline-block; margin-left:8px; padding:2px 4px; font-size:12px; vertical-align:middle; border:1px solid $point1; color:$point1;}
    &__list{margin:30px 0 0 0; padding:0 20px; box-sizing:border-box;}
    &__item{position:relative; padding-left:12px; list-style:none; font-size:16px;
        &:before{position:absolute; top:7px; left:0; display:block; width:2px; height:2px; background:$black1; content:'';}
        & + &{margin-top:10px;}
    }
    @media only screen and (max-width: $tablet-size) {height:auto;
        &__area{position:relative; top:0; left:0; height:0; padding-bottom:83.33%;}
        &__map{position:absolute; top:0; left:0; width:100%; height:100%;}
        &__outer{position:relative; top:auto; left:auto; max-width:100%; margin-top:-60px; padding:0 40px; box-sizing:border-box;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__list{margin:0; padding:20px 10px 0;}
        &__item{font-size:1.3rem;}
        &__outer{margin-top:-30px; padding:0 20px;}
        &__inner{padding:30px 20px;}
        &__tel{padding-left:32px; font-size:2.2rem;
            &:before{width:25px; height:25px;}
        }
        &__box{width:100%; margin-top:12px; padding:20px 10px;
            &:first-of-type{ padding-bottom:0; border-bottom:none;}
            & + &{margin-top:5px; padding-top:0; border-top:none; border-left:none;}
        }
        &__time{font-size:1.3rem;
            & + &{margin-top:5px;}
        }
        &__vertical{display:block; width:auto; height:auto;}
    }
}

.marker{
	&__box{position:relative; top:-80px; padding:10px; background:#fff; border:1px solid #7681a8; box-sizing:border-box;
		&:after{position:absolute; bottom:-9px; left:0; right:0; display:block; width:11px; height:9px; margin:0 auto; background:url('../images/main/marker_arrow.png') no-repeat center center; content:'';}
	}
	&__txt{margin:0; font-size:16px; line-height:1.4; }
	@media only screen and (max-width: $mobile-size){padding:5px;
		&__txt{font-size:1.2rem;}
	}
}


.main-box{margin-top:120px;
    @media only screen and (max-width: $tablet-size) {margin-top:100px;}
    @media only screen and (max-width: $mobile-size) {margin-top:50px;}
}

.txt-shadow{text-shadow:1px 1px 10px rgba(0,0,0,.4)}

.map-motion{
	&__bg,&__fake{display:none;}
	@media only screen and (max-width:$tablet-size){
		&__bg{position:absolute; top:0; left:0; bottom:0; right:0; display:block; background-color:rgba(0,0,0,0.8); opacity:0; text-align:center; z-index:5; transition: opacity 0.8s;
            &.is-active{opacity:1;}
            &.is-important{display:none !important;}
        }
        &__fake{position:absolute; top:0; left:0; bottom:0; right:0; display:block; text-align:center; z-index:3; opacity:0.5;
            &.is-hide{display:none;}
        }
        &__noti{position:absolute; top:60%; left:0; right:0; font-size:1.8rem; margin:0 auto; color:#fff; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); font-weight:$bold;}
	}
}
