@charset "UTF-8";
@import "mixins";

.real{text-align: center;
    &__section{
        & + &{margin-top: 100px;}
    }
    &__step{display: inline-block;padding: 10px 28px;background-color: #162035;font-size: 20px;font-weight: $regular;color: #ffcc8c;}
    &__tit{margin: 26px 0 0;font-size: 30px;font-weight: $light;color: $black2;
        &.type-bf{position: relative;margin-top: 0;padding-top: 80px;
            &:before{content: '';position: absolute;top: 0;left: 0;right: 0;width: 54px;height: 54px;margin: auto;background: url(../images/real/real_icon_bf.png) 0 0/contain no-repeat;}
        }
    }
    &__box{margin-top: 36px;font-size: 0;
        img{width: 100%;}
        img + img{margin-top: 80px;}
    }
    &__noti{margin-top:36px; color:$black3; text-align:left;}
    @media only screen and (max-width: $mobile-size){
        &__section{
            & + &{margin-top: 40px;}
        }
        &__step{padding: 10px 17px;font-size: 1.5rem;}
        &__tit{margin-top: 18px;font-size: 2.0rem;
            &.type-bf{padding-top: 58px;
                &:before{width: 40px;height: 40px;}
            }
        }
        &__box{margin-top: 18px;
            img + img{margin-top: 20px;}
        }
         &__noti{margin-top:26px; text-align:center;}
    }
}

.real-visual{position: relative;height: 768px;overflow: hidden;
    .content-wrap{height: inherit;}

    &__img{position:absolute;left: 50%;width: 1920px;height: inherit;-ms-transform: translate(-50%);transform: translate(-50%);transform: translateX(-50%);}
    &__wrap{position: absolute;top: 120px;width: 100%;}
    &__box{padding-right: 62%;}
    &__tit{width: 295px;height: 152px;margin: 0;}
    &__subtit{margin-top: 28px;color: #fff;}

    &__list{margin: 38px 0 0;padding: 0;list-style: none;font-size: 0;}
    &__item{display: inline-block;height: 30px;padding: 0 20px;border: 2px solid #fff;background: rgba(255, 255, 255, 0.15);border-radius: 10px;color: #fff;vertical-align: middle;box-sizing: border-box;line-height: 1;
        &:after{content: '';display: inline-block;height: 100%;vertical-align: middle;}
        & + &{margin-left: 10px;}
        span{display: inline-block;vertical-align: middle;}
    }

    @media only screen and (max-width: $tablet-size){
        height: 0;padding-bottom: 96.4%;
        .content-wrap{padding-bottom: 96.4%;}

        &__wrap{top: 30px;left: 40px;}
        &__img{left: 0;width: 100%;height: 100%;transform: none;}
        &__box{padding-right: 45%;}
        &__tit{width: 167px;height: 86px;}
        &__subtit{margin-top: 15px;}

        &__list{margin-top: 16px;}
        &__item{padding: 0 16px;}
    }
    @media only screen and (max-width: $mobile-size){
        &__wrap{left: 20px;}
        &__box{padding-right: 18%;}
    }
}

.real-thum{position: absolute;bottom: 50px;margin: auto 0;padding: 0 38px;box-sizing: border-box;
    $this:&;

    &__list{margin: 0 0 0 -10px;padding: 0;list-style: none;font-size: 0;}
    &__item{display: inline-block;width: 9%;padding-left: 10px;box-sizing: border-box;}
    &__link{display: block;text-decoration: none;
        img{width: 100%;border: 0;}
    }

    @media only screen and (max-width: $tablet-size){
        padding: 0;left: 0;right: 0;bottom: 30px;
        &__list{margin: 0;overflow: visible;white-space: nowrap;}
        &__item{width: auto;padding: 0;
            & + &{margin-left: 30px;}
            &:first-of-type{margin-left:40px;}
            &:last-of-type{margin-right:40px;}
        }
        &__scroll{padding-bottom: 10px;overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;}
        &__link{width: 150px;height: 150px;}
    }
    @media only screen and (max-width: $mobile-size){
        bottom: 5px;
        &__item{
            & + &{margin-left: 15px;}
            &:first-of-type{margin-left:20px;}
            &:last-of-type{margin-right:20px;}
        }
        &__link{width: 75px;height: 75px;}
    }
}

.real-nav{display: none;
    $this: &;

    &.is-active{display: block;}

    &__btn{display: inline-block;position: fixed;left: 0;top: 70px;bottom: 73px;width: 70px;height: 70px;margin: auto;background: url(../images/real/real_nav_btn.png) center center/contain no-repeat;font-size: 0;text-indent: -999px;overflow: hidden;z-index: 105;
        &.type-next{left: auto;right: 0;transform: rotate(180deg);}
    }
    @media only screen and (max-width: $tablet-size){
        &__btn{top: 80px;bottom: 0;width: 60px;height: 60px;}
    }
    @media only screen and (max-width: $mobile-size){
        &__btn{top: 60px;width: 35px;height: 35px;}
    }
}
